In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

%matplotlib inline

In [2]:
### Importing dataset for weather.

bna_weather = pd.read_csv("../data/bna_weather.csv")
bna_weather.head()

                  Date   key        class  expire_time_gmt obs_id   obs_name  valid_time_gmt day_ind  temp  wx_icon  icon_extd      wx_phrase  pressure_tend   pressure_desc  dewPt  heat_index  rh  pressure   vis    wc   wdir wdir_cardinal  gust  wspd  max_temp  min_temp  precip_total  precip_hrly  snow_hrly uv_desc  feels_like  uv_index  qualifier  qualifier_svrty  blunt_phrase  terse_phrase clds  water_temp  primary_wave_period  primary_wave_height  primary_swell_period  primary_swell_height  primary_swell_direction  secondary_swell_period  secondary_swell_height  secondary_swell_direction
0  2021-11-01 00:53:00  KBNA  observation       1635753180   KBNA  Nashville      1635745980       N    51       26       2600         Cloudy            1.0          Rising     43          51  74     29.59  10.0  51.0  360.0             N   NaN   9.0      68.0      51.0           NaN          0.0        NaN     Low        51.0       0.0        NaN              NaN           NaN           NaN  OVC         NaN                  NaN                  NaN                   NaN                   NaN                      NaN                     NaN                     NaN                        NaN
1  2021-11-01 01:30:00  KBNA  observation       1635755400   KBNA  Nashville      1635748200       N    50       29       2900  Partly Cloudy            NaN             NaN     42          50  74     29.59  10.0  50.0  350.0             N   NaN   8.0       NaN       NaN           NaN          0.0        NaN     Low        50.0       0.0        NaN              NaN           NaN           NaN  SCT         NaN                  NaN                  NaN                   NaN                   NaN                      NaN                     NaN                     NaN                        NaN
2  2021-11-01 01:53:00  KBNA  observation       1635756780   KBNA  Nashville      1635749580       N    49       33       3300           Fair            NaN             NaN     42          49  77     29.59  10.0  47.0  350.0             N   NaN   6.0       NaN       NaN           NaN          0.0        NaN     Low        47.0       0.0        NaN              NaN           NaN           NaN  CLR         NaN                  NaN                  NaN                   NaN                   NaN                      NaN                     NaN                     NaN                        NaN
3  2021-11-01 02:53:00  KBNA  observation       1635760380   KBNA  Nashville      1635753180       N    48       33       3300           Fair            NaN             NaN     41          48  77     29.60  10.0  48.0  360.0             N   NaN   3.0       NaN       NaN           NaN          0.0        NaN     Low        48.0       0.0        NaN              NaN           NaN           NaN  CLR         NaN                  NaN                  NaN                   NaN                   NaN                      NaN                     NaN                     NaN                        NaN
4  2021-11-01 03:53:00  KBNA  observation       1635763980   KBNA  Nashville      1635756780       N    47       33       3300           Fair            1.0  Rising Rapidly     41          47  80     29.61  10.0  47.0    NaN          CALM   NaN   0.0       NaN       NaN           NaN          0.0        NaN     Low        47.0       0.0        NaN              NaN           NaN           NaN  CLR         NaN                  NaN                  NaN                   NaN                   NaN                      NaN                     NaN                     NaN                        NaN

In [3]:
np.shape(bna_weather)

(9739, 46)

In [4]:
### Importing dataset for all WeGo bus route information.

headway_data = pd.read_csv("../data/Headway Data.csv")
headway_data.head()

   CALENDAR_ID  SERVICE_ABBR  ADHERENCE_ID        DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID  OVERLOAD_ID ROUTE_DIRECTION_NAME TIME_POINT_ABBR  ROUTE_STOP_SEQUENCE  TRIP_EDGE   LATITUDE  LONGITUDE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV  ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  ADJUSTED_ONTIME_COUNT  STOP_CANCELLED  PREV_SCHED_STOP_CANCELLED  IS_RELIEF  BLOCK_STOP_ORDER  DWELL_IN_MINS
0    120211101             1      76447164  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN            HBHS                  4.0          1  36.107575 -86.812719     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333                     0                    0                      1               0                        0.0          0                 2      12.650000
1    120211101             1      76447165  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN            21BK                  3.0          0  36.138372 -86.800622     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333                     0                    0                      1               0                        0.0          0                11       0.000000
2    120211101             1      76447166  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN          MCC5_9                  2.0          2  36.167091 -86.781923     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN       NaN                     0                    1                      0               0                        NaN          0                23      22.416666
3    120211101             1      76447167  2021-11-01          50        1704      2088   297749            0          TO DOWNTOWN            MLKS                  7.0          1  36.161008 -86.800851     15:10:00            15:04:31              15:10:17    -0.283333             NaN          NaN       NaN                     0                    0                      1               0                        0.0          0                24       5.766666
4    120211101             1      76447168  2021-11-01          50        1704      2088   297749            0          TO DOWNTOWN         MCC5_11                  5.0          2  36.167091 -86.781923     15:27:00            15:16:59              15:16:59    10.016666             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                25       0.000000

In [5]:
np.shape(headway_data)

(1981715, 30)

In [6]:
### Rob & Kevin's code to filter by specific date and route:

# route7 = headway_data.loc[(headway_data['CALENDAR_ID'] == 120211101) & (headway_data['ROUTE_ABBR'] == 7)]
# route7

In [7]:
### Narrowing down the weather dataset.

# bna_narrow = bna_weather.drop(['water_temp','primary_wave_period','primary_wave_height','primary_swell_period','primary_swell_height','primary_swell_direction','secondary_swell_period'],axis=1)
# bna_narrow

In [8]:
### Narrowing down the weather dataset con't.

# bna_narrow = bna_narrow.drop(['secondary_swell_height','secondary_swell_direction','class','qualifier','qualifier_svrty','blunt_phrase','terse_phrase','uv_index'], axis=1)
# bna_narrow

In [9]:
headway_narrow = headway_data[['DATE','ROUTE_ABBR','BLOCK_ABBR','OPERATOR','TRIP_ID','ROUTE_DIRECTION_NAME','ROUTE_STOP_SEQUENCE','TRIP_EDGE','SCHEDULED_TIME','ACTUAL_ARRIVAL_TIME','ACTUAL_DEPARTURE_TIME','ADHERENCE','SCHEDULED_HDWY','ACTUAL_HDWY','HDWY_DEV']]
headway_narrow

               DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
0        2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  4.0          1     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333
1        2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  3.0          0     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333
2        2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  2.0          2     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN       NaN
3        2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  7.0          1     15:10:00            15:04:31              15:10:17    -0.283333             NaN          NaN       NaN
4        2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  5.0          2     15:27:00            15:16:59              15:16:59    10.016666             NaN          NaN       NaN
...             ...         ...         ...       ...      ...                  ...                  ...        ...            ...                 ...                   ...        ...             ...          ...       ...
1981710  2022-11-01          50        9302      2355   329980          TO DOWNTOWN                  3.0          2     15:18:00            15:19:43              15:20:44    -2.733333             NaN          NaN       NaN
1981711  2022-11-01          50        9950      1880   330003          TO DOWNTOWN                 10.0          1     15:20:00            14:57:12              15:07:06    12.900000            10.0     7.633333 -2.366667
1981712  2022-11-01          50        9950      1880   330003          TO DOWNTOWN                  4.0          2     15:37:00            15:10:16              15:10:16    26.733333             NaN          NaN       NaN
1981713  2022-11-01          56        9975      1922   330011          TO DOWNTOWN                  7.0          1     15:20:00            14:59:40              15:19:02     0.966666             0.0          NaN       NaN
1981714  2022-11-01          56        9975      1922   330011          TO DOWNTOWN                  2.0          2     15:30:00            15:26:05              15:27:46     2.233333             NaN          NaN       NaN

[1981715 rows x 15 columns]

In [10]:
# headway_operator = headway_narrow.groupby('OPERATOR')
# headway_operator.head()

In [11]:
headway_narrow['ADHERENCE'].corr(headway_narrow['ACTUAL_HDWY'])

-0.08644095025323165

In [12]:
late = headway_narrow[headway_narrow['ADHERENCE']<0]
late.head(50)

          DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY   HDWY_DEV
0   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  4.0          1     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333   1.983333
1   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  3.0          0     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333   3.333333
2   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  2.0          2     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN        NaN
3   2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  7.0          1     15:10:00            15:04:31              15:10:17    -0.283333             NaN          NaN        NaN
6   2021-11-01          22        2200      1352   298143          TO DOWNTOWN                 11.0          0     04:46:00            04:46:58              04:46:58    -0.966666             NaN          NaN        NaN
7   2021-11-01          22        2200      1352   298143          TO DOWNTOWN                  6.0          0     04:54:00            04:55:00              04:55:00    -1.000000             NaN          NaN        NaN
9   2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                  4.0          1     05:15:00            05:05:26              05:16:49    -1.816666             NaN          NaN        NaN
10  2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                  6.0          0     05:25:00            05:25:52              05:25:52    -0.866666             NaN          NaN        NaN
11  2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                 15.0          2     05:32:00            05:33:39              05:33:39    -1.650000             NaN          NaN        NaN
12  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 15.0          1     05:42:00            05:33:39              05:43:03    -1.050000            35.0    34.633333  -0.366667
13  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 11.0          0     05:46:00            05:48:15              05:48:15    -2.250000            35.0    35.866666   0.866666
14  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                  6.0          0     05:54:00            05:54:23              05:54:23    -0.383333            15.0    13.983333  -1.016667
16  2021-11-01          22        2200      1352   298151        FROM DOWNTOWN                  4.0          1     06:15:00            06:05:39              06:17:01    -2.016666            35.0    36.116666   1.116666
17  2021-11-01          22        2200      1352   298151        FROM DOWNTOWN                  6.0          0     06:25:00            06:26:17              06:26:17    -1.283333            15.0    15.400000   0.400000
19  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                 15.0          1     06:42:00            06:34:28              06:43:17    -1.283333            60.0    60.233333   0.233333
20  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                 11.0          0     06:46:00            06:53:40              06:53:40    -7.666666            60.0    65.416666   5.416666
21  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                  6.0          0     06:54:00            07:06:29              07:06:29   -12.483333            15.0    25.066666  10.066666
22  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                  4.0          2     07:10:00            07:16:14              07:16:14    -6.233333             NaN          NaN        NaN
23  2021-11-01          22        2200      1352   298152        FROM DOWNTOWN                  4.0          1     07:15:00            07:16:14              07:20:07    -5.116666            30.0    33.366666   3.366666
24  2021-11-01          22        2200      1352   298152        FROM DOWNTOWN                  6.0          0     07:25:00            07:29:45              07:29:45    -4.750000            15.0    11.333333  -3.666667
25  2021-11-01          22        2200      1352   298152        FROM DOWNTOWN                 11.0          0     07:31:00            07:36:49              07:36:49    -5.816666             NaN          NaN        NaN
26  2021-11-01          22        2200      1352   298152        FROM DOWNTOWN                 15.0          2     07:36:00            07:40:28              07:40:28    -4.466666             NaN          NaN        NaN
28  2021-11-01          22        2200      1352   298130          TO DOWNTOWN                  6.0          0     07:54:00            07:58:01              07:58:01    -4.016666            15.0    17.883333   2.883333
30  2021-11-01          22        2200      1352   298153        FROM DOWNTOWN                  4.0          1     08:15:00            08:09:52              08:19:12    -4.200000            30.0    31.183333   1.183333
31  2021-11-01          22        2200      1352   298153        FROM DOWNTOWN                  6.0          0     08:25:00            08:31:47              08:31:47    -6.783333            15.0    19.800000   4.800000
32  2021-11-01          22        2200      1352   298153        FROM DOWNTOWN                 15.0          2     08:35:00            08:41:36              08:41:36    -6.600000             NaN          NaN        NaN
33  2021-11-01          22        2200      1352   298131          TO DOWNTOWN                 15.0          1     08:45:00            08:41:36              08:45:13    -0.216666            60.0    60.400000   0.400000
34  2021-11-01          22        2200      1352   298131          TO DOWNTOWN                  6.0          0     08:54:00            08:55:59              08:55:59    -1.983333            15.0    14.916666  -0.083334
36  2021-11-01          22        2200      1352   298147        FROM DOWNTOWN                  4.0          1     09:15:00            09:05:44              09:18:37    -3.616666            30.0    27.683333  -2.316667
37  2021-11-01          22        2200      1352   298147        FROM DOWNTOWN                  6.0          0     09:26:00            09:29:07              09:29:07    -3.116666            16.0    18.433333   2.433333
38  2021-11-01          22        2200      1352   298147        FROM DOWNTOWN                 15.0          2     09:36:00            09:37:54              09:37:54    -1.900000             NaN          NaN        NaN
39  2021-11-01          22        2200      1352   298132          TO DOWNTOWN                 15.0          1     09:40:00            09:37:54              09:40:05    -0.083333            55.0    54.866666  -0.133334
40  2021-11-01          22        2200      1352   298132          TO DOWNTOWN                  6.0          0     09:49:00            09:49:23              09:49:23    -0.383333            10.0    10.083333   0.083333
42  2021-11-01          22        2200      1194   298158        FROM DOWNTOWN                  4.0          1     10:10:00            10:01:44              10:11:34    -1.566666            25.0    24.000000  -1.000000
43  2021-11-01          22        2200      1194   298158        FROM DOWNTOWN                  6.0          0     10:21:00            10:23:18              10:23:18    -2.300000            10.0    11.400000   1.400000
44  2021-11-01          22        2200      1194   298158        FROM DOWNTOWN                 10.0          2     10:25:00            10:26:11              10:26:11    -1.183333             NaN          NaN        NaN
47  2021-11-01          22        2200      1194   298136          TO DOWNTOWN                  8.0          0     10:52:00            10:52:37              10:52:37    -0.616666            50.0    51.200000   1.200000
48  2021-11-01          22        2200      1194   298136          TO DOWNTOWN                  6.0          0     10:59:00            10:59:26              10:59:26    -0.433333            10.0     7.566666  -2.433334
50  2021-11-01          22        2200      1194   298154        FROM DOWNTOWN                  4.0          1     11:25:00            11:07:00              11:26:36    -1.600000            25.0    24.716666  -0.283334
51  2021-11-01          22        2200      1194   298154        FROM DOWNTOWN                  6.0          0     11:37:00            11:37:53              11:37:53    -0.883333            11.0     6.483333  -4.516667
56  2021-11-01          22        2200      1194   298159        FROM DOWNTOWN                  4.0          1     12:40:00            12:23:53              12:41:30    -1.500000            25.0    24.283333  -0.716667
57  2021-11-01          22        2200      1194   298159        FROM DOWNTOWN                  6.0          0     12:52:00            12:52:05              12:52:05    -0.083333            10.0     4.216666  -5.783334
58  2021-11-01          22        2200      1194   298159        FROM DOWNTOWN                 10.0          0     12:56:00            12:56:22              12:56:22    -0.366666            50.0    50.266666   0.266666
64  2021-11-01          22        2200      1194   298155        FROM DOWNTOWN                  4.0          1     13:55:00            13:37:24              13:56:46    -1.766666            25.0    24.583333  -0.416667
65  2021-11-01          22        2200      1194   298155        FROM DOWNTOWN                  6.0          0     14:07:00            14:09:01              14:09:01    -2.016666            10.0    11.700000   1.700000
66  2021-11-01          22        2200      1194   298155        FROM DOWNTOWN                 15.0          2     14:17:00            14:17:17              14:17:17    -0.283333             NaN          NaN        NaN
68  2021-11-01          22        2200      1194   298134          TO DOWNTOWN                  6.0          0     14:44:00            14:44:48              14:44:48    -0.800000            10.0     2.466666  -7.533334
70  2021-11-01          22        2200      1194   298160        FROM DOWNTOWN                  4.0          1     15:10:00            14:52:48              15:11:30    -1.500000            25.0    22.150000  -2.850000
72  2021-11-01          22        2200      1194   298160        FROM DOWNTOWN                 10.0          0     15:27:00            15:27:26              15:27:26    -0.433333            50.0    49.100000  -0.900000
73  2021-11-01          22        2200      1194   298160        FROM DOWNTOWN                 13.0          0     15:37:00            15:37:29              15:37:29    -0.483333            50.0    47.250000  -2.750000

In [13]:
### For merging both datasets for question 8.
### need to rename the 'DATE' on headway_data to 'Date'.

# wegobusandweather = pd.merge(headway_data, bna_weather, how = 'left', on = 'DATE')

In [14]:
late_clean = late.dropna()

In [15]:
# for loop that shows the unique operator IDs. There are 458.

def unique(operator):
    unique_operator= []
    for i in operator:
        if i not in unique_operator:
            unique_operator.append(i)
    for i in unique_operator:
        print (i),
        
operator = headway_data['OPERATOR']
unique(operator)

2088
1352
1194
1652
1206
1386
1300
1222
1762
1733
785
366
1383
1277
1394
1807
306
1462
1823
1147
2253
1763
409
1927
725
1307
2322
2368
1611
2207
1208
2349
471
1020
1984
1379
907
1578
1782
1796
1904
2312
664
1838
1293
2208
310
1305
2041
446
1650
1493
2000
1280
1419
2027
1390
2371
572
1052
719
1214
2062
1198
2119
2126
332
2055
1542
1036
639
1505
2311
1359
1597
2102
2178
1716
1603
557
1788
778
329
1251
1815
1228
2151
1158
1202
2221
2109
2217
1743
1814
465
2035
2306
2098
2294
1749
1489
1330
1997
1271
2289
2012
1730
1268
1842
1175
2053
357
1540
2399
1361
611
375
2400
1704
1780
1211
1177
1866
359
2138
2137
2112
723
1410
1133
2410
2247
2164
2186
2421
2059
1880
1391
2040
2347
1256
1382
653
2439
1401
1617
459
2309
1938
1587
1965
1389
1992
2448
1867
1736
1237
1970
2125
1195
1433
2094
2362
1797
520
1566
1590
1897
2437
1500
1204
391
2127
1420
1577
1800
1805
1593
2052
414
2033
2228
1934
2328
1761
2374
1958
396
2177
1598
2324
1792
1372
1893
2352
2058
2103
1865
1983
2246
2275
1822
0
2321
2082
1824
2256
1524
2435
1154
1971
2436
2019
2420
732
624
2202
2301
1914
1040
2348
2200
2409
1948
659
326
2230
1616
1752
1457
341
386
473
1619
2440
1363
2373
370
2069
301
1713
1368
1567
1915
2219
645
2423
1266
1427
1804
2426
2254
2430
2458
1922
2021
1406
2225
1717
2464
1756
85
1703
195
93
2338
2459
436
2441
548
2453
2424
2427
2037
2273
1596
558
1016
1582
2457
1039
2465
2487
2355
2154
2486
1315
1944
2335
2469
2478
559
2471
2479
2475
2477
2488
2472
1601
1336
2476
2490
782
2485
2481
2468
2444
2480
2167
2238
2497
1935
2494
2495
2496
86
1854
1201
2493
2017
2505
1719
2188
2166
2500
1120
2169
2512
2513
2501
304
379
1168
1108
522
1623
2029
1343
1170
1046
786
1239
2503
1066
2160
1892
433
2511
1705
1812
2313
1078
2296
2005
2161
1747
1190
2522
2534
2514
22554
2530
2529
315
1909
1144
30
517
1471
2545
1254
2535
1901
2546
1923
2536
2548
2141
2310
2559
2553
2549
2552
1260
2547
2544
2557
235
2560
1378
2337
2561
2573
2567
2569
1565
2091
1436
2562
2584
2357
2574
439
2576
2579
1686
2586
2597
2580
2089
2577
2590
1843
2377
2323
623
1416
2600
2587
2588
2585
2537
2595
2594
2575
2606
2603
1459
401
230
2038
2596
2353
2605
2450
242
1456
2609
2610
1845
700
2608
1327
675
1226
1403
2428
2607
2623
2622
2618
1233
2630
2305
212
1599
2624
1924

In [16]:
# grouping the buses by headway.

late_bus=headway_data[headway_data['HDWY_DEV']>0]
early_bus=headway_data[headway_data['HDWY_DEV']<0]
on_time=headway_data[headway_data['HDWY_DEV']==0]

In [17]:
# late_bus.dropna()

In [18]:
# early_bus.dropna()

In [19]:
# on_time.dropna()

In [20]:
# Average lateness of the late WeGo buses.

late['ADHERENCE'].mean()

-3.341840349106669

In [21]:
#Average lateness of overall WeGo busses.

headway_narrow['ADHERENCE'].mean()

-2.193848688572686

In [22]:
# Average lateness of the late WeGo buses, with null values dropped.

late_clean['ADHERENCE'].mean()

-3.177054987470012

In [23]:
# Intentional nulls (last stop)

late_in = headway_data.loc[headway_data['TRIP_EDGE'] == 2, 'SCHEDULED_HDWY']
late_in.isnull().sum()

387186

In [24]:
# Unintentional nulls

tripedgetest = headway_data.loc[headway_data['TRIP_EDGE'] != 2, 'SCHEDULED_HDWY']
tripedgetest.isnull().sum()

45108

In [25]:
headway_data_nulls=headway_data[~((headway_data['TRIP_EDGE']!=2)&(headway_data['SCHEDULED_HDWY'].isna()))]
headway_data_nulls

         CALENDAR_ID  SERVICE_ABBR  ADHERENCE_ID        DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID  OVERLOAD_ID ROUTE_DIRECTION_NAME TIME_POINT_ABBR  ROUTE_STOP_SEQUENCE  TRIP_EDGE   LATITUDE  LONGITUDE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV  ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  ADJUSTED_ONTIME_COUNT  STOP_CANCELLED  PREV_SCHED_STOP_CANCELLED  IS_RELIEF  BLOCK_STOP_ORDER  DWELL_IN_MINS
0          120211101             1      76447164  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN            HBHS                  4.0          1  36.107575 -86.812719     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333                     0                    0                      1               0                        0.0          0                 2      12.650000
1          120211101             1      76447165  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN            21BK                  3.0          0  36.138372 -86.800622     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333                     0                    0                      1               0                        0.0          0                11       0.000000
2          120211101             1      76447166  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN          MCC5_9                  2.0          2  36.167091 -86.781923     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN       NaN                     0                    1                      0               0                        NaN          0                23      22.416666
4          120211101             1      76447168  2021-11-01          50        1704      2088   297749            0          TO DOWNTOWN         MCC5_11                  5.0          2  36.167091 -86.781923     15:27:00            15:16:59              15:16:59    10.016666             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                25       0.000000
8          120211101             1      76447972  2021-11-01          22        2200      1352   298143            0          TO DOWNTOWN         MCC5_12                  4.0          2  36.167091 -86.781923     05:10:00            05:05:26              05:05:26     4.566666             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                35       0.000000
...              ...           ...           ...         ...         ...         ...       ...      ...          ...                  ...             ...                  ...        ...        ...        ...            ...                 ...                   ...        ...             ...          ...       ...                   ...                  ...                    ...             ...                        ...        ...               ...            ...
1981710    120221101             1      91057724  2022-11-01          50        9302      2355   329980            0          TO DOWNTOWN         MCC4_20                  3.0          2  36.167091 -86.781923     15:18:00            15:19:43              15:20:44    -2.733333             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                 3       1.016666
1981711    120221101             1      91057851  2022-11-01          50        9950      1880   330003            0          TO DOWNTOWN            MLKS                 10.0          1  36.161008 -86.800851     15:20:00            14:57:12              15:07:06    12.900000            10.0     7.633333 -2.366667                     1                    0                      0               0                        0.0          0                 2       9.900000
1981712    120221101             1      91057852  2022-11-01          50        9950      1880   330003            0          TO DOWNTOWN         MCC5_11                  4.0          2  36.167091 -86.781923     15:37:00            15:10:16              15:10:16    26.733333             NaN          NaN       NaN                     1                    0                      0               0                        NaN          0                 3       0.000000
1981713    120221101             1      91057881  2022-11-01          56        9975      1922   330011            0          TO DOWNTOWN            MEIG                  7.0          1  36.176017 -86.760399     15:20:00            14:59:40              15:19:02     0.966666             0.0          NaN       NaN                     0                    0                      1               0                        0.0          0                 2      19.366666
1981714    120221101             1      91057882  2022-11-01          56        9975      1922   330011            0          TO DOWNTOWN         MCC4_20                  2.0          2  36.167091 -86.781923     15:30:00            15:26:05              15:27:46     2.233333             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                 3       1.683333

[1936607 rows x 30 columns]

In [26]:
np.shape(headway_data_nulls)

(1936607, 30)