In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
### Importing dataset for weather.

bna_weather = pd.read_csv("../data/bna_weather.csv")
bna_weather.head()

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
np.shape(bna_weather)

(9739, 46)

In [4]:
### Importing dataset for all WeGo bus route information.

headway_data = pd.read_csv("../data/Headway Data.csv")
headway_data.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000

In [5]:
np.shape(headway_data)

(1981715, 30)

In [6]:
### Rob & Kevin's code to filter by specific date and route:

route7 = headway_data.loc[(headway_data['CALENDAR_ID'] == 120211101) & (headway_data['ROUTE_ABBR'] == 7)]
route7

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
1647,120211101,1,76450453,2021-11-01,7,4101,2312,299431,0,TO DOWNTOWN,...,22.233333,7.233333,0,1,0,0,0.0,0,2,9.483333
1648,120211101,1,76450454,2021-11-01,7,4101,2312,299431,0,TO DOWNTOWN,...,23.200000,8.200000,0,1,0,0,0.0,0,11,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5903,120211101,1,76455665,2021-11-01,7,706,2186,301352,0,TO DOWNTOWN,...,21.466666,3.466666,0,0,1,0,0.0,0,60,0.000000
5904,120211101,1,76455666,2021-11-01,7,706,2186,301352,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,72,0.000000
5905,120211101,1,76455667,2021-11-01,7,706,2186,301350,0,FROM DOWNTOWN,...,13.550000,-1.450000,0,0,1,0,0.0,0,73,7.700000
5906,120211101,1,76455668,2021-11-01,7,706,2186,301350,0,FROM DOWNTOWN,...,19.450000,5.450000,0,0,1,0,0.0,0,85,0.000000
5907,120211101,1,76455669,2021-11-01,7,706,2186,301350,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,99,0.000000

In [7]:
### Narrowing down the weather dataset.

bna_narrow = bna_weather.drop(['water_temp','primary_wave_period','primary_wave_height','primary_swell_period','primary_swell_height','primary_swell_direction','secondary_swell_period'],axis=1)
bna_narrow

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,uv_desc,feels_like,uv_index,qualifier,qualifier_svrty,blunt_phrase,terse_phrase,clds,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,Low,51.0,0.0,NaN,NaN,NaN,NaN,OVC,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,Low,50.0,0.0,NaN,NaN,NaN,NaN,SCT,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,Low,47.0,0.0,NaN,NaN,NaN,NaN,CLR,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,Low,48.0,0.0,NaN,NaN,NaN,NaN,CLR,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,Low,47.0,0.0,NaN,NaN,NaN,NaN,CLR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31 19:53:00,KBNA,observation,1667271180,KBNA,Nashville,1667263980,N,60,26,...,Low,60.0,0.0,NaN,NaN,NaN,NaN,OVC,NaN,NaN
9735,2022-10-31 20:53:00,KBNA,observation,1667274780,KBNA,Nashville,1667267580,N,60,26,...,Low,60.0,0.0,NaN,NaN,NaN,NaN,OVC,NaN,NaN
9736,2022-10-31 21:53:00,KBNA,observation,1667278380,KBNA,Nashville,1667271180,N,58,27,...,Low,58.0,0.0,NaN,NaN,NaN,NaN,BKN,NaN,NaN
9737,2022-10-31 22:53:00,KBNA,observation,1667281980,KBNA,Nashville,1667274780,N,60,27,...,Low,60.0,0.0,NaN,NaN,NaN,NaN,BKN,NaN,NaN
9738,2022-10-31 23:53:00,KBNA,observation,1667285580,KBNA,Nashville,1667278380,N,60,26,...,Low,60.0,0.0,NaN,NaN,NaN,NaN,OVC,NaN,NaN

In [8]:
### Narrowing down the weather dataset con't.

bna_narrow = bna_narrow.drop(['secondary_swell_height','secondary_swell_direction','class','qualifier','qualifier_svrty','blunt_phrase','terse_phrase','uv_index'], axis=1)
bna_narrow

,Date,key,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,gust,wspd,max_temp,min_temp,precip_total,precip_hrly,snow_hrly,uv_desc,feels_like,clds
0,2021-11-01 00:53:00,KBNA,1635753180,KBNA,Nashville,1635745980,N,51,26,2600,...,NaN,9.0,68.0,51.0,NaN,0.00,NaN,Low,51.0,OVC
1,2021-11-01 01:30:00,KBNA,1635755400,KBNA,Nashville,1635748200,N,50,29,2900,...,NaN,8.0,NaN,NaN,NaN,0.00,NaN,Low,50.0,SCT
2,2021-11-01 01:53:00,KBNA,1635756780,KBNA,Nashville,1635749580,N,49,33,3300,...,NaN,6.0,NaN,NaN,NaN,0.00,NaN,Low,47.0,CLR
3,2021-11-01 02:53:00,KBNA,1635760380,KBNA,Nashville,1635753180,N,48,33,3300,...,NaN,3.0,NaN,NaN,NaN,0.00,NaN,Low,48.0,CLR
4,2021-11-01 03:53:00,KBNA,1635763980,KBNA,Nashville,1635756780,N,47,33,3300,...,NaN,0.0,NaN,NaN,NaN,0.00,NaN,Low,47.0,CLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31 19:53:00,KBNA,1667271180,KBNA,Nashville,1667263980,N,60,26,2600,...,NaN,3.0,NaN,NaN,NaN,0.03,NaN,Low,60.0,OVC
9735,2022-10-31 20:53:00,KBNA,1667274780,KBNA,Nashville,1667267580,N,60,26,2600,...,NaN,0.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,OVC
9736,2022-10-31 21:53:00,KBNA,1667278380,KBNA,Nashville,1667271180,N,58,27,2700,...,NaN,3.0,NaN,NaN,NaN,0.00,NaN,Low,58.0,BKN
9737,2022-10-31 22:53:00,KBNA,1667281980,KBNA,Nashville,1667274780,N,60,27,2700,...,NaN,5.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,BKN
9738,2022-10-31 23:53:00,KBNA,1667285580,KBNA,Nashville,1667278380,N,60,26,2600,...,NaN,3.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,OVC

In [10]:
headway_narrow = headway_data[['DATE','ROUTE_ABBR','BLOCK_ABBR','OPERATOR','TRIP_ID','ROUTE_DIRECTION_NAME','ROUTE_STOP_SEQUENCE','TRIP_EDGE','SCHEDULED_TIME','ACTUAL_ARRIVAL_TIME','ACTUAL_DEPARTURE_TIME','ADHERENCE','SCHEDULED_HDWY','ACTUAL_HDWY','HDWY_DEV']]
headway_narrow

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,ROUTE_STOP_SEQUENCE,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,4.0,1,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333
1,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,3.0,0,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333
2,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,2.0,2,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN
3,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,7.0,1,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN
4,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,5.0,2,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,2022-11-01,50,9302,2355,329980,TO DOWNTOWN,3.0,2,15:18:00,15:19:43,15:20:44,-2.733333,NaN,NaN,NaN
1981711,2022-11-01,50,9950,1880,330003,TO DOWNTOWN,10.0,1,15:20:00,14:57:12,15:07:06,12.900000,10.0,7.633333,-2.366667
1981712,2022-11-01,50,9950,1880,330003,TO DOWNTOWN,4.0,2,15:37:00,15:10:16,15:10:16,26.733333,NaN,NaN,NaN
1981713,2022-11-01,56,9975,1922,330011,TO DOWNTOWN,7.0,1,15:20:00,14:59:40,15:19:02,0.966666,0.0,NaN,NaN
1981714,2022-11-01,56,9975,1922,330011,TO DOWNTOWN,2.0,2,15:30:00,15:26:05,15:27:46,2.233333,NaN,NaN,NaN

In [11]:
headway_operator = headway_narrow.groupby('OPERATOR')
headway_operator.head()

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,ROUTE_STOP_SEQUENCE,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,4.0,1,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333
1,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,3.0,0,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333
2,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,2.0,2,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN
3,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,7.0,1,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN
4,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,5.0,2,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978466,2022-11-01,52,5204,1924,328062,FROM DOWNTOWN,2.0,1,23:15:00,23:09:36,23:16:32,-1.533333,20.0,0.000000,-20.000000
1978467,2022-11-01,52,5204,1924,328062,FROM DOWNTOWN,3.0,0,23:29:00,NaN,NaN,NaN,20.0,NaN,NaN
1978468,2022-11-01,52,5204,1924,328062,FROM DOWNTOWN,4.0,0,23:33:00,NaN,NaN,NaN,19.0,NaN,NaN
1978469,2022-11-01,52,5204,1924,328062,FROM DOWNTOWN,5.0,0,23:41:00,NaN,NaN,NaN,19.0,NaN,NaN
1978470,2022-11-01,52,5204,1924,328062,FROM DOWNTOWN,8.0,0,23:50:00,NaN,NaN,NaN,NaN,NaN,NaN