In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
bna_weather = pd.read_csv("../data/bna_weather.csv")
bna_weather.head()

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
np.shape(bna_weather)

(9739, 46)

In [4]:
headway_data = pd.read_csv("../data/Headway Data.csv")
headway_data.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000

In [9]:
np.shape(headway_data)

(1981715, 30)

In [6]:
### Rob & Kevin's code:
rob = headway_data.loc[(headway_data['CALENDAR_ID'] == 120211101) & (headway_data['ROUTE_ABBR'] == 7)]

In [21]:
bna_narrow = bna_weather.drop(['water_temp','primary_wave_period','primary_wave_height','primary_swell_period','primary_swell_height','primary_swell_direction','secondary_swell_period'],axis=1)
bna_narrow

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,uv_desc,feels_like,uv_index,qualifier,qualifier_svrty,blunt_phrase,terse_phrase,clds,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,Low,51.0,0.0,NaN,NaN,NaN,NaN,OVC,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,Low,50.0,0.0,NaN,NaN,NaN,NaN,SCT,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,Low,47.0,0.0,NaN,NaN,NaN,NaN,CLR,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,Low,48.0,0.0,NaN,NaN,NaN,NaN,CLR,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,Low,47.0,0.0,NaN,NaN,NaN,NaN,CLR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31 19:53:00,KBNA,observation,1667271180,KBNA,Nashville,1667263980,N,60,26,...,Low,60.0,0.0,NaN,NaN,NaN,NaN,OVC,NaN,NaN
9735,2022-10-31 20:53:00,KBNA,observation,1667274780,KBNA,Nashville,1667267580,N,60,26,...,Low,60.0,0.0,NaN,NaN,NaN,NaN,OVC,NaN,NaN
9736,2022-10-31 21:53:00,KBNA,observation,1667278380,KBNA,Nashville,1667271180,N,58,27,...,Low,58.0,0.0,NaN,NaN,NaN,NaN,BKN,NaN,NaN
9737,2022-10-31 22:53:00,KBNA,observation,1667281980,KBNA,Nashville,1667274780,N,60,27,...,Low,60.0,0.0,NaN,NaN,NaN,NaN,BKN,NaN,NaN
9738,2022-10-31 23:53:00,KBNA,observation,1667285580,KBNA,Nashville,1667278380,N,60,26,...,Low,60.0,0.0,NaN,NaN,NaN,NaN,OVC,NaN,NaN

In [22]:
bna_narrow = bna_narrow.drop(['secondary_swell_height','secondary_swell_direction','class','qualifier','qualifier_svrty','blunt_phrase','terse_phrase','uv_index'], axis=1)
bna_narrow

,Date,key,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,gust,wspd,max_temp,min_temp,precip_total,precip_hrly,snow_hrly,uv_desc,feels_like,clds
0,2021-11-01 00:53:00,KBNA,1635753180,KBNA,Nashville,1635745980,N,51,26,2600,...,NaN,9.0,68.0,51.0,NaN,0.00,NaN,Low,51.0,OVC
1,2021-11-01 01:30:00,KBNA,1635755400,KBNA,Nashville,1635748200,N,50,29,2900,...,NaN,8.0,NaN,NaN,NaN,0.00,NaN,Low,50.0,SCT
2,2021-11-01 01:53:00,KBNA,1635756780,KBNA,Nashville,1635749580,N,49,33,3300,...,NaN,6.0,NaN,NaN,NaN,0.00,NaN,Low,47.0,CLR
3,2021-11-01 02:53:00,KBNA,1635760380,KBNA,Nashville,1635753180,N,48,33,3300,...,NaN,3.0,NaN,NaN,NaN,0.00,NaN,Low,48.0,CLR
4,2021-11-01 03:53:00,KBNA,1635763980,KBNA,Nashville,1635756780,N,47,33,3300,...,NaN,0.0,NaN,NaN,NaN,0.00,NaN,Low,47.0,CLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31 19:53:00,KBNA,1667271180,KBNA,Nashville,1667263980,N,60,26,2600,...,NaN,3.0,NaN,NaN,NaN,0.03,NaN,Low,60.0,OVC
9735,2022-10-31 20:53:00,KBNA,1667274780,KBNA,Nashville,1667267580,N,60,26,2600,...,NaN,0.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,OVC
9736,2022-10-31 21:53:00,KBNA,1667278380,KBNA,Nashville,1667271180,N,58,27,2700,...,NaN,3.0,NaN,NaN,NaN,0.00,NaN,Low,58.0,BKN
9737,2022-10-31 22:53:00,KBNA,1667281980,KBNA,Nashville,1667274780,N,60,27,2700,...,NaN,5.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,BKN
9738,2022-10-31 23:53:00,KBNA,1667285580,KBNA,Nashville,1667278380,N,60,26,2600,...,NaN,3.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,OVC