Wego! 

Questions to answer - 

3. How closely does lateness (ADHERENCE) correlate to headway?

8. Does weather have any effect on headway or on-time performance? To help answer this question, the file bna_2022.csv contains historical weather data recorded at Nashville International Airport. 

Kala's notes - 

Headway = time between bus arrivals

Gapping = too far apart (generally focused on this issue)

Bunching = too close together (also an indicator of an issue)

Trip edge = 1 = 1 start of route 2 = 2 end of route

Trip id = one trip that will have a start and an end

The start of the next trip will begin at the end of the last one

Scheduled headway is null for the end of the tip

Headwy dev negative means it was too close to previous bus, positive too far

Too close < 50% of scheduled headway

Gapped = > 50% of scheduled headway

Headway is always between bus in front of it and the current bus

Adherence negative means bus was early, positive means late

Trip edge 2 - there are 387,235 results (final stops)
headway_dev - there are 474,368 nulls 
scheduled_hdway - there are 432,294 nulls

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
bnaweather = pd.read_csv('../data/bna_weather.csv')

In [3]:
headwaydata = pd.read_csv('../data/Headway Data.csv')

In [4]:
headwaydata.head()

   CALENDAR_ID  SERVICE_ABBR  ADHERENCE_ID        DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID  OVERLOAD_ID ROUTE_DIRECTION_NAME TIME_POINT_ABBR  ROUTE_STOP_SEQUENCE  TRIP_EDGE   LATITUDE  LONGITUDE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV  ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  ADJUSTED_ONTIME_COUNT  STOP_CANCELLED  PREV_SCHED_STOP_CANCELLED  IS_RELIEF  BLOCK_STOP_ORDER  DWELL_IN_MINS
0    120211101             1      76447164  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN            HBHS                  4.0          1  36.107575 -86.812719     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333                     0                    0                      1               0                        0.0          0                 2      12.650000
1    120211101             1      76447165  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN            21BK                  3.0          0  36.138372 -86.800622     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333                     0                    0                      1               0                        0.0          0                11       0.000000
2    120211101             1      76447166  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN          MCC5_9                  2.0          2  36.167091 -86.781923     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN       NaN                     0                    1                      0               0                        NaN          0                23      22.416666
3    120211101             1      76447167  2021-11-01          50        1704      2088   297749            0          TO DOWNTOWN            MLKS                  7.0          1  36.161008 -86.800851     15:10:00            15:04:31              15:10:17    -0.283333             NaN          NaN       NaN                     0                    0                      1               0                        0.0          0                24       5.766666
4    120211101             1      76447168  2021-11-01          50        1704      2088   297749            0          TO DOWNTOWN         MCC5_11                  5.0          2  36.167091 -86.781923     15:27:00            15:16:59              15:16:59    10.016666             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                25       0.000000

In [5]:
headwaydata.tail()

         CALENDAR_ID  SERVICE_ABBR  ADHERENCE_ID        DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID  OVERLOAD_ID ROUTE_DIRECTION_NAME TIME_POINT_ABBR  ROUTE_STOP_SEQUENCE  TRIP_EDGE   LATITUDE  LONGITUDE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV  ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  ADJUSTED_ONTIME_COUNT  STOP_CANCELLED  PREV_SCHED_STOP_CANCELLED  IS_RELIEF  BLOCK_STOP_ORDER  DWELL_IN_MINS
1981710    120221101             1      91057724  2022-11-01          50        9302      2355   329980            0          TO DOWNTOWN         MCC4_20                  3.0          2  36.167091 -86.781923     15:18:00            15:19:43              15:20:44    -2.733333             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                 3       1.016666
1981711    120221101             1      91057851  2022-11-01          50        9950      1880   330003            0          TO DOWNTOWN            MLKS                 10.0          1  36.161008 -86.800851     15:20:00            14:57:12              15:07:06    12.900000            10.0     7.633333 -2.366667                     1                    0                      0               0                        0.0          0                 2       9.900000
1981712    120221101             1      91057852  2022-11-01          50        9950      1880   330003            0          TO DOWNTOWN         MCC5_11                  4.0          2  36.167091 -86.781923     15:37:00            15:10:16              15:10:16    26.733333             NaN          NaN       NaN                     1                    0                      0               0                        NaN          0                 3       0.000000
1981713    120221101             1      91057881  2022-11-01          56        9975      1922   330011            0          TO DOWNTOWN            MEIG                  7.0          1  36.176017 -86.760399     15:20:00            14:59:40              15:19:02     0.966666             0.0          NaN       NaN                     0                    0                      1               0                        0.0          0                 2      19.366666
1981714    120221101             1      91057882  2022-11-01          56        9975      1922   330011            0          TO DOWNTOWN         MCC4_20                  2.0          2  36.167091 -86.781923     15:30:00            15:26:05              15:27:46     2.233333             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                 3       1.683333

In [6]:
headwaydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

In [7]:
bnaweather.shape

(9739, 46)

In [8]:
headwaydata.shape

(1981715, 30)

In [9]:
headwaydata.isna().sum()

CALENDAR_ID                       0
SERVICE_ABBR                      0
ADHERENCE_ID                      0
DATE                              0
ROUTE_ABBR                        0
BLOCK_ABBR                        0
OPERATOR                          0
TRIP_ID                           0
OVERLOAD_ID                       0
ROUTE_DIRECTION_NAME              0
TIME_POINT_ABBR                   0
ROUTE_STOP_SEQUENCE              41
TRIP_EDGE                         0
LATITUDE                          0
LONGITUDE                         0
SCHEDULED_TIME                    0
ACTUAL_ARRIVAL_TIME           54383
ACTUAL_DEPARTURE_TIME         54430
ADHERENCE                     54430
SCHEDULED_HDWY               432294
ACTUAL_HDWY                  473824
HDWY_DEV                     474368
ADJUSTED_EARLY_COUNT              0
ADJUSTED_LATE_COUNT               0
ADJUSTED_ONTIME_COUNT             0
STOP_CANCELLED                    0
PREV_SCHED_STOP_CANCELLED    402647
IS_RELIEF                         0
BLOCK_STOP_ORDER                  0
DWELL_IN_MINS                 54456
dtype: int64

In [10]:
headwaydata.head()

   CALENDAR_ID  SERVICE_ABBR  ADHERENCE_ID        DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID  OVERLOAD_ID ROUTE_DIRECTION_NAME TIME_POINT_ABBR  ROUTE_STOP_SEQUENCE  TRIP_EDGE   LATITUDE  LONGITUDE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV  ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  ADJUSTED_ONTIME_COUNT  STOP_CANCELLED  PREV_SCHED_STOP_CANCELLED  IS_RELIEF  BLOCK_STOP_ORDER  DWELL_IN_MINS
0    120211101             1      76447164  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN            HBHS                  4.0          1  36.107575 -86.812719     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333                     0                    0                      1               0                        0.0          0                 2      12.650000
1    120211101             1      76447165  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN            21BK                  3.0          0  36.138372 -86.800622     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333                     0                    0                      1               0                        0.0          0                11       0.000000
2    120211101             1      76447166  2021-11-01           7        1704      2088   297750            0          TO DOWNTOWN          MCC5_9                  2.0          2  36.167091 -86.781923     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN       NaN                     0                    1                      0               0                        NaN          0                23      22.416666
3    120211101             1      76447167  2021-11-01          50        1704      2088   297749            0          TO DOWNTOWN            MLKS                  7.0          1  36.161008 -86.800851     15:10:00            15:04:31              15:10:17    -0.283333             NaN          NaN       NaN                     0                    0                      1               0                        0.0          0                24       5.766666
4    120211101             1      76447168  2021-11-01          50        1704      2088   297749            0          TO DOWNTOWN         MCC5_11                  5.0          2  36.167091 -86.781923     15:27:00            15:16:59              15:16:59    10.016666             NaN          NaN       NaN                     0                    0                      1               0                        NaN          0                25       0.000000

In [11]:
headwaydata['HDWY_DEV'].describe()

count    1.507347e+06
mean     3.647395e-01
std      6.579797e+00
min     -2.220667e+02
25%     -1.883334e+00
50%      0.000000e+00
75%      1.966666e+00
max      1.054617e+03
Name: HDWY_DEV, dtype: float64

KEEPING ONLY THE COLUMNS WE THINK ARE IMPORTANT

In [12]:
headwaydata = headwaydata.filter(['DATE', 'ROUTE_ABBR', 'BLOCK_ABBR', 'OPERATOR', 'TRIP_ID', 'ROUTE_DIRECTION_NAME', 'ROUTE_STOP_SEQUENCE', 'TRIP_EDGE', 'SCHEDULED_TIME', 'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE', 'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV'], axis=1)

In [13]:
headwaydata.head()

         DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
0  2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  4.0          1     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333
1  2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  3.0          0     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333
2  2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  2.0          2     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN       NaN
3  2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  7.0          1     15:10:00            15:04:31              15:10:17    -0.283333             NaN          NaN       NaN
4  2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  5.0          2     15:27:00            15:16:59              15:16:59    10.016666             NaN          NaN       NaN

In [14]:
##see a route on the day it ran

# r55 = headwaydata.loc[(headwaydata['DATE'] == '2021-11-01') & (headwaydata['ROUTE_ABBR'] == 55)]
# r55 - what i had written

r55 = headwaydata[(headwaydata['DATE'] == '2021-11-01') & 
         (headwaydata['ROUTE_STOP_SEQUENCE'] == 10.0) & 
         (headwaydata['ROUTE_ABBR'] == 55) & 
         (headwaydata['ROUTE_DIRECTION_NAME'] == 'TO DOWNTOWN')].sort_values('ACTUAL_ARRIVAL_TIME')
r55

            DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
3320  2021-11-01          55        5500      1716   300293          TO DOWNTOWN                 10.0          1     04:22:00            04:14:12              04:22:48    -0.800000             NaN          NaN       NaN
3408  2021-11-01          55        5501       557   300347          TO DOWNTOWN                 10.0          1     04:47:00            04:39:44              04:47:37    -0.616666            25.0    24.816666 -0.183334
3519  2021-11-01          55        5502       329   300398          TO DOWNTOWN                 10.0          1     05:07:00            05:00:06              05:07:37    -0.616666            20.0    20.000000  0.000000
3642  2021-11-01          55        5503      1228   300442          TO DOWNTOWN                 10.0          1     05:19:00            05:13:07              05:22:12    -3.200000            12.0    14.583333  2.583333
3714  2021-11-01          55        5504      1158   300498          TO DOWNTOWN                 10.0          1     05:28:00            05:19:17              05:29:32    -1.533333             9.0     7.333333 -1.666667
3822  2021-11-01          55        5505      1202   300546          TO DOWNTOWN                 10.0          1     05:38:00            05:33:58              05:39:03    -1.050000            10.0     9.516666 -0.483334
3930  2021-11-01          55        5506      2109   300586          TO DOWNTOWN                 10.0          1     05:46:00            05:36:22              05:48:32    -2.533333             8.0     9.483333  1.483333
4002  2021-11-01          55        5507      1743   300604          TO DOWNTOWN                 10.0          1     05:54:00            05:49:06              05:55:43    -1.716666             8.0     7.183333 -0.816667
3332  2021-11-01          55        5500      1716   300294          TO DOWNTOWN                 10.0          1     06:04:00            05:53:07              06:04:49    -0.816666            10.0     9.100000 -0.900000
4110  2021-11-01          55        5508      2055   300616          TO DOWNTOWN                 10.0          1     06:13:00            06:00:26              06:14:45    -1.750000             9.0     9.933333  0.933333
3420  2021-11-01          55        5501       557   300350          TO DOWNTOWN                 10.0          1     06:33:00            06:18:08              06:32:22     0.633333            10.0     9.116666 -0.883334
4182  2021-11-01          55        5509      2035   300632          TO DOWNTOWN                 10.0          1     06:23:00            06:21:06              06:23:15    -0.250000            10.0     8.500000 -1.500000
3531  2021-11-01          55        5502       329   300402          TO DOWNTOWN                 10.0          1     06:53:00            06:39:44              06:53:49    -0.816666            10.0     9.750000 -0.250000
4278  2021-11-01          55        5510      1194   300644          TO DOWNTOWN                 10.0          1     06:43:00            06:44:04              06:44:04    -1.066666            10.0    11.700000  1.700000
3654  2021-11-01          55        5503      1228   300443          TO DOWNTOWN                 10.0          1     07:14:00            06:54:16              07:16:19    -2.316666            11.0     5.016666 -5.983334
3726  2021-11-01          55        5504      1158   300499          TO DOWNTOWN                 10.0          1     07:24:00            07:03:11              07:25:32    -1.533333            10.0     9.216666 -0.783334
4350  2021-11-01          55        5511      2098   300657          TO DOWNTOWN                 10.0          1     07:03:00            07:09:36              07:11:18    -8.300000            10.0    17.483333  7.483333
3834  2021-11-01          55        5505      1202   300547          TO DOWNTOWN                 10.0          1     07:34:00            07:16:22              07:35:30    -1.500000            10.0     9.966666 -0.033334
3942  2021-11-01          55        5506      2109   300587          TO DOWNTOWN                 10.0          1     07:44:00            07:27:09              07:46:53    -2.883333            10.0    11.383333  1.383333
4014  2021-11-01          55        5507      1743   300605          TO DOWNTOWN                 10.0          1     07:55:00            07:36:07              07:55:59    -0.983333            11.0     9.100000 -1.900000
3344  2021-11-01          55        5500      1716   300295          TO DOWNTOWN                 10.0          1     08:06:00            07:47:42              08:07:27    -1.450000            11.0    11.466666  0.466666
4122  2021-11-01          55        5508      2055   300617          TO DOWNTOWN                 10.0          1     08:16:00            08:04:39              08:17:40    -1.666666            10.0    10.216666  0.216666
4194  2021-11-01          55        5509      2035   300633          TO DOWNTOWN                 10.0          1     08:26:00            08:09:46              08:24:51     1.150000            10.0     7.183333 -2.816667
3432  2021-11-01          55        5501       557   300351          TO DOWNTOWN                 10.0          1     08:36:00            08:24:23              08:35:07     0.883333            10.0    10.266666  0.266666
4290  2021-11-01          55        5510      1194   300645          TO DOWNTOWN                 10.0          1     08:46:00            08:33:34              08:48:18    -2.300000            10.0    13.183333  3.183333
3543  2021-11-01          55        5502       329   300403          TO DOWNTOWN                 10.0          1     08:56:00            08:43:59              08:58:14    -2.233333            10.0     9.933333 -0.066667
4362  2021-11-01          55        5511      2098   300658          TO DOWNTOWN                 10.0          1     09:06:00            08:46:02              09:09:38    -3.633333            10.0    11.400000  1.400000
3666  2021-11-01          55        5503      1228   300444          TO DOWNTOWN                 10.0          1     09:16:00            08:57:07              09:17:13    -1.216666            10.0     7.583333 -2.416667
3738  2021-11-01          55        5504      1158   300500          TO DOWNTOWN                 10.0          1     09:26:00            09:11:12              09:29:49    -3.816666            10.0    12.600000  2.600000
3846  2021-11-01          55        5505      1202   300548          TO DOWNTOWN                 10.0          1     09:36:00            09:15:14              09:38:24    -2.400000            10.0     8.583333 -1.416667
3954  2021-11-01          55        5506      2109   300588          TO DOWNTOWN                 10.0          1     09:46:00            09:25:21              09:48:09    -2.150000            10.0     9.750000 -0.250000
4026  2021-11-01          55        5507      1743   300606          TO DOWNTOWN                 10.0          1     09:56:00            09:36:20              09:56:52    -0.866666            10.0     8.716666 -1.283334
3356  2021-11-01          55        5500      1716   300296          TO DOWNTOWN                 10.0          1     10:06:00            09:44:36              10:06:51    -0.850000            10.0     9.983333 -0.016667
4134  2021-11-01          55        5508      2055   300618          TO DOWNTOWN                 10.0          1     10:16:00            09:55:13              10:18:16    -2.266666            10.0    11.416666  1.416666
4206  2021-11-01          55        5509      2035   300634          TO DOWNTOWN                 10.0          1     10:26:00            10:03:22              10:26:07    -0.116666            10.0     7.850000 -2.150000
3444  2021-11-01          55        5501       557   300352          TO DOWNTOWN                 10.0          1     10:36:00            10:13:19              10:35:03     0.950000            10.0     8.933333 -1.066667
4302  2021-11-01          55        5510      1379   300646          TO DOWNTOWN                 10.0          1     10:46:00            10:26:31              10:47:36    -1.600000            10.0    12.550000  2.550000
3555  2021-11-01          55        5502       329   300404          TO DOWNTOWN                 10.0          1     10:56:00            10:36:36              10:57:54    -1.900000            10.0    10.300000  0.300000
4374  2021-11-01          55        5511      2098   300659          TO DOWNTOWN                 10.0          1     11:06:00            10:49:55              11:08:26    -2.433333            10.0    10.533333  0.533333
3678  2021-11-01          55        5503      1228   300445          TO DOWNTOWN                 10.0          1     11:16:00            10:54:55              11:17:12    -1.200000            10.0     8.766666 -1.233334
3750  2021-11-01          55        5504      1158   300501          TO DOWNTOWN                 10.0          1     11:26:00            11:09:10              11:27:11    -1.183333            10.0     9.983333 -0.016667
3858  2021-11-01          55        5505      1202   300549          TO DOWNTOWN                 10.0          1     11:36:00            11:15:42              11:39:50    -3.833333            10.0    12.650000  2.650000
3966  2021-11-01          55        5506      2217   300589          TO DOWNTOWN                 10.0          1     11:46:00            11:24:42              11:48:28    -2.466666            10.0     8.633333 -1.366667
4038  2021-11-01          55        5507      1743   300607          TO DOWNTOWN                 10.0          1     11:56:00            11:40:18              11:57:02    -1.033333            10.0     8.566666 -1.433334
3368  2021-11-01          55        5500      1716   300297          TO DOWNTOWN                 10.0          1     12:06:00            11:51:23              12:06:23    -0.383333            10.0     9.350000 -0.650000
4146  2021-11-01          55        5508       465   300619          TO DOWNTOWN                 10.0          1     12:16:00            11:56:33              12:16:58    -0.966666            10.0    10.583333  0.583333
4218  2021-11-01          55        5509      2027   300635          TO DOWNTOWN                 10.0          1     12:26:00            12:09:14              12:30:02    -4.033333            10.0    13.066666  3.066666
3456  2021-11-01          55        5501       557   300353          TO DOWNTOWN                 10.0          1     12:36:00            12:15:56              12:35:06     0.900000            10.0     5.066666 -4.933334
4314  2021-11-01          55        5510      1379   300647          TO DOWNTOWN                 10.0          1     12:46:00            12:36:39              12:48:06    -2.100000            10.0    13.000000  3.000000
3567  2021-11-01          55        5502       329   300405          TO DOWNTOWN                 10.0          1     12:56:00            12:38:31              12:56:26    -0.433333            10.0     8.333333 -1.666667
4386  2021-11-01          55        5511      2098   300660          TO DOWNTOWN                 10.0          1     13:06:00            12:48:32              13:08:48    -2.800000            10.0    12.366666  2.366666
3690  2021-11-01          55        5503      1228   300446          TO DOWNTOWN                 10.0          1     13:16:00            12:56:48              13:17:18    -1.300000            10.0     8.500000 -1.500000
3762  2021-11-01          55        5504      1158   300502          TO DOWNTOWN                 10.0          1     13:26:00            13:05:36              13:27:33    -1.550000            10.0    10.250000  0.250000
3870  2021-11-01          55        5505      1202   300550          TO DOWNTOWN                 10.0          1     13:35:00            13:18:46              13:36:38    -1.633333             9.0     9.083333  0.083333
3978  2021-11-01          55        5506      2217   300590          TO DOWNTOWN                 10.0          1     13:45:00            13:28:43              13:47:19    -2.316666            10.0    10.683333  0.683333
4050  2021-11-01          55        5507      1743   300608          TO DOWNTOWN                 10.0          1     13:55:00            13:36:18              13:55:06    -0.100000            10.0     7.783333 -2.216667
3380  2021-11-01          55        5500      1716   300298          TO DOWNTOWN                 10.0          1     14:05:00            13:49:42              14:07:24    -2.400000            10.0    12.300000  2.300000
4158  2021-11-01          55        5508       465   300620          TO DOWNTOWN                 10.0          1     14:15:00            13:58:51              14:15:47    -0.783333            10.0     8.383333 -1.616667
4230  2021-11-01          55        5509      2306   300636          TO DOWNTOWN                 10.0          1     14:25:00            14:10:37              14:27:31    -2.516666            10.0    11.733333  1.733333
4326  2021-11-01          55        5510      1379   300648          TO DOWNTOWN                 10.0          1     14:53:00            14:28:55              14:54:34    -1.566666            10.0    11.350000  1.350000
4428  2021-11-01          55        5512      1749   300664          TO DOWNTOWN                 10.0          1     14:33:00            14:34:54              14:36:42    -3.700000             8.0     9.183333  1.183333
3579  2021-11-01          55        5502      1251   300406          TO DOWNTOWN                 10.0          1     15:03:00            14:36:31              15:06:24    -3.400000            10.0    11.833333  1.833333
3468  2021-11-01          55        5501      1788   300354          TO DOWNTOWN                 10.0          1     14:43:00            14:43:13              14:43:13    -0.216666            10.0     6.516666 -3.483334
4398  2021-11-01          55        5511      2294   300661          TO DOWNTOWN                 10.0          1     15:13:00            14:50:49              15:15:03    -2.050000            10.0     8.650000 -1.350000
3702  2021-11-01          55        5503      2151   300447          TO DOWNTOWN                 10.0          1     15:23:00            14:59:08              15:24:45    -1.750000            10.0     9.700000 -0.300000
3774  2021-11-01          55        5504       907   300503          TO DOWNTOWN                 10.0          1     15:33:00            15:12:57              15:34:30    -1.500000            10.0     9.750000 -0.250000
3882  2021-11-01          55        5505      2221   300551          TO DOWNTOWN                 10.0          1     15:43:00            15:23:03              15:44:32    -1.533333            10.0    10.033333  0.033333
3990  2021-11-01          55        5506      2217   300591          TO DOWNTOWN                 10.0          1     15:53:00            15:43:23              15:54:37    -1.616666            10.0    10.083333  0.083333
4062  2021-11-01          55        5507      1814   300609          TO DOWNTOWN                 10.0          1     16:03:00            15:46:28              16:04:32    -1.533333            10.0     9.916666 -0.083334
3392  2021-11-01          55        5500      1603   300299          TO DOWNTOWN                 10.0          1     16:13:00            15:55:31              16:14:10    -1.166666            10.0     9.633333 -0.366667
4170  2021-11-01          55        5508      2035   300621          TO DOWNTOWN                 10.0          1     16:23:00            16:01:47              16:22:30     0.500000            10.0     8.333333 -1.666667
4242  2021-11-01          55        5509      2306   300637          TO DOWNTOWN                 10.0          1     16:33:00            16:19:12              16:38:44    -5.733333            10.0    16.233333  6.233333
4440  2021-11-01          55        5512      1749   300665          TO DOWNTOWN                 10.0          1     16:43:00            16:29:44              16:47:18    -4.300000            10.0     8.566666 -1.433334
3480  2021-11-01          55        5501      1788   300355          TO DOWNTOWN                 10.0          1     16:54:00            16:39:35              16:56:02    -2.033333            11.0     8.733333 -2.266667
4338  2021-11-01          55        5510      1379   300649          TO DOWNTOWN                 10.0          1     17:07:00            16:48:13              17:09:21    -2.350000            13.0    13.316666  0.316666
3591  2021-11-01          55        5502      1815   300399          TO DOWNTOWN                 10.0          1     17:17:00            17:02:11              17:18:22    -1.366666            10.0     9.016666 -0.983334
4410  2021-11-01          55        5511      2294   300656          TO DOWNTOWN                 10.0          1     17:32:00            17:09:36              17:34:15    -2.250000            15.0    15.883333  0.883333
3786  2021-11-01          55        5504       907   300495          TO DOWNTOWN                 10.0          1     17:47:00            17:30:09              17:48:30    -1.500000            15.0    14.250000 -0.750000
3894  2021-11-01          55        5505      2221   300543          TO DOWNTOWN                 10.0          1     18:02:00            17:40:07              18:04:18    -2.300000            15.0    15.800000  0.800000
4074  2021-11-01          55        5507      1814   300601          TO DOWNTOWN                 10.0          1     18:20:00            18:01:16              18:21:54    -1.900000            18.0    17.600000 -0.400000
4254  2021-11-01          55        5509      2306   300630          TO DOWNTOWN                 10.0          1     18:38:00            18:28:54              18:41:02    -3.033333            18.0    19.133333  1.133333
3492  2021-11-01          55        5501      1788   300348          TO DOWNTOWN                 10.0          1     18:58:00            18:46:04              18:58:31    -0.516666            20.0    17.483333 -2.516667
3603  2021-11-01          55        5502      1815   300400          TO DOWNTOWN                 10.0          1     19:19:00            19:03:03              19:20:55    -1.916666            21.0    22.400000  1.400000
3798  2021-11-01          55        5504       907   300496          TO DOWNTOWN                 10.0          1     19:39:00            19:29:01              19:40:29    -1.483333            20.0    19.566666 -0.433334
3906  2021-11-01          55        5505      2221   300544          TO DOWNTOWN                 10.0          1     19:59:00            19:44:43              20:01:38    -2.633333            20.0    21.150000  1.150000
4086  2021-11-01          55        5507      1814   300602          TO DOWNTOWN                 10.0          1     20:17:00            19:56:54              20:18:57    -1.950000            18.0    17.316666 -0.683334
4266  2021-11-01          55        5509      2306   300631          TO DOWNTOWN                 10.0          1     20:38:00            20:17:39              20:40:21    -2.350000            21.0    21.400000  0.400000
3504  2021-11-01          55        5501      1788   300349          TO DOWNTOWN                 10.0          1     20:58:00            20:36:58              20:57:37     0.383333            20.0    17.266666 -2.733334
3615  2021-11-01          55        5502      1815   300401          TO DOWNTOWN                 10.0          1     21:18:00            20:58:09              21:19:09    -1.150000            20.0    21.533333  1.533333

In [15]:
##kevin idea - 
# route_55_1101 = hwdata1[(hwdata1['DATE'] == '2021-11-01') & 
#         (hwdata1['ROUTE_STOP_SEQUENCE'] == 10.0) & 
#         (hwdata1['ROUTE_ABBR'] == 55) & 
#         (hwdata1['ROUTE_DIRECTION_NAME'] == 'TO DOWNTOWN')].sort_values('ACTUAL_ARRIVAL_TIME')

In [16]:
headwaydata.ROUTE_ABBR.value_counts()

55    362259
56    355098
52    291150
23    250787
50    249880
3     216446
22    153074
7     103021
Name: ROUTE_ABBR, dtype: int64

How closely does lateness (ADHERENCE) correlate to headway?

headwaydata['ADHERENCE'].corr(headwaydata['ACTUAL_HDWY']) - run below

In [17]:
adhcorr = headwaydataheadwaydata = headwaydata.filter(['DATE', 'ROUTE_ABBR', 'TRIP_ID', 'ROUTE_DIRECTION_NAME', 'ROUTE_STOP_SEQUENCE', 'TRIP_EDGE', 'ADHERENCE', 'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV'], axis=1)
adhcorr

               DATE  ROUTE_ABBR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
0        2021-11-01           7   297750          TO DOWNTOWN                  4.0          1  -2.000000            14.0    15.983333  1.983333
1        2021-11-01           7   297750          TO DOWNTOWN                  3.0          0  -3.350000            14.0    17.333333  3.333333
2        2021-11-01           7   297750          TO DOWNTOWN                  2.0          2 -20.183333             NaN          NaN       NaN
3        2021-11-01          50   297749          TO DOWNTOWN                  7.0          1  -0.283333             NaN          NaN       NaN
4        2021-11-01          50   297749          TO DOWNTOWN                  5.0          2  10.016666             NaN          NaN       NaN
...             ...         ...      ...                  ...                  ...        ...        ...             ...          ...       ...
1981710  2022-11-01          50   329980          TO DOWNTOWN                  3.0          2  -2.733333             NaN          NaN       NaN
1981711  2022-11-01          50   330003          TO DOWNTOWN                 10.0          1  12.900000            10.0     7.633333 -2.366667
1981712  2022-11-01          50   330003          TO DOWNTOWN                  4.0          2  26.733333             NaN          NaN       NaN
1981713  2022-11-01          56   330011          TO DOWNTOWN                  7.0          1   0.966666             0.0          NaN       NaN
1981714  2022-11-01          56   330011          TO DOWNTOWN                  2.0          2   2.233333             NaN          NaN       NaN

[1981715 rows x 10 columns]

In [18]:
r55.corr()
##is this helpful at all?

                     ROUTE_ABBR  BLOCK_ABBR  OPERATOR   TRIP_ID  ROUTE_STOP_SEQUENCE  TRIP_EDGE  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
ROUTE_ABBR                  NaN         NaN       NaN       NaN                  NaN        NaN        NaN             NaN          NaN       NaN
BLOCK_ABBR                  NaN    1.000000  0.420471  0.963527                  NaN        NaN  -0.425440       -0.178689    -0.069271  0.344782
OPERATOR                    NaN    0.420471  1.000000  0.414252                  NaN        NaN  -0.344972        0.057529     0.112678  0.195512
TRIP_ID                     NaN    0.963527  0.414252  1.000000                  NaN        NaN  -0.402549       -0.171719    -0.073706  0.307127
ROUTE_STOP_SEQUENCE         NaN         NaN       NaN       NaN                  NaN        NaN        NaN             NaN          NaN       NaN
TRIP_EDGE                   NaN         NaN       NaN       NaN                  NaN        NaN        NaN             NaN          NaN       NaN
ADHERENCE                   NaN   -0.425440 -0.344972 -0.402549                  NaN        NaN   1.000000        0.035995    -0.173046 -0.703674
SCHEDULED_HDWY              NaN   -0.178689  0.057529 -0.171719                  NaN        NaN   0.035995        1.000000     0.955544 -0.003490
ACTUAL_HDWY                 NaN   -0.069271  0.112678 -0.073706                  NaN        NaN  -0.173046        0.955544     1.000000  0.291511
HDWY_DEV                    NaN    0.344782  0.195512  0.307127                  NaN        NaN  -0.703674       -0.003490     0.291511  1.000000

In [19]:
##how to show correlation between two columns

##Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])

In [20]:
headwaydata['ADHERENCE'].corr(headwaydata['ACTUAL_HDWY'])

-0.08644095025323575

In [21]:
##steven's - 

# late_bus=headway_data[headway_data['HDWY_DEV']>0]
# early_bus=headway_data[headway_data['HDWY_DEV']<0]
# on_time=headway_data[headway_data['HDWY_DEV']==0]

In [22]:
# shape without dropping nulls in HDWY is (1505410, 15)
# shape after nulls drop is (1306754, 15)

late = headwaydata[headwaydata['ADHERENCE']<0]
late.head(20)

          DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY   HDWY_DEV
0   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  4.0          1     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333   1.983333
1   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  3.0          0     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333   3.333333
2   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  2.0          2     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN        NaN
3   2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  7.0          1     15:10:00            15:04:31              15:10:17    -0.283333             NaN          NaN        NaN
6   2021-11-01          22        2200      1352   298143          TO DOWNTOWN                 11.0          0     04:46:00            04:46:58              04:46:58    -0.966666             NaN          NaN        NaN
7   2021-11-01          22        2200      1352   298143          TO DOWNTOWN                  6.0          0     04:54:00            04:55:00              04:55:00    -1.000000             NaN          NaN        NaN
9   2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                  4.0          1     05:15:00            05:05:26              05:16:49    -1.816666             NaN          NaN        NaN
10  2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                  6.0          0     05:25:00            05:25:52              05:25:52    -0.866666             NaN          NaN        NaN
11  2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                 15.0          2     05:32:00            05:33:39              05:33:39    -1.650000             NaN          NaN        NaN
12  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 15.0          1     05:42:00            05:33:39              05:43:03    -1.050000            35.0    34.633333  -0.366667
13  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 11.0          0     05:46:00            05:48:15              05:48:15    -2.250000            35.0    35.866666   0.866666
14  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                  6.0          0     05:54:00            05:54:23              05:54:23    -0.383333            15.0    13.983333  -1.016667
16  2021-11-01          22        2200      1352   298151        FROM DOWNTOWN                  4.0          1     06:15:00            06:05:39              06:17:01    -2.016666            35.0    36.116666   1.116666
17  2021-11-01          22        2200      1352   298151        FROM DOWNTOWN                  6.0          0     06:25:00            06:26:17              06:26:17    -1.283333            15.0    15.400000   0.400000
19  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                 15.0          1     06:42:00            06:34:28              06:43:17    -1.283333            60.0    60.233333   0.233333
20  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                 11.0          0     06:46:00            06:53:40              06:53:40    -7.666666            60.0    65.416666   5.416666
21  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                  6.0          0     06:54:00            07:06:29              07:06:29   -12.483333            15.0    25.066666  10.066666
22  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                  4.0          2     07:10:00            07:16:14              07:16:14    -6.233333             NaN          NaN        NaN
23  2021-11-01          22        2200      1352   298152        FROM DOWNTOWN                  4.0          1     07:15:00            07:16:14              07:20:07    -5.116666            30.0    33.366666   3.366666
24  2021-11-01          22        2200      1352   298152        FROM DOWNTOWN                  6.0          0     07:25:00            07:29:45              07:29:45    -4.750000            15.0    11.333333  -3.666667

In [23]:
latenonull = late.dropna()

In [24]:
latenonull.head()

          DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
0   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  4.0          1     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333
1   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  3.0          0     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333
12  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 15.0          1     05:42:00            05:33:39              05:43:03    -1.050000            35.0    34.633333 -0.366667
13  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 11.0          0     05:46:00            05:48:15              05:48:15    -2.250000            35.0    35.866666  0.866666
14  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                  6.0          0     05:54:00            05:54:23              05:54:23    -0.383333            15.0    13.983333 -1.016667

In [25]:
latenonull.shape

(1306754, 15)

In [26]:
# def unique(operator):
#     unique_operator= []
#     for i in operator:
#         if i not in unique_operator:
#             unique_operator.append(i)
#     for i in unique_operator:
#         print (i),
        
# operator = headwaydata['OPERATOR']
# unique(operator)

# ^ from steven

In [27]:
late.shape

##1,306,754 - steven's greater than 0 without nulls

(1505410, 15)

In [28]:
early = headwaydata[headwaydata['ADHERENCE']>0]
early.head()

          DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
4   2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  5.0          2     15:27:00            15:16:59              15:16:59    10.016666             NaN          NaN       NaN
5   2021-11-01          22        2200      1352   298143          TO DOWNTOWN                 15.0          1     04:42:00            04:29:30              04:41:50     0.166666             NaN          NaN       NaN
8   2021-11-01          22        2200      1352   298143          TO DOWNTOWN                  4.0          2     05:10:00            05:05:26              05:05:26     4.566666             NaN          NaN       NaN
15  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                  4.0          2     06:10:00            06:05:39              06:05:39     4.350000             NaN          NaN       NaN
18  2021-11-01          22        2200      1352   298151        FROM DOWNTOWN                 15.0          2     06:35:00            06:34:28              06:34:28     0.533333             NaN          NaN       NaN

In [29]:
early.shape

(415154, 15)

In [30]:
##steven's early without nulls - 749,129

In [31]:
ontime = headwaydata[headwaydata['ADHERENCE'] == 0]
ontime.head()

            DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
71    2021-11-01          22        2200      1194   298160        FROM DOWNTOWN                  6.0          0     15:23:00            15:23:00              15:23:00          0.0            10.0    10.916666  0.916666
465   2021-11-01          22        2211      1383   298429          TO DOWNTOWN                  7.0          1     16:11:00            16:11:00              16:11:00          0.0            25.0    24.983333 -0.016667
615   2021-11-01          23        2301       306   298474        FROM DOWNTOWN                  2.0          0     12:33:00            12:33:00              12:33:00          0.0            12.0    12.016666  0.016666
1110  2021-11-01          23        2312      2322   298666        FROM DOWNTOWN                  1.0          1     21:35:00            21:22:44              21:35:00          0.0            20.0    19.600000 -0.400000
1387  2021-11-01           3         301      1020   299012          TO DOWNTOWN                  6.0          1     09:03:00            08:49:36              09:03:00          0.0            28.0    26.366666 -1.633334

In [32]:
ontime.shape

(6721, 15)

In [33]:
##steven's ontime - 5276

Create 2 DF. One for adherence, one for headway. 

intentional null - anything with a trip edge of 2 since it's the last bus - count of trip edge 2 with null scheduled_hdwy is 387,186

unintentional is anything else

make notes/percentages of what we drop and make a note of it. 


Trip edge 2 - there are 387,235 results (final stops)
headway_dev - there are 474,368 nulls 
scheduled_hdway - there are 432,294 nulls

In [34]:
tripedge2 = headwaydata[headwaydata['TRIP_EDGE'] == 2]
tripedge2.head()
tripedge2.shape

(387235, 15)

In [35]:
# tripedge2 = headwaydata[headwaydata['TRIP_EDGE'] == 2] & (headwaydata['SCHEDULED_HDWY'] == 'NaN')
# tripedge2 - MEMORY ERROR

In [36]:
tripedgetest = headwaydata.loc[headwaydata['TRIP_EDGE'] == 2, 'SCHEDULED_HDWY']
tripedgetest.isnull().sum()

387186

In [37]:
tripedgetest = headwaydata.loc[headwaydata['TRIP_EDGE'] == 2, 'SCHEDULED_HDWY']
tripedgetest.isnull().sum()

387186

In [38]:
tripedgetest = headwaydata.loc[headwaydata['TRIP_EDGE'] != 2, 'SCHEDULED_HDWY']
tripedgetest.isnull().sum()

45108

In [39]:
tripedgetest.dropna()
tripedgetest

0          14.0
1          14.0
3           NaN
5           NaN
6           NaN
           ...
1981705     NaN
1981707     0.0
1981709     NaN
1981711    10.0
1981713     0.0
Name: SCHEDULED_HDWY, Length: 1594480, dtype: float64

In [40]:
tripedgetest.isnull().sum()

45108

In [41]:
headwaydata.isnull().sum()

DATE                          0
ROUTE_ABBR                    0
BLOCK_ABBR                    0
OPERATOR                      0
TRIP_ID                       0
ROUTE_DIRECTION_NAME          0
ROUTE_STOP_SEQUENCE          41
TRIP_EDGE                     0
SCHEDULED_TIME                0
ACTUAL_ARRIVAL_TIME       54383
ACTUAL_DEPARTURE_TIME     54430
ADHERENCE                 54430
SCHEDULED_HDWY           432294
ACTUAL_HDWY              473824
HDWY_DEV                 474368
dtype: int64

In [42]:
##387,186 intentional nulls - 
##45,108 uninentional

##ONLY DROP UNINTENTIONAL!!!

In [43]:
headwaydata.dropna()

               DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
0        2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  4.0          1     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333
1        2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  3.0          0     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333
12       2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 15.0          1     05:42:00            05:33:39              05:43:03    -1.050000            35.0    34.633333 -0.366667
13       2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 11.0          0     05:46:00            05:48:15              05:48:15    -2.250000            35.0    35.866666  0.866666
14       2021-11-01          22        2200      1352   298128          TO DOWNTOWN                  6.0          0     05:54:00            05:54:23              05:54:23    -0.383333            15.0    13.983333 -1.016667
...             ...         ...         ...       ...      ...                  ...                  ...        ...            ...                 ...                   ...        ...             ...          ...       ...
1981695  2022-11-01           7         706       375   329461          TO DOWNTOWN                  5.0          1     17:07:00            17:08:19              17:08:19    -1.316666            18.0    16.850000 -1.150000
1981696  2022-11-01           7         706       375   329461          TO DOWNTOWN                  4.0          0     17:16:00            17:22:47              17:22:47    -6.783333            17.0    14.500000 -2.500000
1981698  2022-11-01           7         706       375   329459        FROM DOWNTOWN                  3.0          1     17:45:00            17:46:10              17:46:10    -1.166666            15.0    13.116666 -1.883334
1981699  2022-11-01           7         706       375   329459        FROM DOWNTOWN                  4.0          0     18:01:00            18:05:13              18:05:13    -4.216666            14.0     7.483333 -6.516667
1981711  2022-11-01          50        9950      1880   330003          TO DOWNTOWN                 10.0          1     15:20:00            14:57:12              15:07:06    12.900000            10.0     7.633333 -2.366667

[1507318 rows x 15 columns]

In [44]:
# shape without dropping nulls in HDWY is (1505410, 15)
# shape after nulls drop is (1306754, 15)

late = headwaydata[headwaydata['ADHERENCE']<0]
late.head(20)

          DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY   HDWY_DEV
0   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  4.0          1     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333   1.983333
1   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  3.0          0     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333   3.333333
2   2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  2.0          2     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN        NaN
3   2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  7.0          1     15:10:00            15:04:31              15:10:17    -0.283333             NaN          NaN        NaN
6   2021-11-01          22        2200      1352   298143          TO DOWNTOWN                 11.0          0     04:46:00            04:46:58              04:46:58    -0.966666             NaN          NaN        NaN
7   2021-11-01          22        2200      1352   298143          TO DOWNTOWN                  6.0          0     04:54:00            04:55:00              04:55:00    -1.000000             NaN          NaN        NaN
9   2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                  4.0          1     05:15:00            05:05:26              05:16:49    -1.816666             NaN          NaN        NaN
10  2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                  6.0          0     05:25:00            05:25:52              05:25:52    -0.866666             NaN          NaN        NaN
11  2021-11-01          22        2200      1352   298162        FROM DOWNTOWN                 15.0          2     05:32:00            05:33:39              05:33:39    -1.650000             NaN          NaN        NaN
12  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 15.0          1     05:42:00            05:33:39              05:43:03    -1.050000            35.0    34.633333  -0.366667
13  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                 11.0          0     05:46:00            05:48:15              05:48:15    -2.250000            35.0    35.866666   0.866666
14  2021-11-01          22        2200      1352   298128          TO DOWNTOWN                  6.0          0     05:54:00            05:54:23              05:54:23    -0.383333            15.0    13.983333  -1.016667
16  2021-11-01          22        2200      1352   298151        FROM DOWNTOWN                  4.0          1     06:15:00            06:05:39              06:17:01    -2.016666            35.0    36.116666   1.116666
17  2021-11-01          22        2200      1352   298151        FROM DOWNTOWN                  6.0          0     06:25:00            06:26:17              06:26:17    -1.283333            15.0    15.400000   0.400000
19  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                 15.0          1     06:42:00            06:34:28              06:43:17    -1.283333            60.0    60.233333   0.233333
20  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                 11.0          0     06:46:00            06:53:40              06:53:40    -7.666666            60.0    65.416666   5.416666
21  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                  6.0          0     06:54:00            07:06:29              07:06:29   -12.483333            15.0    25.066666  10.066666
22  2021-11-01          22        2200      1352   298129          TO DOWNTOWN                  4.0          2     07:10:00            07:16:14              07:16:14    -6.233333             NaN          NaN        NaN
23  2021-11-01          22        2200      1352   298152        FROM DOWNTOWN                  4.0          1     07:15:00            07:16:14              07:20:07    -5.116666            30.0    33.366666   3.366666
24  2021-11-01          22        2200      1352   298152        FROM DOWNTOWN                  6.0          0     07:25:00            07:29:45              07:29:45    -4.750000            15.0    11.333333  -3.666667

In [45]:
lateclean = late.dropna()
lateclean.shape

(1306754, 15)

In [56]:
latein = headwaydata[~((headwaydata['TRIP_EDGE']!=2)&(headwaydata['SCHEDULED_HDWY'].isna()))]
latein

               DATE  ROUTE_ABBR  BLOCK_ABBR  OPERATOR  TRIP_ID ROUTE_DIRECTION_NAME  ROUTE_STOP_SEQUENCE  TRIP_EDGE SCHEDULED_TIME ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME  ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY  HDWY_DEV
0        2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  4.0          1     14:10:00            13:59:21              14:12:00    -2.000000            14.0    15.983333  1.983333
1        2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  3.0          0     14:20:00            14:23:21              14:23:21    -3.350000            14.0    17.333333  3.333333
2        2021-11-01           7        1704      2088   297750          TO DOWNTOWN                  2.0          2     14:39:00            14:36:46              14:59:11   -20.183333             NaN          NaN       NaN
4        2021-11-01          50        1704      2088   297749          TO DOWNTOWN                  5.0          2     15:27:00            15:16:59              15:16:59    10.016666             NaN          NaN       NaN
8        2021-11-01          22        2200      1352   298143          TO DOWNTOWN                  4.0          2     05:10:00            05:05:26              05:05:26     4.566666             NaN          NaN       NaN
...             ...         ...         ...       ...      ...                  ...                  ...        ...            ...                 ...                   ...        ...             ...          ...       ...
1981710  2022-11-01          50        9302      2355   329980          TO DOWNTOWN                  3.0          2     15:18:00            15:19:43              15:20:44    -2.733333             NaN          NaN       NaN
1981711  2022-11-01          50        9950      1880   330003          TO DOWNTOWN                 10.0          1     15:20:00            14:57:12              15:07:06    12.900000            10.0     7.633333 -2.366667
1981712  2022-11-01          50        9950      1880   330003          TO DOWNTOWN                  4.0          2     15:37:00            15:10:16              15:10:16    26.733333             NaN          NaN       NaN
1981713  2022-11-01          56        9975      1922   330011          TO DOWNTOWN                  7.0          1     15:20:00            14:59:40              15:19:02     0.966666             0.0          NaN       NaN
1981714  2022-11-01          56        9975      1922   330011          TO DOWNTOWN                  2.0          2     15:30:00            15:26:05              15:27:46     2.233333             NaN          NaN       NaN

[1936607 rows x 15 columns]