# Question 8: Does weather have any effect on headway or on-time performance? To help answer this question, the file bna_2022.csv contains historical weather data recorded at Nashville International Airport.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
headway = pd.read_csv('../Data/Headway Data.csv')

In [3]:
weather = pd.read_csv('../Data/bna_weather.csv')

In [4]:
headway['NEW_DATE']=headway.DATE
headway['NEW_DATE']= pd.to_datetime(headway.NEW_DATE)
headway['HOUR']=headway.SCHEDULED_TIME.str.slice(0,2).astype(str)
headway.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,NEW_DATE,HOUR
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,0,0,1,0,0.0,0,2,12.650000,2021-11-01,14
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,0,0,1,0,0.0,0,11,0.000000,2021-11-01,14
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,0,1,0,0,NaN,0,23,22.416666,2021-11-01,14
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,0,0,1,0,0.0,0,24,5.766666,2021-11-01,15
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,0,0,1,0,NaN,0,25,0.000000,2021-11-01,15

In [5]:
weather['HOUR']=weather.Date.str.slice(11,13).astype(str)
weather['NEW_DATE']=weather.Date.str.slice(0,10).astype(str)
weather['NEW_DATE']= pd.to_datetime(weather.NEW_DATE)

In [6]:
merge_df = headway.merge(weather, on=['NEW_DATE','HOUR'], how= "left")
merge_df

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210132,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210133,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210134,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210135,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210136,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
merge_df_a = merge_df.drop_duplicates(['ADHERENCE_ID'])

In [28]:
merge_df_a.keys()

Index(['CALENDAR_ID', 'SERVICE_ABBR', 'ADHERENCE_ID', 'DATE', 'ROUTE_ABBR',
       'BLOCK_ABBR', 'OPERATOR', 'TRIP_ID', 'OVERLOAD_ID',
       'ROUTE_DIRECTION_NAME', 'TIME_POINT_ABBR', 'ROUTE_STOP_SEQUENCE',
       'TRIP_EDGE', 'LATITUDE', 'LONGITUDE', 'SCHEDULED_TIME',
       'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV', 'ADJUSTED_EARLY_COUNT',
       'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT', 'STOP_CANCELLED',
       'PREV_SCHED_STOP_CANCELLED', 'IS_RELIEF', 'BLOCK_STOP_ORDER',
       'DWELL_IN_MINS', 'NEW_DATE', 'HOUR', 'Date', 'key', 'class',
       'expire_time_gmt', 'obs_id', 'obs_name', 'valid_time_gmt', 'day_ind',
       'temp', 'wx_icon', 'icon_extd', 'wx_phrase', 'pressure_tend',
       'pressure_desc', 'dewPt', 'heat_index', 'rh', 'pressure', 'vis', 'wc',
       'wdir', 'wdir_cardinal', 'gust', 'wspd', 'max_temp', 'min_temp',
       'precip_total', 'precip_hrly', 'snow_hrly', 'uv_desc', 'feels_like',
       'uv_index', 'qualifier', 'qualifier_svrty', 'blunt_phrase',
       'terse_phrase', 'clds', 'water_temp', 'primary_wave_period',
       'primary_wave_height', 'primary_swell_period', 'primary_swell_height',
       'primary_swell_direction', 'secondary_swell_period',
       'secondary_swell_height', 'secondary_swell_direction'],
      dtype='object')

In [33]:
merge_df_b= merge_df_a[['NEW_DATE', 'HOUR','DATE','Date', 'ROUTE_ABBR','TRIP_ID',
       'ROUTE_DIRECTION_NAME', 'SCHEDULED_TIME',
       'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV',
       'temp', 'heat_index', 'precip_hrly']]

In [29]:
merge_df['precip_hrly'].isna().sum()

33913

In [31]:
merge_df_a[['CALENDAR_ID', 'SERVICE_ABBR', 'ADHERENCE_ID', 'DATE', 'ROUTE_ABBR',
       'BLOCK_ABBR', 'OPERATOR', 'TRIP_ID', 'OVERLOAD_ID',
       'ROUTE_DIRECTION_NAME', 'TIME_POINT_ABBR', 'ROUTE_STOP_SEQUENCE',
       'TRIP_EDGE', 'LATITUDE', 'LONGITUDE', 'SCHEDULED_TIME',
       'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV', 'ADJUSTED_EARLY_COUNT',
       'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT', 'STOP_CANCELLED',
       'PREV_SCHED_STOP_CANCELLED', 'IS_RELIEF', 'BLOCK_STOP_ORDER',
       'DWELL_IN_MINS', 'NEW_DATE', 'HOUR', 'Date', 'key', 'class',
       'expire_time_gmt', 'obs_id', 'obs_name', 'valid_time_gmt', 'day_ind',
       'temp', 'wx_icon', 'icon_extd', 'wx_phrase', 'pressure_tend',
       'pressure_desc', 'dewPt', 'heat_index', 'rh', 'pressure', 'vis', 'wc',
       'wdir', 'wdir_cardinal', 'gust', 'wspd', 'max_temp', 'min_temp',
       'precip_total', 'precip_hrly', 'snow_hrly', 'uv_desc', 'feels_like',
       'uv_index', 'qualifier', 'qualifier_svrty', 'blunt_phrase',
       'terse_phrase', 'clds', 'water_temp', 'primary_wave_period',
       'primary_wave_height', 'primary_swell_period', 'primary_swell_height',
       'primary_swell_direction', 'secondary_swell_period',
       'secondary_swell_height', 'secondary_swell_direction']]

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210132,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210133,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210134,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210135,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2210136,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
merge_df['precip_hrly'].isna().sum()

33913

In [ ]:
# headway_i['DEV_PERCENT'] = headway_i.HDWY_DEV/headway_i.SCHEDULED_HDWY * 100

In [35]:
merge_df_b['DEV_PERCENT'] = merge_df_b.HDWY_DEV/merge_df_b.SCHEDULED_HDWY * 100

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_25912\3310893890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df_b['DEV_PERCENT'] = merge_df_b.HDWY_DEV/merge_df_b.SCHEDULED_HDWY * 100

In [36]:
merge_df_b['BUNCH/GAP']=''

merge_df_b.loc[merge_df_b['DEV_PERCENT'] >50, 'BUNCH/GAP']= 'gap'
merge_df_b.loc[merge_df_b['DEV_PERCENT'] <-50, 'BUNCH/GAP']= 'bunch'

merge_df_b.head(50)

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_25912\3229422113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df_b['BUNCH/GAP']=''

,NEW_DATE,HOUR,DATE,Date,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,temp,heat_index,precip_hrly,DEV_PERCENT,BUNCH/GAP
0,2021-11-01,14,2021-11-01,2021-11-01 14:53:00,7,297750,TO DOWNTOWN,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,62.0,62.0,0.0,14.166664,
1,2021-11-01,14,2021-11-01,2021-11-01 14:53:00,7,297750,TO DOWNTOWN,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,62.0,62.0,0.0,23.809521,
2,2021-11-01,14,2021-11-01,2021-11-01 14:53:00,7,297750,TO DOWNTOWN,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,62.0,62.0,0.0,NaN,
3,2021-11-01,15,2021-11-01,2021-11-01 15:53:00,50,297749,TO DOWNTOWN,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,62.0,62.0,0.0,NaN,
4,2021-11-01,15,2021-11-01,2021-11-01 15:53:00,50,297749,TO DOWNTOWN,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,62.0,62.0,0.0,NaN,
5,2021-11-01,04,2021-11-01,2021-11-01 04:53:00,22,298143,TO DOWNTOWN,04:42:00,04:29:30,04:41:50,0.166666,NaN,NaN,NaN,45.0,45.0,0.0,NaN,
6,2021-11-01,04,2021-11-01,2021-11-01 04:53:00,22,298143,TO DOWNTOWN,04:46:00,04:46:58,04:46:58,-0.966666,NaN,NaN,NaN,45.0,45.0,0.0,NaN,
7,2021-11-01,04,2021-11-01,2021-11-01 04:53:00,22,298143,TO DOWNTOWN,04:54:00,04:55:00,04:55:00,-1.000000,NaN,NaN,NaN,45.0,45.0,0.0,NaN,
8,2021-11-01,05,2021-11-01,2021-11-01 05:53:00,22,298143,TO DOWNTOWN,05:10:00,05:05:26,05:05:26,4.566666,NaN,NaN,NaN,46.0,46.0,0.0,NaN,
9,2021-11-01,05,2021-11-01,2021-11-01 05:53:00,22,298162,FROM DOWNTOWN,05:15:00,05:05:26,05:16:49,-1.816666,NaN,NaN,NaN,46.0,46.0,0.0,NaN,
10,2021-11-01,05,2021-11-01,2021-11-01 05:53:00,22,298162,FROM DOWNTOWN,05:25:00,05:25:52,05:25:52,-0.866666,NaN,NaN,NaN,46.0,46.0,0.0,NaN,
11,2021-11-01,05,2021-11-01,2021-11-01 05:53:00,22,298162,FROM DOWNTOWN,05:32:00,05:33:39,05:33:39,-1.650000,NaN,NaN,NaN,46.0,46.0,0.0,NaN,
12,2021-11-01,05,2021-11-01,2021-11-01 05:53:00,22,298128,TO DOWNTOWN,05:42:00,05:33:39,05:43:03,-1.050000,35.0,34.633333,-0.366667,46.0,46.0,0.0,-1.047620,
13,2021-11-01,05,2021-11-01,2021-11-01 05:53:00,22,298128,TO DOWNTOWN,05:46:00,05:48:15,05:48:15,-2.250000,35.0,35.866666,0.866666,46.0,46.0,0.0,2.476189,
14,2021-11-01,05,2021-11-01,2021-11-01 05:53:00,22,298128,TO DOWNTOWN,05:54:00,05:54:23,05:54:23,-0.383333,15.0,13.983333,-1.016667,46.0,46.0,0.0,-6.777780,
15,2021-11-01,06,2021-11-01,2021-11-01 06:53:00,22,298128,TO DOWNTOWN,06:10:00,06:05:39,06:05:39,4.350000,NaN,NaN,NaN,45.0,45.0,0.0,NaN,
16,2021-11-01,06,2021-11-01,2021-11-01 06:53:00,22,298151,FROM DOWNTOWN,06:15:00,06:05:39,06:17:01,-2.016666,35.0,36.116666,1.116666,45.0,45.0,0.0,3.190474,
17,2021-11-01,06,2021-11-01,2021-11-01 06:53:00,22,298151,FROM DOWNTOWN,06:25:00,06:26:17,06:26:17,-1.283333,15.0,15.400000,0.400000,45.0,45.0,0.0,2.666667,
18,2021-11-01,06,2021-11-01,2021-11-01 06:53:00,22,298151,FROM DOWNTOWN,06:35:00,06:34:28,06:34:28,0.533333,NaN,NaN,NaN,45.0,45.0,0.0,NaN,
19,2021-11-01,06,2021-11-01,2021-11-01 06:53:00,22,298129,TO DOWNTOWN,06:42:00,06:34:28,06:43:17,-1.283333,60.0,60.233333,0.233333,45.0,45.0,0.0,0.388888,
20,2021-11-01,06,2021-11-01,2021-11-01 06:53:00,22,298129,TO DOWNTOWN,06:46:00,06:53:40,06:53:40,-7.666666,60.0,65.416666,5.416666,45.0,45.0,0.0,9.027777,
21,2021-11-01,06,2021-11-01,2021-11-01 06:53:00,22,298129,TO DOWNTOWN,06:54:00,07:06:29,07:06:29,-12.483333,15.0,25.066666,10.066666,45.0,45.0,0.0,67.111107,gap
22,2021-11-01,07,2021-11-01,2021-11-01 07:53:00,22,298129,TO DOWNTOWN,07:10:00,07:16:14,07:16:14,-6.233333,NaN,NaN,NaN,47.0,47.0,0.0,NaN,
23,2021-11-01,07,2021-11-01,2021-11-01 07:53:00,22,298152,FROM DOWNTOWN,07:15:00,07:16:14,07:20:07,-5.116666,30.0,33.366666,3.366666,47.0,47.0,0.0,11.222220,
24,2021-11-01,07,2021-11-01,2021-11-01 07:53:00,22,298152,FROM DOWNTOWN,07:25:00,07:29:45,07:29:45,-4.750000,15.0,11.333333,-3.666667,47.0,47.0,0.0,-24.444447,
25,2021-11-01,07,2021-11-01,2021-11-01 07:53:00,22,298152,FROM DOWNTOWN,07:31:00,07:36:49,07:36:49,-5.816666,NaN,NaN,NaN,47.0,47.0,0.0,NaN,
26,2021-11-01,07,2021-11-01,2021-11-01 07:53:00,22,298152,FROM DOWNTOWN,07:36:00,07:40:28,07:40:28,-4.466666,NaN,NaN,NaN,47.0,47.0,0.0,NaN,
27,2021-11-01,07,2021-11-01,2021-11-01 07:53:00,22,298130,TO DOWNTOWN,07:45:00,07:40:28,07:44:49,0.183333,63.0,61.533333,-1.466667,47.0,47.0,0.0,-2.328043,
28,2021-11-01,07,2021-11-01,2021-11-01 07:53:00,22,298130,TO DOWNTOWN,07:54:00,07:58:01,07:58:01,-4.016666,15.0,17.883333,2.883333,47.0,47.0,0.0,19.222220,
29,2021-11-01,08,2021-11-01,2021-11-01 08:53:00,22,298130,TO DOWNTOWN,08:10:00,08:09:52,08:09:52,0.133333,NaN,NaN,NaN,50.0,50.0,0.0,NaN,
30,2021-11-01,08,2021-11-01,2021-11-01 08:53:00,22,298153,FROM DOWNTOWN,08:15:00,08:09:52,08:19:12,-4.200000,30.0,31.183333,1.183333,50.0,50.0,0.0,3.944443,
31,2021-11-01,08,2021-11-01,2021-11-01 08:53:00,22,298153,FROM DOWNTOWN,08:25:00,08:31:47,08:31:47,-6.783333,15.0,19.800000,4.800000,50.0,50.0,0.0,32.000000,
32,2021-11-01,08,2021-11-01,2021-11-01 08:53:00,22,298153,FROM DOWNTOWN,08:35:00,08:41:36,08:41:36,-6.600000,NaN,NaN,NaN,50.0,50.0,0.0,NaN,
33,2021-11-01,08,2021-11-01,2021-11-01 08:53:00,22,298131,TO DOWNTOWN,08:45:00,08:41:36,08:45:13,-0.216666,60.0,60.400000,0.400000,50.0,50.0,0.0,0.666667,
34,2021-11-01,08,2021-11-01,2021-11-01 08:53:00,22,298131,TO DOWNTOWN,08:54:00,08:55:59,08:55:59,-1.983333,15.0,14.916666,-0.083334,50.0,50.0,0.0,-0.555560,
35,2021-11-01,09,2021-11-01,2021-11-01 09:53:00,22,298131,TO DOWNTOWN,09:10:00,09:05:44,09:05:44,4.266666,NaN,NaN,NaN,53.0,53.0,0.0,NaN,
36,2021-11-01,09,2021-11-01,2021-11-01 09:53:00,22,298147,FROM DOWNTOWN,09:15:00,09:05:44,09:18:37,-3.616666,30.0,27.683333,-2.316667,53.0,53.0,0.0,-7.722223,
37,2021-11-01,09,2021-11-01,2021-11-01 09:53:00,22,298147,FROM DOWNTOWN,09:26:00,09:29:07,09:29:07,-3.116666,16.0,18.433333,2.433333,53.0,53.0,0.0,15.208331,
38,2021-11-01,09,2021-11-01,2021-11-01 09:53:00,22,298147,FROM DOWNTOWN,09:36:00,09:37:54,09:37:54,-1.900000,NaN,NaN,NaN,53.0,53.0,0.0,NaN,
39,2021-11-01,09,2021-11-01,2021-11-01 09:53:00,22,298132,TO DOWNTOWN,09:40:00,09:37:54,09:40:05,-0.083333,55.0,54.866666,-0.133334,53.0,53.0,0.0,-0.242425,
40,2021-11-01,09,2021-11-01,2021-11-01 09:53:00,22,298132,TO DOWNTOWN,09:49:00,09:49:23,09:49:23,-0.383333,10.0,10.083333,0.083333,53.0,53.0,0.0,0.833330,
41,2021-11-01,10,2021-11-01,2021-11-01 10:53:00,22,298132,TO DOWNTOWN,10:05:00,10:01:44,10:01:44,3.266666,NaN,NaN,NaN,56.0,56.0,0.0,NaN,
42,2021-11-01,10,2021-11-01,2021-11-01 10:53:00,22,298158,FROM DOWNTOWN,10:10:00,10:01:44,10:11:34,-1.566666,25.0,24.000000,-1.000000,56.0,56.0,0.0,-4.000000,
43,2021-11-01,10,2021-11-01,2021-11-01 10:53:00,22,298158,FROM DOWNTOWN,10:21:00,10:23:18,10:23:18,-2.300000,10.0,11.400000,1.400000,56.0,56.0,0.0,14.000000,
44,2021-11-01,10,2021-11-01,2021-11-01 10:53:00,22,298158,FROM DOWNTOWN,10:25:00,10:26:11,10:26:11,-1.183333,NaN,NaN,NaN,56.0,56.0,0.0,NaN,
45,2021-11-01,10,2021-11-01,2021-11-01 10:53:00,22,298136,TO DOWNTOWN,10:35:00,10:26:11,10:34:22,0.633333,50.0,45.650000,-4.350000,56.0,56.0,0.0,-8.700000,
46,2021-11-01,10,2021-11-01,2021-11-01 10:53:00,22,298136,TO DOWNTOWN,10:45:00,10:44:23,10:44:23,0.616666,50.0,48.016666,-1.983334,56.0,56.0,0.0,-3.966668,
47,2021-11-01,10,2021-11-01,2021-11-01 10:53:00,22,298136,TO DOWNTOWN,10:52:00,10:52:37,10:52:37,-0.616666,50.0,51.200000,1.200000,56.0,56.0,0.0,2.400000,
48,2021-11-01,10,2021-11-01,2021-11-01 10:53:00,22,298136,TO DOWNTOWN,10:59:00,10:59:26,10:59:26,-0.433333,10.0,7.566666,-2.433334,56.0,56.0,0.0,-24.333340,
49,2021-11-01,11,2021-11-01,2021-11-01 11:53:00,22,298136,TO DOWNTOWN,11:15:00,11:07:00,11:07:00,8.000000,NaN,NaN,NaN,59.0,59.0,0.0,NaN,

In [37]:
merge_df_c = merge_df_b.sort_values(by='BUNCH/GAP', ascending=False)
merge_df_c.head(50)

,NEW_DATE,HOUR,DATE,Date,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,temp,heat_index,precip_hrly,DEV_PERCENT,BUNCH/GAP
1527749,2022-07-12,13,2022-07-12,2022-07-12 13:53:00,56,314471,FROM DOWNTOWN,13:33:00,13:39:03,13:39:03,-6.050000,10.0,16.933333,6.933333,94.0,99.0,0.0,69.333330,gap
756325,2022-03-09,07,2022-03-09,2022-03-09 07:13:00,55,305038,FROM DOWNTOWN,07:25:00,07:48:06,07:50:33,-25.550000,10.0,34.150000,24.150000,39.0,39.0,0.0,241.500000,gap
81325,2021-11-15,06,2021-11-15,2021-11-15 06:53:00,23,298476,TO DOWNTOWN,06:09:00,06:16:38,06:16:38,-7.633333,12.0,19.050000,7.050000,32.0,32.0,0.0,58.750000,gap
81324,2021-11-15,06,2021-11-15,2021-11-15 06:53:00,23,298476,TO DOWNTOWN,06:03:00,06:04:29,06:09:41,-6.683333,12.0,18.033333,6.033333,32.0,32.0,0.0,50.277775,gap
513174,2022-01-28,11,2022-01-28,2022-01-28 11:53:00,55,305003,TO DOWNTOWN,11:46:00,11:25:55,11:47:39,-1.650000,10.0,20.116666,10.116666,41.0,41.0,0.0,101.166660,gap
513172,2022-01-28,11,2022-01-28,2022-01-28 11:53:00,55,304996,FROM DOWNTOWN,11:20:00,11:20:58,11:20:58,-0.966666,10.0,19.633333,9.633333,41.0,41.0,0.0,96.333330,gap
1712010,2022-08-10,15,2022-08-10,2022-08-10 15:00:00,56,319483,FROM DOWNTOWN,15:15:00,15:01:37,15:23:21,-8.350000,10.0,15.050000,5.050000,75.0,75.0,0.0,50.500000,gap
513171,2022-01-28,11,2022-01-28,2022-01-28 11:53:00,55,304996,FROM DOWNTOWN,11:13:00,11:13:20,11:13:20,-0.333333,10.0,18.800000,8.800000,41.0,41.0,0.0,88.000000,gap
903935,2022-04-04,07,2022-04-04,2022-04-04 07:53:00,56,309970,TO DOWNTOWN,07:05:00,07:01:24,07:05:31,-0.516666,10.0,17.483333,7.483333,48.0,48.0,0.0,74.833330,gap
513170,2022-01-28,11,2022-01-28,2022-01-28 11:53:00,55,304996,FROM DOWNTOWN,11:07:00,11:03:56,11:07:31,-0.516666,10.0,20.383333,10.383333,41.0,41.0,0.0,103.833330,gap
903933,2022-04-04,19,2022-04-04,2022-04-04 19:53:00,56,309953,FROM DOWNTOWN,19:56:00,20:01:07,20:05:29,-9.483333,15.0,23.983333,8.983333,71.0,71.0,0.0,59.888887,gap
903932,2022-04-04,19,2022-04-04,2022-04-04 19:53:00,56,309953,FROM DOWNTOWN,19:52:00,20:00:08,20:00:08,-8.133333,15.0,23.083333,8.083333,71.0,71.0,0.0,53.888887,gap
1931856,2022-09-15,14,2022-09-15,2022-09-15 14:53:00,56,319436,TO DOWNTOWN,14:04:00,14:11:15,14:11:15,-7.250000,10.0,18.016666,8.016666,84.0,84.0,0.0,80.166660,gap
513168,2022-01-28,10,2022-01-28,2022-01-28 10:41:00,55,304996,FROM DOWNTOWN,10:55:00,10:54:07,10:54:07,0.883333,10.0,18.966666,8.966666,41.0,41.0,0.0,89.666660,gap
513166,2022-01-28,10,2022-01-28,2022-01-28 10:41:00,55,304996,FROM DOWNTOWN,10:45:00,10:32:29,10:45:44,-0.733333,10.0,15.283333,5.283333,41.0,41.0,0.0,52.833330,gap
1319058,2022-06-08,18,2022-06-08,2022-06-08 18:53:00,23,312156,FROM DOWNTOWN,18:02:00,18:04:50,18:04:50,-2.833333,23.0,50.000000,27.000000,83.0,86.0,0.0,117.391304,gap
1319060,2022-06-08,18,2022-06-08,2022-06-08 18:53:00,23,312171,TO DOWNTOWN,18:21:00,18:12:01,18:24:00,-3.000000,20.0,42.100000,22.100000,83.0,86.0,0.0,110.500000,gap
1319061,2022-06-08,18,2022-06-08,2022-06-08 18:53:00,23,312171,TO DOWNTOWN,18:32:00,18:31:18,18:31:18,0.700000,20.0,37.500000,17.500000,83.0,86.0,0.0,87.500000,gap
1319062,2022-06-08,18,2022-06-08,2022-06-08 18:53:00,23,312171,TO DOWNTOWN,18:38:00,18:35:15,18:37:03,0.950000,20.0,38.266666,18.266666,83.0,86.0,0.0,91.333330,gap
1319064,2022-06-08,18,2022-06-08,2022-06-08 18:53:00,23,312157,FROM DOWNTOWN,18:55:00,18:40:46,18:55:26,-0.433333,20.0,41.400000,21.400000,83.0,86.0,0.0,107.000000,gap
1319065,2022-06-08,19,2022-06-08,2022-06-08 19:53:00,23,312157,FROM DOWNTOWN,19:01:00,18:58:45,19:00:39,0.350000,20.0,40.950000,20.950000,82.0,85.0,0.0,104.750000,gap
1476365,2022-07-05,07,2022-07-05,2022-07-05 07:53:00,3,312871,FROM DOWNTOWN,07:25:00,07:14:14,07:32:55,-7.916666,10.0,16.083333,6.083333,82.0,87.0,0.0,60.833330,gap
1319066,2022-06-08,19,2022-06-08,2022-06-08 19:53:00,23,312157,FROM DOWNTOWN,19:08:00,19:07:17,19:07:17,0.716666,20.0,40.033333,20.033333,82.0,85.0,0.0,100.166665,gap
513175,2022-01-28,11,2022-01-28,2022-01-28 11:53:00,55,305003,TO DOWNTOWN,11:53:00,11:54:55,11:54:55,-1.916666,10.0,21.350000,11.350000,41.0,41.0,0.0,113.500000,gap
1319047,2022-06-08,16,2022-06-08,2022-06-08 16:53:00,23,312155,FROM DOWNTOWN,16:27:00,16:30:21,16:30:21,-3.350000,24.0,51.700000,27.700000,86.0,89.0,0.0,115.416667,gap
1319046,2022-06-08,16,2022-06-08,2022-06-08 16:53:00,23,312155,FROM DOWNTOWN,16:17:00,16:17:30,16:17:30,-0.500000,24.0,47.966666,23.966666,86.0,89.0,0.0,99.861108,gap
513187,2022-01-28,13,2022-01-28,2022-01-28 13:53:00,55,305004,TO DOWNTOWN,13:52:00,13:54:03,13:54:03,-2.050000,10.0,18.766666,8.766666,41.0,41.0,0.0,87.666660,gap
2135948,2022-10-20,15,2022-10-20,2022-10-20 15:53:00,56,330011,TO DOWNTOWN,15:20:00,15:04:39,15:21:59,-1.983333,0.0,2.950000,2.950000,63.0,63.0,0.0,inf,gap
513192,2022-01-28,14,2022-01-28,2022-01-28 14:53:00,55,304998,FROM DOWNTOWN,14:45:00,14:33:24,14:48:18,-3.300000,10.0,32.500000,22.500000,38.0,38.0,0.0,225.000000,gap
513190,2022-01-28,14,2022-01-28,2022-01-28 14:53:00,55,305004,TO DOWNTOWN,14:20:00,14:20:22,14:20:22,-0.366666,10.0,19.433333,9.433333,38.0,38.0,0.0,94.333330,gap
513189,2022-01-28,14,2022-01-28,2022-01-28 14:53:00,55,305004,TO DOWNTOWN,14:08:00,14:06:22,14:08:11,-0.183333,10.0,17.133333,7.133333,38.0,38.0,0.0,71.333330,gap
513188,2022-01-28,14,2022-01-28,2022-01-28 14:53:00,55,305004,TO DOWNTOWN,14:00:00,14:00:49,14:00:49,-0.816666,10.0,16.616666,6.616666,38.0,38.0,0.0,66.166660,gap
81348,2021-11-15,09,2021-11-15,2021-11-15 09:53:00,23,298479,TO DOWNTOWN,09:38:00,09:46:16,09:46:16,-8.266666,12.0,21.533333,9.533333,43.0,43.0,0.0,79.444442,gap
1319031,2022-06-08,14,2022-06-08,2022-06-08 14:53:00,23,312154,FROM DOWNTOWN,14:15:00,14:00:27,14:00:27,14.550000,12.0,21.216666,9.216666,87.0,91.0,0.0,76.805550,gap
1251506,2022-05-27,11,2022-05-27,2022-05-27 11:53:00,23,312005,FROM DOWNTOWN,11:27:00,11:10:12,11:27:45,-0.750000,12.0,25.133333,13.133333,68.0,68.0,0.0,109.444442,gap
903945,2022-04-04,08,2022-04-04,2022-04-04 08:53:00,56,309961,FROM DOWNTOWN,08:35:00,08:35:48,08:43:31,-8.516666,10.0,17.633333,7.633333,53.0,53.0,0.0,76.333330,gap
513186,2022-01-28,13,2022-01-28,2022-01-28 13:53:00,55,305004,TO DOWNTOWN,13:45:00,13:38:57,13:47:11,-2.183333,10.0,19.583333,9.583333,41.0,41.0,0.0,95.833330,gap
2055435,2022-10-07,21,2022-10-07,2022-10-07 21:53:00,50,323040,FROM DOWNTOWN,21:15:00,21:04:33,21:16:58,-1.966666,30.0,61.166666,31.166666,60.0,60.0,0.0,103.888887,gap
1319035,2022-06-08,14,2022-06-08,2022-06-08 14:53:00,23,312154,FROM DOWNTOWN,14:41:00,14:45:05,14:45:05,-4.083333,24.0,36.950000,12.950000,87.0,91.0,0.0,53.958333,gap
1319036,2022-06-08,14,2022-06-08,2022-06-08 14:53:00,23,312154,FROM DOWNTOWN,14:50:00,15:00:33,15:00:33,-10.550000,24.0,58.150000,34.150000,87.0,91.0,0.0,142.291667,gap
1116375,2022-05-06,15,2022-05-06,2022-05-06 15:53:00,50,308695,TO DOWNTOWN,15:00:00,14:38:13,15:03:11,-3.183333,15.0,32.700000,17.700000,69.0,69.0,0.0,118.000000,gap
587231,2022-02-09,05,2022-02-09,2022-02-09 05:53:00,55,305000,TO DOWNTOWN,05:46:00,05:39:11,05:47:13,-1.216666,8.0,17.200000,9.200000,43.0,43.0,0.0,115.000000,gap
1563774,2022-07-18,09,2022-07-18,2022-07-18 09:19:00,56,314417,FROM DOWNTOWN,09:31:00,09:36:11,09:36:11,-5.183333,10.0,15.150000,5.150000,74.0,74.0,0.0,51.500000,gap
325541,2021-12-28,07,2021-12-28,2021-12-28 07:53:00,22,302651,TO DOWNTOWN,07:00:00,07:00:16,07:00:16,-0.266666,60.0,104.666666,44.666666,61.0,61.0,0.0,74.444443,gap
513178,2022-01-28,12,2022-01-28,2022-01-28 12:53:00,55,305003,TO DOWNTOWN,12:20:00,12:23:41,12:23:41,-3.683333,10.0,22.533333,12.533333,41.0,41.0,0.0,125.333330,gap
513177,2022-01-28,12,2022-01-28,2022-01-28 12:53:00,55,305003,TO DOWNTOWN,12:09:00,12:07:31,12:09:15,-0.250000,10.0,19.100000,9.100000,41.0,41.0,0.0,91.000000,gap
513176,2022-01-28,12,2022-01-28,2022-01-28 12:53:00,55,305003,TO DOWNTOWN,12:01:00,12:01:04,12:01:04,-0.066666,10.0,19.083333,9.083333,41.0,41.0,0.0,90.833330,gap
2055403,2022-10-07,17,2022-10-07,2022-10-07 17:53:00,50,323047,FROM DOWNTOWN,17:01:00,17:13:13,17:15:31,-14.516666,15.0,30.616666,15.616666,70.0,70.0,0.0,104.111107,gap
2055402,2022-10-07,16,2022-10-07,2022-10-07 16:53:00,50,323047,FROM DOWNTOWN,16:52:00,17:03:14,17:03:14,-11.233333,15.0,26.250000,11.250000,73.0,73.0,0.0,75.000000,gap
2055401,2022-10-07,16,2022-10-07,2022-10-07 16:53:00,50,323047,FROM DOWNTOWN,16:47:00,16:56:41,16:56:41,-9.683333,15.0,25.700000,10.700000,73.0,73.0,0.0,71.333333,gap