# EDA

Step 1) import packages

Why are there more rows in bna_weather compared to bna_2022.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Step 2) Download CSV files into python

In [12]:
weather = pd.read_csv('../Data/bna_weather.csv')

In [4]:
headway = pd.read_csv('../Data/Headway Data.csv')

In [5]:
# don't need bna_20222. weather = pd.read_csv('../Data/bna_2022.csv')

Step 3) Shape, head, dtypes (columns), info

In [13]:
weather.shape

(9739, 46)

In [10]:
headway.shape

(1981715, 30)

In [65]:
weather.info

<bound method DataFrame.info of                      Date   key        class  expire_time_gmt obs_id  \
0     2021-11-01 00:53:00  KBNA  observation       1635753180   KBNA
1     2021-11-01 01:30:00  KBNA  observation       1635755400   KBNA
2     2021-11-01 01:53:00  KBNA  observation       1635756780   KBNA
3     2021-11-01 02:53:00  KBNA  observation       1635760380   KBNA
4     2021-11-01 03:53:00  KBNA  observation       1635763980   KBNA
...                   ...   ...          ...              ...    ...
9734  2022-10-31 19:53:00  KBNA  observation       1667271180   KBNA
9735  2022-10-31 20:53:00  KBNA  observation       1667274780   KBNA
9736  2022-10-31 21:53:00  KBNA  observation       1667278380   KBNA
9737  2022-10-31 22:53:00  KBNA  observation       1667281980   KBNA
9738  2022-10-31 23:53:00  KBNA  observation       1667285580   KBNA

       obs_name  valid_time_gmt day_ind  temp  wx_icon  ...  clds water_temp  \
0     Nashville      1635745980       N    51       26  ...   OVC        NaN
1     Nashville      1635748200       N    50       29  ...   SCT        NaN
2     Nashville      1635749580       N    49       33  ...   CLR        NaN
3     Nashville      1635753180       N    48       33  ...   CLR        NaN
4     Nashville      1635756780       N    47       33  ...   CLR        NaN
...         ...             ...     ...   ...      ...  ...   ...        ...
9734  Nashville      1667263980       N    60       26  ...   OVC        NaN
9735  Nashville      1667267580       N    60       26  ...   OVC        NaN
9736  Nashville      1667271180       N    58       27  ...   BKN        NaN
9737  Nashville      1667274780       N    60       27  ...   BKN        NaN
9738  Nashville      1667278380       N    60       26  ...   OVC        NaN

      primary_wave_period primary_wave_height  primary_swell_period  \
0                     NaN                 NaN                   NaN
1                     NaN                 NaN                   NaN
2                     NaN                 NaN                   NaN
3                     NaN                 NaN                   NaN
4                     NaN                 NaN                   NaN
...                   ...                 ...                   ...
9734                  NaN                 NaN                   NaN
9735                  NaN                 NaN                   NaN
9736                  NaN                 NaN                   NaN
9737                  NaN                 NaN                   NaN
9738                  NaN                 NaN                   NaN

      primary_swell_height  primary_swell_direction  secondary_swell_period  \
0                      NaN                      NaN                     NaN
1                      NaN                      NaN                     NaN
2                      NaN                      NaN                     NaN
3                      NaN                      NaN                     NaN
4                      NaN                      NaN                     NaN
...                    ...                      ...                     ...
9734                   NaN                      NaN                     NaN
9735                   NaN                      NaN                     NaN
9736                   NaN                      NaN                     NaN
9737                   NaN                      NaN                     NaN
9738                   NaN                      NaN                     NaN

      secondary_swell_height  secondary_swell_direction
0                        NaN                        NaN
1                        NaN                        NaN
2                        NaN                        NaN
3                        NaN                        NaN
4                        NaN                        NaN
...                      ...                        ...
9734                     NaN                        NaN
9735                     NaN                        NaN
9736                     NaN                        NaN
9737                     NaN                        NaN
9738                     NaN                        NaN

[9739 rows x 46 columns]>

In [66]:
headway.info

<bound method DataFrame.info of          CALENDAR_ID  SERVICE_ABBR  ADHERENCE_ID        DATE  ROUTE_ABBR  \
0          120211101             1      76447164  2021-11-01           7
1          120211101             1      76447165  2021-11-01           7
2          120211101             1      76447166  2021-11-01           7
3          120211101             1      76447167  2021-11-01          50
4          120211101             1      76447168  2021-11-01          50
...              ...           ...           ...         ...         ...
1981710    120221101             1      91057724  2022-11-01          50
1981711    120221101             1      91057851  2022-11-01          50
1981712    120221101             1      91057852  2022-11-01          50
1981713    120221101             1      91057881  2022-11-01          56
1981714    120221101             1      91057882  2022-11-01          56

         BLOCK_ABBR  OPERATOR  TRIP_ID  OVERLOAD_ID ROUTE_DIRECTION_NAME  ...  \
0              1704      2088   297750            0          TO DOWNTOWN  ...
1              1704      2088   297750            0          TO DOWNTOWN  ...
2              1704      2088   297750            0          TO DOWNTOWN  ...
3              1704      2088   297749            0          TO DOWNTOWN  ...
4              1704      2088   297749            0          TO DOWNTOWN  ...
...             ...       ...      ...          ...                  ...  ...
1981710        9302      2355   329980            0          TO DOWNTOWN  ...
1981711        9950      1880   330003            0          TO DOWNTOWN  ...
1981712        9950      1880   330003            0          TO DOWNTOWN  ...
1981713        9975      1922   330011            0          TO DOWNTOWN  ...
1981714        9975      1922   330011            0          TO DOWNTOWN  ...

        ACTUAL_HDWY  HDWY_DEV  ADJUSTED_EARLY_COUNT  ADJUSTED_LATE_COUNT  \
0         15.983333  1.983333                     0                    0
1         17.333333  3.333333                     0                    0
2               NaN       NaN                     0                    1
3               NaN       NaN                     0                    0
4               NaN       NaN                     0                    0
...             ...       ...                   ...                  ...
1981710         NaN       NaN                     0                    0
1981711    7.633333 -2.366667                     1                    0
1981712         NaN       NaN                     1                    0
1981713         NaN       NaN                     0                    0
1981714         NaN       NaN                     0                    0

         ADJUSTED_ONTIME_COUNT STOP_CANCELLED PREV_SCHED_STOP_CANCELLED  \
0                            1              0                       0.0
1                            1              0                       0.0
2                            0              0                       NaN
3                            1              0                       0.0
4                            1              0                       NaN
...                        ...            ...                       ...
1981710                      1              0                       NaN
1981711                      0              0                       0.0
1981712                      0              0                       NaN
1981713                      1              0                       0.0
1981714                      1              0                       NaN

        IS_RELIEF  BLOCK_STOP_ORDER  DWELL_IN_MINS
0               0                 2      12.650000
1               0                11       0.000000
2               0                23      22.416666
3               0                24       5.766666
4               0                25       0.000000
...           ...               ...            ...
1981710         0                 3       1.016666
1981711         0                 2       9.900000
1981712         0                 3       0.000000
1981713         0                 2      19.366666
1981714         0                 3       1.683333

[1981715 rows x 30 columns]>

In [18]:
weather

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31 19:53:00,KBNA,observation,1667271180,KBNA,Nashville,1667263980,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9735,2022-10-31 20:53:00,KBNA,observation,1667274780,KBNA,Nashville,1667267580,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9736,2022-10-31 21:53:00,KBNA,observation,1667278380,KBNA,Nashville,1667271180,N,58,27,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9737,2022-10-31 22:53:00,KBNA,observation,1667281980,KBNA,Nashville,1667274780,N,60,27,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9738,2022-10-31 23:53:00,KBNA,observation,1667285580,KBNA,Nashville,1667278380,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
headway.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000

In [22]:
weather.dtypes

Date                          object
key                           object
class                         object
expire_time_gmt                int64
obs_id                        object
obs_name                      object
valid_time_gmt                 int64
day_ind                       object
temp                           int64
wx_icon                        int64
icon_extd                      int64
wx_phrase                     object
pressure_tend                float64
pressure_desc                 object
dewPt                          int64
heat_index                     int64
rh                             int64
pressure                     float64
vis                          float64
wc                           float64
wdir                         float64
wdir_cardinal                 object
gust                         float64
wspd                         float64
max_temp                     float64
min_temp                     float64
precip_total                 float64
precip_hrly                  float64
snow_hrly                    float64
uv_desc                       object
feels_like                   float64
uv_index                     float64
qualifier                    float64
qualifier_svrty              float64
blunt_phrase                 float64
terse_phrase                 float64
clds                          object
water_temp                   float64
primary_wave_period          float64
primary_wave_height          float64
primary_swell_period         float64
primary_swell_height         float64
primary_swell_direction      float64
secondary_swell_period       float64
secondary_swell_height       float64
secondary_swell_direction    float64
dtype: object

In [23]:
headway.dtypes

CALENDAR_ID                    int64
SERVICE_ABBR                   int64
ADHERENCE_ID                   int64
DATE                          object
ROUTE_ABBR                     int64
BLOCK_ABBR                     int64
OPERATOR                       int64
TRIP_ID                        int64
OVERLOAD_ID                    int64
ROUTE_DIRECTION_NAME          object
TIME_POINT_ABBR               object
ROUTE_STOP_SEQUENCE          float64
TRIP_EDGE                      int64
LATITUDE                     float64
LONGITUDE                    float64
SCHEDULED_TIME                object
ACTUAL_ARRIVAL_TIME           object
ACTUAL_DEPARTURE_TIME         object
ADHERENCE                    float64
SCHEDULED_HDWY               float64
ACTUAL_HDWY                  float64
HDWY_DEV                     float64
ADJUSTED_EARLY_COUNT           int64
ADJUSTED_LATE_COUNT            int64
ADJUSTED_ONTIME_COUNT          int64
STOP_CANCELLED                 int64
PREV_SCHED_STOP_CANCELLED    float64
IS_RELIEF                      int64
BLOCK_STOP_ORDER               int64
DWELL_IN_MINS                float64
dtype: object

In [24]:
headway['ROUTE_DIRECTION_NAME'].value_counts()

FROM DOWNTOWN    1047952
TO DOWNTOWN       933763
Name: ROUTE_DIRECTION_NAME, dtype: int64

In [25]:
headway['DATE'].value_counts()

# 336 days

2022-10-26    6540
2022-11-01    6498
2022-05-02    6491
2022-04-06    6489
2022-10-06    6488
              ...
2022-01-16    2994
2021-11-25    2993
2021-12-24    2990
2022-03-27    2989
2021-12-26    2987
Name: DATE, Length: 366, dtype: int64

In [27]:
headway['TIME_POINT_ABBR'].value_counts()

# 65 different time point abbreviations

GXRVRGAT    88506
DWMRT       83826
WHBG        67522
MXTHOMP     60462
MXWHARF     60447
            ...
CRES          170
HLHS          137
MCC4_13       131
MCC5_3         85
MCC4_21         5
Name: TIME_POINT_ABBR, Length: 65, dtype: int64

In [31]:
# pd.DataFrame(people_df['sex'].value_counts(dropna = False))

pd.DataFrame(headway['HDWY_DEV'].value_counts())

            HDWY_DEV
 0.000000       5276
-0.100000       4636
-0.033334       4592
-0.016667       4590
 0.033333       4554
...              ...
 69.483333         1
 63.666666         1
 46.433333         1
 45.300000         1
-27.633334         1

[6019 rows x 1 columns]

In [32]:
headway.describe()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_STOP_SEQUENCE,TRIP_EDGE,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
count,1.981715e+06,1.981715e+06,1.981715e+06,1.981715e+06,1.981715e+06,1.981715e+06,1.981715e+06,1.981715e+06,1.981674e+06,1.981715e+06,...,1.507891e+06,1.507347e+06,1.981715e+06,1.981715e+06,1.981715e+06,1.981715e+06,1.579068e+06,1.981715e+06,1.981715e+06,1.927259e+06
mean,1.202191e+08,1.301276e+00,8.440206e+07,3.933449e+01,3.947508e+03,1.635251e+03,3.111437e+05,9.984281e-03,7.122218e+00,5.848394e-01,...,1.898972e+01,3.647395e-01,2.738487e-02,1.057655e-01,8.393836e-01,2.552234e-02,2.351577e-02,1.275310e-02,3.254840e+02,2.856618e+00
std,3.423559e+03,6.398457e-01,4.330643e+06,1.969928e+01,1.973956e+03,6.375643e+02,7.312918e+03,1.291578e-01,3.828157e+00,7.959966e-01,...,1.395040e+01,6.579797e+00,1.632022e-01,3.075373e-01,3.671769e-01,1.577053e-01,1.515348e-01,1.122072e-01,2.353626e+02,5.986122e+00
min,1.202111e+08,1.000000e+00,7.644716e+07,3.000000e+00,3.000000e+02,0.000000e+00,2.977490e+05,0.000000e+00,1.000000e+00,0.000000e+00,...,0.000000e+00,-2.220667e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,-1.135833e+02
25%,1.202202e+08,1.000000e+00,8.075122e+07,2.300000e+01,2.301000e+03,1.222000e+03,3.047570e+05,0.000000e+00,4.000000e+00,0.000000e+00,...,1.101667e+01,-1.883334e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.380000e+02,0.000000e+00
50%,1.202205e+08,1.000000e+00,8.470092e+07,5.200000e+01,5.200000e+03,1.733000e+03,3.097210e+05,0.000000e+00,6.000000e+00,0.000000e+00,...,1.618333e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.900000e+02,0.000000e+00
75%,1.202208e+08,1.000000e+00,8.828194e+07,5.500000e+01,5.506000e+03,2.161000e+03,3.174720e+05,0.000000e+00,1.000000e+01,1.000000e+00,...,2.306667e+01,1.966666e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.610000e+02,2.183333e+00
max,1.202211e+08,3.000000e+00,9.109076e+07,5.600000e+01,9.975000e+03,2.255400e+04,3.300110e+05,6.000000e+00,1.700000e+01,2.000000e+00,...,1.084617e+03,1.054617e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.322000e+03,4.271667e+02

In [33]:
headway['HDWY_DEV'].describe()

count    1.507347e+06
mean     3.647395e-01
std      6.579797e+00
min     -2.220667e+02
25%     -1.883334e+00
50%      0.000000e+00
75%      1.966666e+00
max      1.054617e+03
Name: HDWY_DEV, dtype: float64

In [37]:
# people_df.weight.value_counts()#.sort_index()

value_counts = headway['HDWY_DEV'].value_counts()

In [40]:
headway['HDWY_DEV'].mean()

0.3647395373397392

In [54]:
# people_df.loc[:, 'years_played_sports'].sort_values()

range = [0-10]

headway_one = headway.loc[headway['HDWY_DEV'].isin([0,2])]

#new_df2004 =new_df4.loc[new_df4['Year'].isin([2004])]
# print(new_df2004)

In [55]:
headway_one

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
257,120211101,1,76448225,2021-11-01,22,2202,1222,298333,0,FROM DOWNTOWN,...,25.0,0.0,0,0,1,0,0.0,0,329,15.133333
350,120211101,1,76448320,2021-11-01,22,2210,1733,298397,0,TO DOWNTOWN,...,17.0,2.0,0,0,1,0,0.0,0,285,0.000000
572,120211101,1,76448548,2021-11-01,23,2301,306,298476,0,TO DOWNTOWN,...,12.0,0.0,0,0,1,0,0.0,0,29,0.000000
758,120211101,1,76448740,2021-11-01,23,2310,1147,298512,0,FROM DOWNTOWN,...,12.0,0.0,0,0,1,0,0.0,0,182,0.000000
1048,120211101,1,76449034,2021-11-01,23,2312,725,298659,0,FROM DOWNTOWN,...,24.0,0.0,0,0,1,0,0.0,0,494,4.633333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979659,120221101,1,91053570,2022-11-01,55,5505,1222,328530,0,FROM DOWNTOWN,...,12.0,2.0,0,0,1,0,0.0,0,449,0.000000
1980759,120221101,1,91054704,2022-11-01,56,5605,1540,328960,0,TO DOWNTOWN,...,10.0,0.0,0,0,1,0,0.0,0,352,18.150000
1980788,120221101,1,91054733,2022-11-01,56,5605,1540,328953,0,FROM DOWNTOWN,...,20.0,0.0,0,0,1,0,0.0,0,525,8.033333
1980912,120221101,1,91054861,2022-11-01,56,5607,1305,329003,0,FROM DOWNTOWN,...,12.0,2.0,0,0,1,0,0.0,0,137,0.000000
1981686,120221101,1,91056020,2022-11-01,7,705,1066,329447,0,FROM DOWNTOWN,...,62.0,2.0,0,0,1,0,0.0,0,345,17.033333

In [59]:
headway_one = headway.loc[headway['HDWY_DEV']>0]
headway_one

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
13,120211101,1,76447977,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,...,35.866666,0.866666,0,0,1,0,0.0,0,71,0.000000
16,120211101,1,76447980,2021-11-01,22,2200,1352,298151,0,FROM DOWNTOWN,...,36.116666,1.116666,0,0,1,0,0.0,0,98,11.366666
17,120211101,1,76447981,2021-11-01,22,2200,1352,298151,0,FROM DOWNTOWN,...,15.400000,0.400000,0,0,1,0,0.0,0,114,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981686,120221101,1,91056020,2022-11-01,7,705,1066,329447,0,FROM DOWNTOWN,...,62.000000,2.000000,0,0,1,0,0.0,0,345,17.033333
1981687,120221101,1,91056021,2022-11-01,7,705,1066,329447,0,FROM DOWNTOWN,...,62.233333,2.233333,0,0,1,0,0.0,0,357,0.000000
1981689,120221101,1,91056025,2022-11-01,7,706,2597,329460,0,TO DOWNTOWN,...,16.916666,1.916666,1,0,0,0,0.0,0,2,0.000000
1981690,120221101,1,91056026,2022-11-01,7,706,2597,329460,0,TO DOWNTOWN,...,16.650000,1.650000,0,1,0,0,0.0,0,11,1.733333
1981692,120221101,1,91056028,2022-11-01,7,706,2597,329458,0,FROM DOWNTOWN,...,21.000000,6.000000,0,0,1,0,0.0,0,24,0.000000

In [64]:
hdwy_dev =headway.loc[:,'HDWY_DEV']
hdwy_dev

0          1.983333
1          3.333333
2               NaN
3               NaN
4               NaN
             ...
1981710         NaN
1981711   -2.366667
1981712         NaN
1981713         NaN
1981714         NaN
Name: HDWY_DEV, Length: 1981715, dtype: float64

In [67]:
headway.dtypes

CALENDAR_ID                    int64
SERVICE_ABBR                   int64
ADHERENCE_ID                   int64
DATE                          object
ROUTE_ABBR                     int64
BLOCK_ABBR                     int64
OPERATOR                       int64
TRIP_ID                        int64
OVERLOAD_ID                    int64
ROUTE_DIRECTION_NAME          object
TIME_POINT_ABBR               object
ROUTE_STOP_SEQUENCE          float64
TRIP_EDGE                      int64
LATITUDE                     float64
LONGITUDE                    float64
SCHEDULED_TIME                object
ACTUAL_ARRIVAL_TIME           object
ACTUAL_DEPARTURE_TIME         object
ADHERENCE                    float64
SCHEDULED_HDWY               float64
ACTUAL_HDWY                  float64
HDWY_DEV                     float64
ADJUSTED_EARLY_COUNT           int64
ADJUSTED_LATE_COUNT            int64
ADJUSTED_ONTIME_COUNT          int64
STOP_CANCELLED                 int64
PREV_SCHED_STOP_CANCELLED    float64
IS_RELIEF                      int64
BLOCK_STOP_ORDER               int64
DWELL_IN_MINS                float64
dtype: object

In [68]:
#timeline_df_redo_drop=timeline_df_redo[['Child ID', 'Init. Elig. Category', 'Exit Reason']]


headway = headway[['ROUTE_ABBR','TRIP_ID','ROUTE_DIRECTION_NAME', 'SCHEDULED_HDWY', 'ACTUAL_HDWY','HDWY_DEV']]

In [69]:
headway

,ROUTE_ABBR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,7,297750,TO DOWNTOWN,14.0,15.983333,1.983333
1,7,297750,TO DOWNTOWN,14.0,17.333333,3.333333
2,7,297750,TO DOWNTOWN,NaN,NaN,NaN
3,50,297749,TO DOWNTOWN,NaN,NaN,NaN
4,50,297749,TO DOWNTOWN,NaN,NaN,NaN
...,...,...,...,...,...,...
1981710,50,329980,TO DOWNTOWN,NaN,NaN,NaN
1981711,50,330003,TO DOWNTOWN,10.0,7.633333,-2.366667
1981712,50,330003,TO DOWNTOWN,NaN,NaN,NaN
1981713,56,330011,TO DOWNTOWN,0.0,NaN,NaN
1981714,56,330011,TO DOWNTOWN,NaN,NaN,NaN

In [74]:
# IQR = people_desc.loc['75%', 'years_played_sports'] - people_desc.loc['25%', 'years_played_sports']

percent_headway =headway.loc['SCHEDULED_HDWY'] + headway.loc['ACTUAL_HDWY']
percent_headway

KeyError: 'SCHEDULED_HDWY'

In [78]:

percent_headway =headway['SCHEDULED_HDWY'] / headway['ACTUAL_HDWY']
print(percent_headway)

0          0.875912
1          0.807692
2               NaN
3               NaN
4               NaN
             ...
1981710         NaN
1981711    1.310044
1981712         NaN
1981713         NaN
1981714         NaN
Length: 1981715, dtype: float64

In [81]:
percent_headway =pd.DataFrame(percent_headway)

percent_headway[0].sort_values()

# people_df.loc[:, 'years_played_sports'].sort_values()

1935079    0.0
1895014    0.0
785949     0.0
1815136    0.0
1815138    0.0
          ...
1981709    NaN
1981710    NaN
1981712    NaN
1981713    NaN
1981714    NaN
Name: 0, Length: 1981715, dtype: float64

In [82]:
percent_headway[0].value_counts()

1.000000    5276
1.010101    3438
0.990099    3307
1.052632    3288
1.020408    3203
            ...
2.056555       1
7.860263       1
4.337350       1
6.262626       1
1.729622       1
Name: 0, Length: 55074, dtype: int64

In [ ]:
def diff(a, b):
    return b - a
  
data = np.arange(0, 20).reshape(4, 5)
  
  
df = pd.DataFrame(data,
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'],
                  columns=['Column 1', 'Column 2', 'Column 3',
                           'Column 4', 'Column 5'])
  
  
df['Difference_2_1'] = df.apply(
    lambda x: diff(x['Column 2'], x['Column 2']), axis=1)

In [ ]:
def div (a, b)
    return a/b

df['percent']= df.apply(
    lambda x: diff(x))