In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
headway = pd.read_csv('../Data/Headway Data.csv')

In [3]:
headway_l=headway.iloc[:,15:30]
headway_l

,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,15:18:00,15:19:43,15:20:44,-2.733333,NaN,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,15:20:00,14:57:12,15:07:06,12.900000,10.0,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,15:37:00,15:10:16,15:10:16,26.733333,NaN,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,15:20:00,14:59:40,15:19:02,0.966666,0.0,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,15:30:00,15:26:05,15:27:46,2.233333,NaN,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [4]:
headway.dtypes

CALENDAR_ID                    int64
SERVICE_ABBR                   int64
ADHERENCE_ID                   int64
DATE                          object
ROUTE_ABBR                     int64
BLOCK_ABBR                     int64
OPERATOR                       int64
TRIP_ID                        int64
OVERLOAD_ID                    int64
ROUTE_DIRECTION_NAME          object
TIME_POINT_ABBR               object
ROUTE_STOP_SEQUENCE          float64
TRIP_EDGE                      int64
LATITUDE                     float64
LONGITUDE                    float64
SCHEDULED_TIME                object
ACTUAL_ARRIVAL_TIME           object
ACTUAL_DEPARTURE_TIME         object
ADHERENCE                    float64
SCHEDULED_HDWY               float64
ACTUAL_HDWY                  float64
HDWY_DEV                     float64
ADJUSTED_EARLY_COUNT           int64
ADJUSTED_LATE_COUNT            int64
ADJUSTED_ONTIME_COUNT          int64
STOP_CANCELLED                 int64
PREV_SCHED_STOP_CANCELLED    float64
IS_RELIEF                      int64
BLOCK_STOP_ORDER               int64
DWELL_IN_MINS                float64
dtype: object

In [5]:

headway_a = headway[['DATE','ROUTE_ABBR','BLOCK_ABBR','OPERATOR','TRIP_ID','ROUTE_DIRECTION_NAME','SCHEDULED_TIME', 'SCHEDULED_HDWY', 'ACTUAL_HDWY','HDWY_DEV']]

headway_a.head()

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:10:00,14.0,15.983333,1.983333
1,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:20:00,14.0,17.333333,3.333333
2,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:39:00,NaN,NaN,NaN
3,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:10:00,NaN,NaN,NaN
4,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:27:00,NaN,NaN,NaN

In [6]:
# deleted unwanted columns

headway_f = headway[['DATE','ROUTE_ABBR','TIME_POINT_ABBR','OPERATOR','TRIP_ID','ROUTE_DIRECTION_NAME','SCHEDULED_TIME', 'ACTUAL_ARRIVAL_TIME',
                     'ACTUAL_DEPARTURE_TIME', 'SCHEDULED_HDWY', 'ACTUAL_HDWY','HDWY_DEV']]

headway_f.head()

,DATE,ROUTE_ABBR,TIME_POINT_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,2021-11-01,7,HBHS,2088,297750,TO DOWNTOWN,14:10:00,13:59:21,14:12:00,14.0,15.983333,1.983333
1,2021-11-01,7,21BK,2088,297750,TO DOWNTOWN,14:20:00,14:23:21,14:23:21,14.0,17.333333,3.333333
2,2021-11-01,7,MCC5_9,2088,297750,TO DOWNTOWN,14:39:00,14:36:46,14:59:11,NaN,NaN,NaN
3,2021-11-01,50,MLKS,2088,297749,TO DOWNTOWN,15:10:00,15:04:31,15:10:17,NaN,NaN,NaN
4,2021-11-01,50,MCC5_11,2088,297749,TO DOWNTOWN,15:27:00,15:16:59,15:16:59,NaN,NaN,NaN

In [7]:
headway_g = headway_f.sort_values('TIME_POINT_ABBR')

In [8]:
# drilled down to just one route, day, and bus stop

headway_h=headway_g[(headway_g['ROUTE_ABBR']==55) & 
        (headway_g['DATE']=='2021-11-01')&
        (headway_g['TIME_POINT_ABBR']=='HHWM')]

headway_h.head(50)

,DATE,ROUTE_ABBR,TIME_POINT_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
3845,2021-11-01,55,HHWM,1202,300538,FROM DOWNTOWN,09:19:00,09:15:14,09:15:14,NaN,NaN,NaN
3846,2021-11-01,55,HHWM,1202,300548,TO DOWNTOWN,09:36:00,09:15:14,09:38:24,10.0,8.583333,-1.416667
3834,2021-11-01,55,HHWM,1202,300547,TO DOWNTOWN,07:34:00,07:16:22,07:35:30,10.0,9.966666,-0.033334
3833,2021-11-01,55,HHWM,1202,300537,FROM DOWNTOWN,07:17:00,07:16:22,07:16:22,NaN,NaN,NaN
3990,2021-11-01,55,HHWM,2217,300591,TO DOWNTOWN,15:53:00,15:43:23,15:54:37,10.0,10.083333,0.083333
3989,2021-11-01,55,HHWM,2217,300584,FROM DOWNTOWN,15:37:00,15:43:23,15:43:23,NaN,NaN,NaN
3978,2021-11-01,55,HHWM,2217,300590,TO DOWNTOWN,13:45:00,13:28:43,13:47:19,10.0,10.683333,0.683333
3977,2021-11-01,55,HHWM,2217,300583,FROM DOWNTOWN,13:30:00,13:28:43,13:28:43,NaN,NaN,NaN
3966,2021-11-01,55,HHWM,2217,300589,TO DOWNTOWN,11:46:00,11:24:42,11:48:28,10.0,8.633333,-1.366667
3965,2021-11-01,55,HHWM,2217,300582,FROM DOWNTOWN,11:29:00,11:24:42,11:24:42,NaN,NaN,NaN
3954,2021-11-01,55,HHWM,2109,300588,TO DOWNTOWN,09:46:00,09:25:21,09:48:09,10.0,9.750000,-0.250000
3953,2021-11-01,55,HHWM,2109,300581,FROM DOWNTOWN,09:29:00,09:25:21,09:25:21,NaN,NaN,NaN
4001,2021-11-01,55,HHWM,1493,300585,FROM DOWNTOWN,17:52:00,17:47:51,18:09:38,NaN,NaN,NaN
4002,2021-11-01,55,HHWM,1743,300604,TO DOWNTOWN,05:54:00,05:49:06,05:55:43,8.0,7.183333,-0.816667
4050,2021-11-01,55,HHWM,1743,300608,TO DOWNTOWN,13:55:00,13:36:18,13:55:06,10.0,7.783333,-2.216667
4049,2021-11-01,55,HHWM,1743,300598,FROM DOWNTOWN,13:41:00,13:36:18,13:36:18,NaN,NaN,NaN
4038,2021-11-01,55,HHWM,1743,300607,TO DOWNTOWN,11:56:00,11:40:18,11:57:02,10.0,8.566666,-1.433334
4037,2021-11-01,55,HHWM,1743,300597,FROM DOWNTOWN,11:39:00,11:40:18,11:40:18,NaN,NaN,NaN
4026,2021-11-01,55,HHWM,1743,300606,TO DOWNTOWN,09:56:00,09:36:20,09:56:52,10.0,8.716666,-1.283334
4025,2021-11-01,55,HHWM,1743,300596,FROM DOWNTOWN,09:39:00,09:36:20,09:36:20,NaN,NaN,NaN
4014,2021-11-01,55,HHWM,1743,300605,TO DOWNTOWN,07:55:00,07:36:07,07:55:59,11.0,9.100000,-1.900000
4013,2021-11-01,55,HHWM,1743,300595,FROM DOWNTOWN,07:39:00,07:36:07,07:36:07,NaN,NaN,NaN
3942,2021-11-01,55,HHWM,2109,300587,TO DOWNTOWN,07:44:00,07:27:09,07:46:53,10.0,11.383333,1.383333
3941,2021-11-01,55,HHWM,2109,300580,FROM DOWNTOWN,07:29:00,07:27:09,07:27:09,NaN,NaN,NaN
3881,2021-11-01,55,HHWM,2221,300541,FROM DOWNTOWN,15:27:00,15:23:03,15:23:03,NaN,NaN,NaN
3870,2021-11-01,55,HHWM,1202,300550,TO DOWNTOWN,13:35:00,13:18:46,13:36:38,9.0,9.083333,0.083333
3869,2021-11-01,55,HHWM,1202,300540,FROM DOWNTOWN,13:20:00,13:18:46,13:18:46,NaN,NaN,NaN
3858,2021-11-01,55,HHWM,1202,300549,TO DOWNTOWN,11:36:00,11:15:42,11:39:50,10.0,12.650000,2.650000
3857,2021-11-01,55,HHWM,1202,300539,FROM DOWNTOWN,11:19:00,11:15:42,11:15:42,NaN,NaN,NaN
3882,2021-11-01,55,HHWM,2221,300551,TO DOWNTOWN,15:43:00,15:23:03,15:44:32,10.0,10.033333,0.033333
3930,2021-11-01,55,HHWM,2109,300586,TO DOWNTOWN,05:46:00,05:36:22,05:48:32,8.0,9.483333,1.483333
3929,2021-11-01,55,HHWM,2221,300536,FROM DOWNTOWN,23:38:00,23:34:58,23:36:52,NaN,NaN,NaN
3918,2021-11-01,55,HHWM,2221,300545,TO DOWNTOWN,21:58:00,21:36:17,22:00:06,20.0,20.566666,0.566666
3917,2021-11-01,55,HHWM,2221,300534,FROM DOWNTOWN,21:38:00,21:36:17,21:36:17,NaN,NaN,NaN
3906,2021-11-01,55,HHWM,2221,300544,TO DOWNTOWN,19:59:00,19:44:43,20:01:38,20.0,21.150000,1.150000
3905,2021-11-01,55,HHWM,2221,300535,FROM DOWNTOWN,19:44:00,19:44:43,19:44:43,NaN,NaN,NaN
3894,2021-11-01,55,HHWM,2221,300543,TO DOWNTOWN,18:02:00,17:40:07,18:04:18,15.0,15.800000,0.800000
3893,2021-11-01,55,HHWM,2221,300542,FROM DOWNTOWN,17:42:00,17:40:07,17:40:07,NaN,NaN,NaN
3762,2021-11-01,55,HHWM,1158,300502,TO DOWNTOWN,13:26:00,13:05:36,13:27:33,10.0,10.250000,0.250000
3761,2021-11-01,55,HHWM,1158,300492,FROM DOWNTOWN,13:10:00,13:05:36,13:05:36,NaN,NaN,NaN
3750,2021-11-01,55,HHWM,1158,300501,TO DOWNTOWN,11:26:00,11:09:10,11:27:11,10.0,9.983333,-0.016667
3749,2021-11-01,55,HHWM,1158,300491,FROM DOWNTOWN,11:09:00,11:09:10,11:09:10,NaN,NaN,NaN
3773,2021-11-01,55,HHWM,907,300493,FROM DOWNTOWN,15:17:00,15:12:57,15:12:57,NaN,NaN,NaN
3798,2021-11-01,55,HHWM,907,300496,TO DOWNTOWN,19:39:00,19:29:01,19:40:29,20.0,19.566666,-0.433334
3797,2021-11-01,55,HHWM,907,300487,FROM DOWNTOWN,19:29:00,19:29:01,19:29:01,NaN,NaN,NaN
3786,2021-11-01,55,HHWM,907,300495,TO DOWNTOWN,17:47:00,17:30:09,17:48:30,15.0,14.250000,-0.750000
3785,2021-11-01,55,HHWM,907,300494,FROM DOWNTOWN,17:32:00,17:30:09,17:30:09,NaN,NaN,NaN
3774,2021-11-01,55,HHWM,907,300503,TO DOWNTOWN,15:33:00,15:12:57,15:34:30,10.0,9.750000,-0.250000
3738,2021-11-01,55,HHWM,1158,300500,TO DOWNTOWN,09:26:00,09:11:12,09:29:49,10.0,12.600000,2.600000
3690,2021-11-01,55,HHWM,1228,300446,TO DOWNTOWN,13:16:00,12:56:48,13:17:18,10.0,8.500000,-1.500000

In [9]:
# ordered by scheduled time

headway_i = headway_h.sort_values(by='SCHEDULED_TIME', ascending=True)
headway_i.head(50)

# df.sort_values(by='DateTime1',ascending=True)

,DATE,ROUTE_ABBR,TIME_POINT_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
3320,2021-11-01,55,HHWM,1716,300293,TO DOWNTOWN,04:22:00,04:14:12,04:22:48,NaN,NaN,NaN
3408,2021-11-01,55,HHWM,557,300347,TO DOWNTOWN,04:47:00,04:39:44,04:47:37,25.0,24.816666,-0.183334
3519,2021-11-01,55,HHWM,329,300398,TO DOWNTOWN,05:07:00,05:00:06,05:07:37,20.0,20.000000,0.000000
3642,2021-11-01,55,HHWM,1228,300442,TO DOWNTOWN,05:19:00,05:13:07,05:22:12,12.0,14.583333,2.583333
3714,2021-11-01,55,HHWM,1158,300498,TO DOWNTOWN,05:28:00,05:19:17,05:29:32,9.0,7.333333,-1.666667
3822,2021-11-01,55,HHWM,1202,300546,TO DOWNTOWN,05:38:00,05:33:58,05:39:03,10.0,9.516666,-0.483334
3930,2021-11-01,55,HHWM,2109,300586,TO DOWNTOWN,05:46:00,05:36:22,05:48:32,8.0,9.483333,1.483333
4002,2021-11-01,55,HHWM,1743,300604,TO DOWNTOWN,05:54:00,05:49:06,05:55:43,8.0,7.183333,-0.816667
3331,2021-11-01,55,HHWM,1716,300286,FROM DOWNTOWN,05:57:00,05:52:45,05:52:45,NaN,NaN,NaN
3332,2021-11-01,55,HHWM,1716,300294,TO DOWNTOWN,06:04:00,05:53:07,06:04:49,10.0,9.100000,-0.900000
4110,2021-11-01,55,HHWM,2055,300616,TO DOWNTOWN,06:13:00,06:00:26,06:14:45,9.0,9.933333,0.933333
3419,2021-11-01,55,HHWM,557,300338,FROM DOWNTOWN,06:22:00,06:17:49,06:17:49,NaN,NaN,NaN
4182,2021-11-01,55,HHWM,2035,300632,TO DOWNTOWN,06:23:00,06:21:06,06:23:15,10.0,8.500000,-1.500000
3420,2021-11-01,55,HHWM,557,300350,TO DOWNTOWN,06:33:00,06:18:08,06:32:22,10.0,9.116666,-0.883334
3530,2021-11-01,55,HHWM,329,300388,FROM DOWNTOWN,06:42:00,06:39:44,06:39:44,NaN,NaN,NaN
4278,2021-11-01,55,HHWM,1194,300644,TO DOWNTOWN,06:43:00,06:44:04,06:44:04,10.0,11.700000,1.700000
3531,2021-11-01,55,HHWM,329,300402,TO DOWNTOWN,06:53:00,06:39:44,06:53:49,10.0,9.750000,-0.250000
3653,2021-11-01,55,HHWM,1228,300436,FROM DOWNTOWN,06:57:00,06:54:16,06:54:16,NaN,NaN,NaN
4350,2021-11-01,55,HHWM,2098,300657,TO DOWNTOWN,07:03:00,07:09:36,07:11:18,10.0,17.483333,7.483333
3725,2021-11-01,55,HHWM,1158,300489,FROM DOWNTOWN,07:07:00,07:03:11,07:03:11,NaN,NaN,NaN
3654,2021-11-01,55,HHWM,1228,300443,TO DOWNTOWN,07:14:00,06:54:16,07:16:19,11.0,5.016666,-5.983334
3833,2021-11-01,55,HHWM,1202,300537,FROM DOWNTOWN,07:17:00,07:16:22,07:16:22,NaN,NaN,NaN
3726,2021-11-01,55,HHWM,1158,300499,TO DOWNTOWN,07:24:00,07:03:11,07:25:32,10.0,9.216666,-0.783334
3941,2021-11-01,55,HHWM,2109,300580,FROM DOWNTOWN,07:29:00,07:27:09,07:27:09,NaN,NaN,NaN
3834,2021-11-01,55,HHWM,1202,300547,TO DOWNTOWN,07:34:00,07:16:22,07:35:30,10.0,9.966666,-0.033334
4013,2021-11-01,55,HHWM,1743,300595,FROM DOWNTOWN,07:39:00,07:36:07,07:36:07,NaN,NaN,NaN
3942,2021-11-01,55,HHWM,2109,300587,TO DOWNTOWN,07:44:00,07:27:09,07:46:53,10.0,11.383333,1.383333
3343,2021-11-01,55,HHWM,1716,300287,FROM DOWNTOWN,07:49:00,07:47:26,07:47:26,NaN,NaN,NaN
4014,2021-11-01,55,HHWM,1743,300605,TO DOWNTOWN,07:55:00,07:36:07,07:55:59,11.0,9.100000,-1.900000
4121,2021-11-01,55,HHWM,2055,300610,FROM DOWNTOWN,07:59:00,07:58:46,07:58:46,NaN,NaN,NaN
3344,2021-11-01,55,HHWM,1716,300295,TO DOWNTOWN,08:06:00,07:47:42,08:07:27,11.0,11.466666,0.466666
4193,2021-11-01,55,HHWM,2035,300624,FROM DOWNTOWN,08:09:00,08:09:46,08:09:46,NaN,NaN,NaN
4122,2021-11-01,55,HHWM,2055,300617,TO DOWNTOWN,08:16:00,08:04:39,08:17:40,10.0,10.216666,0.216666
3431,2021-11-01,55,HHWM,557,300341,FROM DOWNTOWN,08:19:00,08:24:02,08:24:02,NaN,NaN,NaN
4194,2021-11-01,55,HHWM,2035,300633,TO DOWNTOWN,08:26:00,08:09:46,08:24:51,10.0,7.183333,-2.816667
4289,2021-11-01,55,HHWM,1194,300638,FROM DOWNTOWN,08:29:00,08:33:15,08:33:15,NaN,NaN,NaN
3432,2021-11-01,55,HHWM,557,300351,TO DOWNTOWN,08:36:00,08:24:23,08:35:07,10.0,10.266666,0.266666
3542,2021-11-01,55,HHWM,329,300392,FROM DOWNTOWN,08:39:00,08:43:59,08:43:59,NaN,NaN,NaN
4290,2021-11-01,55,HHWM,1194,300645,TO DOWNTOWN,08:46:00,08:33:34,08:48:18,10.0,13.183333,3.183333
4427,2021-11-01,55,HHWM,1419,300651,FROM DOWNTOWN,08:49:00,08:57:04,08:57:04,NaN,NaN,NaN
4361,2021-11-01,55,HHWM,2098,300651,FROM DOWNTOWN,08:49:00,08:46:02,08:46:02,NaN,NaN,NaN
3543,2021-11-01,55,HHWM,329,300403,TO DOWNTOWN,08:56:00,08:43:59,08:58:14,10.0,9.933333,-0.066667
3665,2021-11-01,55,HHWM,1228,300437,FROM DOWNTOWN,08:59:00,08:57:07,08:57:07,NaN,NaN,NaN
4362,2021-11-01,55,HHWM,2098,300658,TO DOWNTOWN,09:06:00,08:46:02,09:09:38,10.0,11.400000,1.400000
3737,2021-11-01,55,HHWM,1158,300490,FROM DOWNTOWN,09:09:00,09:11:12,09:11:12,NaN,NaN,NaN
3666,2021-11-01,55,HHWM,1228,300444,TO DOWNTOWN,09:16:00,08:57:07,09:17:13,10.0,7.583333,-2.416667
3845,2021-11-01,55,HHWM,1202,300538,FROM DOWNTOWN,09:19:00,09:15:14,09:15:14,NaN,NaN,NaN
3738,2021-11-01,55,HHWM,1158,300500,TO DOWNTOWN,09:26:00,09:11:12,09:29:49,10.0,12.600000,2.600000
3953,2021-11-01,55,HHWM,2109,300581,FROM DOWNTOWN,09:29:00,09:25:21,09:25:21,NaN,NaN,NaN
3846,2021-11-01,55,HHWM,1202,300548,TO DOWNTOWN,09:36:00,09:15:14,09:38:24,10.0,8.583333,-1.416667

In [10]:

headway_i['DEV_PERCENT'] = headway_i.HDWY_DEV/headway_i.SCHEDULED_HDWY * 100
headway_i

,DATE,ROUTE_ABBR,TIME_POINT_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,DEV_PERCENT
3320,2021-11-01,55,HHWM,1716,300293,TO DOWNTOWN,04:22:00,04:14:12,04:22:48,NaN,NaN,NaN,NaN
3408,2021-11-01,55,HHWM,557,300347,TO DOWNTOWN,04:47:00,04:39:44,04:47:37,25.0,24.816666,-0.183334,-0.733336
3519,2021-11-01,55,HHWM,329,300398,TO DOWNTOWN,05:07:00,05:00:06,05:07:37,20.0,20.000000,0.000000,0.000000
3642,2021-11-01,55,HHWM,1228,300442,TO DOWNTOWN,05:19:00,05:13:07,05:22:12,12.0,14.583333,2.583333,21.527775
3714,2021-11-01,55,HHWM,1158,300498,TO DOWNTOWN,05:28:00,05:19:17,05:29:32,9.0,7.333333,-1.666667,-18.518522
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3821,2021-11-01,55,HHWM,907,300488,FROM DOWNTOWN,23:18:00,23:13:08,23:17:33,NaN,NaN,NaN,NaN
3627,2021-11-01,55,HHWM,1815,300407,TO DOWNTOWN,23:18:00,22:56:19,23:19:46,60.0,60.166666,0.166666,0.277777
3929,2021-11-01,55,HHWM,2221,300536,FROM DOWNTOWN,23:38:00,23:34:58,23:36:52,NaN,NaN,NaN,NaN
4109,2021-11-01,55,HHWM,1814,300594,FROM DOWNTOWN,23:58:00,23:54:36,23:59:09,NaN,NaN,NaN,NaN
3638,2021-11-01,55,HHWM,1815,300397,FROM DOWNTOWN,24:58:00,24:58:26,25:00:14,NaN,NaN,NaN,NaN

In [11]:
# bunched if actually headway is 50% of the scheduled headway. So if the scheduled headway is 10 minutes, then it's bunched if the busses are less than 5 minutes apart. 

# gapped if scheudled headway is 10 minutes and the busses are more than 15 minutes apart if scheduled headway is 10 minutes and the actual headway is 15 minutes 

# created column showing bunching vs gapping
# more than 50% = gapping
# less than -50% = bunching

headway_i['BUNCH/GAP']=''

headway_i.loc[headway_i['DEV_PERCENT'] >50, 'BUNCH/GAP']= 'gap'
headway_i.loc[headway_i['DEV_PERCENT'] <-50, 'BUNCH/GAP']= 'bunch'

headway_i.head(50)

,DATE,ROUTE_ABBR,TIME_POINT_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,DEV_PERCENT,BUNCH/GAP
3320,2021-11-01,55,HHWM,1716,300293,TO DOWNTOWN,04:22:00,04:14:12,04:22:48,NaN,NaN,NaN,NaN,
3408,2021-11-01,55,HHWM,557,300347,TO DOWNTOWN,04:47:00,04:39:44,04:47:37,25.0,24.816666,-0.183334,-0.733336,
3519,2021-11-01,55,HHWM,329,300398,TO DOWNTOWN,05:07:00,05:00:06,05:07:37,20.0,20.000000,0.000000,0.000000,
3642,2021-11-01,55,HHWM,1228,300442,TO DOWNTOWN,05:19:00,05:13:07,05:22:12,12.0,14.583333,2.583333,21.527775,
3714,2021-11-01,55,HHWM,1158,300498,TO DOWNTOWN,05:28:00,05:19:17,05:29:32,9.0,7.333333,-1.666667,-18.518522,
3822,2021-11-01,55,HHWM,1202,300546,TO DOWNTOWN,05:38:00,05:33:58,05:39:03,10.0,9.516666,-0.483334,-4.833340,
3930,2021-11-01,55,HHWM,2109,300586,TO DOWNTOWN,05:46:00,05:36:22,05:48:32,8.0,9.483333,1.483333,18.541663,
4002,2021-11-01,55,HHWM,1743,300604,TO DOWNTOWN,05:54:00,05:49:06,05:55:43,8.0,7.183333,-0.816667,-10.208338,
3331,2021-11-01,55,HHWM,1716,300286,FROM DOWNTOWN,05:57:00,05:52:45,05:52:45,NaN,NaN,NaN,NaN,
3332,2021-11-01,55,HHWM,1716,300294,TO DOWNTOWN,06:04:00,05:53:07,06:04:49,10.0,9.100000,-0.900000,-9.000000,
4110,2021-11-01,55,HHWM,2055,300616,TO DOWNTOWN,06:13:00,06:00:26,06:14:45,9.0,9.933333,0.933333,10.370367,
3419,2021-11-01,55,HHWM,557,300338,FROM DOWNTOWN,06:22:00,06:17:49,06:17:49,NaN,NaN,NaN,NaN,
4182,2021-11-01,55,HHWM,2035,300632,TO DOWNTOWN,06:23:00,06:21:06,06:23:15,10.0,8.500000,-1.500000,-15.000000,
3420,2021-11-01,55,HHWM,557,300350,TO DOWNTOWN,06:33:00,06:18:08,06:32:22,10.0,9.116666,-0.883334,-8.833340,
3530,2021-11-01,55,HHWM,329,300388,FROM DOWNTOWN,06:42:00,06:39:44,06:39:44,NaN,NaN,NaN,NaN,
4278,2021-11-01,55,HHWM,1194,300644,TO DOWNTOWN,06:43:00,06:44:04,06:44:04,10.0,11.700000,1.700000,17.000000,
3531,2021-11-01,55,HHWM,329,300402,TO DOWNTOWN,06:53:00,06:39:44,06:53:49,10.0,9.750000,-0.250000,-2.500000,
3653,2021-11-01,55,HHWM,1228,300436,FROM DOWNTOWN,06:57:00,06:54:16,06:54:16,NaN,NaN,NaN,NaN,
4350,2021-11-01,55,HHWM,2098,300657,TO DOWNTOWN,07:03:00,07:09:36,07:11:18,10.0,17.483333,7.483333,74.833330,gap
3725,2021-11-01,55,HHWM,1158,300489,FROM DOWNTOWN,07:07:00,07:03:11,07:03:11,NaN,NaN,NaN,NaN,
3654,2021-11-01,55,HHWM,1228,300443,TO DOWNTOWN,07:14:00,06:54:16,07:16:19,11.0,5.016666,-5.983334,-54.393945,bunch
3833,2021-11-01,55,HHWM,1202,300537,FROM DOWNTOWN,07:17:00,07:16:22,07:16:22,NaN,NaN,NaN,NaN,
3726,2021-11-01,55,HHWM,1158,300499,TO DOWNTOWN,07:24:00,07:03:11,07:25:32,10.0,9.216666,-0.783334,-7.833340,
3941,2021-11-01,55,HHWM,2109,300580,FROM DOWNTOWN,07:29:00,07:27:09,07:27:09,NaN,NaN,NaN,NaN,
3834,2021-11-01,55,HHWM,1202,300547,TO DOWNTOWN,07:34:00,07:16:22,07:35:30,10.0,9.966666,-0.033334,-0.333340,
4013,2021-11-01,55,HHWM,1743,300595,FROM DOWNTOWN,07:39:00,07:36:07,07:36:07,NaN,NaN,NaN,NaN,
3942,2021-11-01,55,HHWM,2109,300587,TO DOWNTOWN,07:44:00,07:27:09,07:46:53,10.0,11.383333,1.383333,13.833330,
3343,2021-11-01,55,HHWM,1716,300287,FROM DOWNTOWN,07:49:00,07:47:26,07:47:26,NaN,NaN,NaN,NaN,
4014,2021-11-01,55,HHWM,1743,300605,TO DOWNTOWN,07:55:00,07:36:07,07:55:59,11.0,9.100000,-1.900000,-17.272727,
4121,2021-11-01,55,HHWM,2055,300610,FROM DOWNTOWN,07:59:00,07:58:46,07:58:46,NaN,NaN,NaN,NaN,
3344,2021-11-01,55,HHWM,1716,300295,TO DOWNTOWN,08:06:00,07:47:42,08:07:27,11.0,11.466666,0.466666,4.242418,
4193,2021-11-01,55,HHWM,2035,300624,FROM DOWNTOWN,08:09:00,08:09:46,08:09:46,NaN,NaN,NaN,NaN,
4122,2021-11-01,55,HHWM,2055,300617,TO DOWNTOWN,08:16:00,08:04:39,08:17:40,10.0,10.216666,0.216666,2.166660,
3431,2021-11-01,55,HHWM,557,300341,FROM DOWNTOWN,08:19:00,08:24:02,08:24:02,NaN,NaN,NaN,NaN,
4194,2021-11-01,55,HHWM,2035,300633,TO DOWNTOWN,08:26:00,08:09:46,08:24:51,10.0,7.183333,-2.816667,-28.166670,
4289,2021-11-01,55,HHWM,1194,300638,FROM DOWNTOWN,08:29:00,08:33:15,08:33:15,NaN,NaN,NaN,NaN,
3432,2021-11-01,55,HHWM,557,300351,TO DOWNTOWN,08:36:00,08:24:23,08:35:07,10.0,10.266666,0.266666,2.666660,
3542,2021-11-01,55,HHWM,329,300392,FROM DOWNTOWN,08:39:00,08:43:59,08:43:59,NaN,NaN,NaN,NaN,
4290,2021-11-01,55,HHWM,1194,300645,TO DOWNTOWN,08:46:00,08:33:34,08:48:18,10.0,13.183333,3.183333,31.833330,
4427,2021-11-01,55,HHWM,1419,300651,FROM DOWNTOWN,08:49:00,08:57:04,08:57:04,NaN,NaN,NaN,NaN,
4361,2021-11-01,55,HHWM,2098,300651,FROM DOWNTOWN,08:49:00,08:46:02,08:46:02,NaN,NaN,NaN,NaN,
3543,2021-11-01,55,HHWM,329,300403,TO DOWNTOWN,08:56:00,08:43:59,08:58:14,10.0,9.933333,-0.066667,-0.666670,
3665,2021-11-01,55,HHWM,1228,300437,FROM DOWNTOWN,08:59:00,08:57:07,08:57:07,NaN,NaN,NaN,NaN,
4362,2021-11-01,55,HHWM,2098,300658,TO DOWNTOWN,09:06:00,08:46:02,09:09:38,10.0,11.400000,1.400000,14.000000,
3737,2021-11-01,55,HHWM,1158,300490,FROM DOWNTOWN,09:09:00,09:11:12,09:11:12,NaN,NaN,NaN,NaN,
3666,2021-11-01,55,HHWM,1228,300444,TO DOWNTOWN,09:16:00,08:57:07,09:17:13,10.0,7.583333,-2.416667,-24.166670,
3845,2021-11-01,55,HHWM,1202,300538,FROM DOWNTOWN,09:19:00,09:15:14,09:15:14,NaN,NaN,NaN,NaN,
3738,2021-11-01,55,HHWM,1158,300500,TO DOWNTOWN,09:26:00,09:11:12,09:29:49,10.0,12.600000,2.600000,26.000000,
3953,2021-11-01,55,HHWM,2109,300581,FROM DOWNTOWN,09:29:00,09:25:21,09:25:21,NaN,NaN,NaN,NaN,
3846,2021-11-01,55,HHWM,1202,300548,TO DOWNTOWN,09:36:00,09:15:14,09:38:24,10.0,8.583333,-1.416667,-14.166670,

In [12]:
# now will try on entire data frame to find trends

In [13]:
headway_j = headway[['DATE','ROUTE_ABBR','BLOCK_ABBR','OPERATOR','TRIP_ID','ROUTE_DIRECTION_NAME','SCHEDULED_TIME', 'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'ADHERENCE','HDWY_DEV']]

headway_j.head()

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,ADHERENCE,HDWY_DEV
0,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:10:00,14.0,15.983333,-2.000000,1.983333
1,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:20:00,14.0,17.333333,-3.350000,3.333333
2,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:39:00,NaN,NaN,-20.183333,NaN
3,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:10:00,NaN,NaN,-0.283333,NaN
4,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:27:00,NaN,NaN,10.016666,NaN

In [14]:

headway_j['DEV_PERCENT'] = headway_j.HDWY_DEV/headway_j.SCHEDULED_HDWY * 100
headway_j

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_4604\2325583861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_j['DEV_PERCENT'] = headway_j.HDWY_DEV/headway_j.SCHEDULED_HDWY * 100

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,ADHERENCE,HDWY_DEV,DEV_PERCENT
0,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:10:00,14.0,15.983333,-2.000000,1.983333,14.166664
1,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:20:00,14.0,17.333333,-3.350000,3.333333,23.809521
2,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:39:00,NaN,NaN,-20.183333,NaN,NaN
3,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:10:00,NaN,NaN,-0.283333,NaN,NaN
4,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:27:00,NaN,NaN,10.016666,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,2022-11-01,50,9302,2355,329980,TO DOWNTOWN,15:18:00,NaN,NaN,-2.733333,NaN,NaN
1981711,2022-11-01,50,9950,1880,330003,TO DOWNTOWN,15:20:00,10.0,7.633333,12.900000,-2.366667,-23.666670
1981712,2022-11-01,50,9950,1880,330003,TO DOWNTOWN,15:37:00,NaN,NaN,26.733333,NaN,NaN
1981713,2022-11-01,56,9975,1922,330011,TO DOWNTOWN,15:20:00,0.0,NaN,0.966666,NaN,NaN
1981714,2022-11-01,56,9975,1922,330011,TO DOWNTOWN,15:30:00,NaN,NaN,2.233333,NaN,NaN

In [15]:
headway_j['BUNCH/GAP']=''

headway_j.loc[headway_j['DEV_PERCENT'] >50, 'BUNCH/GAP']= 'gap'
headway_j.loc[headway_j['DEV_PERCENT'] <-50, 'BUNCH/GAP']= 'bunch'

headway_j.head(50)

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_4604\1348028963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_j['BUNCH/GAP']=''

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,ADHERENCE,HDWY_DEV,DEV_PERCENT,BUNCH/GAP
0,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:10:00,14.0,15.983333,-2.000000,1.983333,14.166664,
1,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:20:00,14.0,17.333333,-3.350000,3.333333,23.809521,
2,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:39:00,NaN,NaN,-20.183333,NaN,NaN,
3,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:10:00,NaN,NaN,-0.283333,NaN,NaN,
4,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:27:00,NaN,NaN,10.016666,NaN,NaN,
5,2021-11-01,22,2200,1352,298143,TO DOWNTOWN,04:42:00,NaN,NaN,0.166666,NaN,NaN,
6,2021-11-01,22,2200,1352,298143,TO DOWNTOWN,04:46:00,NaN,NaN,-0.966666,NaN,NaN,
7,2021-11-01,22,2200,1352,298143,TO DOWNTOWN,04:54:00,NaN,NaN,-1.000000,NaN,NaN,
8,2021-11-01,22,2200,1352,298143,TO DOWNTOWN,05:10:00,NaN,NaN,4.566666,NaN,NaN,
9,2021-11-01,22,2200,1352,298162,FROM DOWNTOWN,05:15:00,NaN,NaN,-1.816666,NaN,NaN,
10,2021-11-01,22,2200,1352,298162,FROM DOWNTOWN,05:25:00,NaN,NaN,-0.866666,NaN,NaN,
11,2021-11-01,22,2200,1352,298162,FROM DOWNTOWN,05:32:00,NaN,NaN,-1.650000,NaN,NaN,
12,2021-11-01,22,2200,1352,298128,TO DOWNTOWN,05:42:00,35.0,34.633333,-1.050000,-0.366667,-1.047620,
13,2021-11-01,22,2200,1352,298128,TO DOWNTOWN,05:46:00,35.0,35.866666,-2.250000,0.866666,2.476189,
14,2021-11-01,22,2200,1352,298128,TO DOWNTOWN,05:54:00,15.0,13.983333,-0.383333,-1.016667,-6.777780,
15,2021-11-01,22,2200,1352,298128,TO DOWNTOWN,06:10:00,NaN,NaN,4.350000,NaN,NaN,
16,2021-11-01,22,2200,1352,298151,FROM DOWNTOWN,06:15:00,35.0,36.116666,-2.016666,1.116666,3.190474,
17,2021-11-01,22,2200,1352,298151,FROM DOWNTOWN,06:25:00,15.0,15.400000,-1.283333,0.400000,2.666667,
18,2021-11-01,22,2200,1352,298151,FROM DOWNTOWN,06:35:00,NaN,NaN,0.533333,NaN,NaN,
19,2021-11-01,22,2200,1352,298129,TO DOWNTOWN,06:42:00,60.0,60.233333,-1.283333,0.233333,0.388888,
20,2021-11-01,22,2200,1352,298129,TO DOWNTOWN,06:46:00,60.0,65.416666,-7.666666,5.416666,9.027777,
21,2021-11-01,22,2200,1352,298129,TO DOWNTOWN,06:54:00,15.0,25.066666,-12.483333,10.066666,67.111107,gap
22,2021-11-01,22,2200,1352,298129,TO DOWNTOWN,07:10:00,NaN,NaN,-6.233333,NaN,NaN,
23,2021-11-01,22,2200,1352,298152,FROM DOWNTOWN,07:15:00,30.0,33.366666,-5.116666,3.366666,11.222220,
24,2021-11-01,22,2200,1352,298152,FROM DOWNTOWN,07:25:00,15.0,11.333333,-4.750000,-3.666667,-24.444447,
25,2021-11-01,22,2200,1352,298152,FROM DOWNTOWN,07:31:00,NaN,NaN,-5.816666,NaN,NaN,
26,2021-11-01,22,2200,1352,298152,FROM DOWNTOWN,07:36:00,NaN,NaN,-4.466666,NaN,NaN,
27,2021-11-01,22,2200,1352,298130,TO DOWNTOWN,07:45:00,63.0,61.533333,0.183333,-1.466667,-2.328043,
28,2021-11-01,22,2200,1352,298130,TO DOWNTOWN,07:54:00,15.0,17.883333,-4.016666,2.883333,19.222220,
29,2021-11-01,22,2200,1352,298130,TO DOWNTOWN,08:10:00,NaN,NaN,0.133333,NaN,NaN,
30,2021-11-01,22,2200,1352,298153,FROM DOWNTOWN,08:15:00,30.0,31.183333,-4.200000,1.183333,3.944443,
31,2021-11-01,22,2200,1352,298153,FROM DOWNTOWN,08:25:00,15.0,19.800000,-6.783333,4.800000,32.000000,
32,2021-11-01,22,2200,1352,298153,FROM DOWNTOWN,08:35:00,NaN,NaN,-6.600000,NaN,NaN,
33,2021-11-01,22,2200,1352,298131,TO DOWNTOWN,08:45:00,60.0,60.400000,-0.216666,0.400000,0.666667,
34,2021-11-01,22,2200,1352,298131,TO DOWNTOWN,08:54:00,15.0,14.916666,-1.983333,-0.083334,-0.555560,
35,2021-11-01,22,2200,1352,298131,TO DOWNTOWN,09:10:00,NaN,NaN,4.266666,NaN,NaN,
36,2021-11-01,22,2200,1352,298147,FROM DOWNTOWN,09:15:00,30.0,27.683333,-3.616666,-2.316667,-7.722223,
37,2021-11-01,22,2200,1352,298147,FROM DOWNTOWN,09:26:00,16.0,18.433333,-3.116666,2.433333,15.208331,
38,2021-11-01,22,2200,1352,298147,FROM DOWNTOWN,09:36:00,NaN,NaN,-1.900000,NaN,NaN,
39,2021-11-01,22,2200,1352,298132,TO DOWNTOWN,09:40:00,55.0,54.866666,-0.083333,-0.133334,-0.242425,
40,2021-11-01,22,2200,1352,298132,TO DOWNTOWN,09:49:00,10.0,10.083333,-0.383333,0.083333,0.833330,
41,2021-11-01,22,2200,1352,298132,TO DOWNTOWN,10:05:00,NaN,NaN,3.266666,NaN,NaN,
42,2021-11-01,22,2200,1194,298158,FROM DOWNTOWN,10:10:00,25.0,24.000000,-1.566666,-1.000000,-4.000000,
43,2021-11-01,22,2200,1194,298158,FROM DOWNTOWN,10:21:00,10.0,11.400000,-2.300000,1.400000,14.000000,
44,2021-11-01,22,2200,1194,298158,FROM DOWNTOWN,10:25:00,NaN,NaN,-1.183333,NaN,NaN,
45,2021-11-01,22,2200,1194,298136,TO DOWNTOWN,10:35:00,50.0,45.650000,0.633333,-4.350000,-8.700000,
46,2021-11-01,22,2200,1194,298136,TO DOWNTOWN,10:45:00,50.0,48.016666,0.616666,-1.983334,-3.966668,
47,2021-11-01,22,2200,1194,298136,TO DOWNTOWN,10:52:00,50.0,51.200000,-0.616666,1.200000,2.400000,
48,2021-11-01,22,2200,1194,298136,TO DOWNTOWN,10:59:00,10.0,7.566666,-0.433333,-2.433334,-24.333340,
49,2021-11-01,22,2200,1194,298136,TO DOWNTOWN,11:15:00,NaN,NaN,8.000000,NaN,NaN,

In [16]:
headway_j['BUNCH/GAP'].value_counts(dropna=False)

         1825875
gap        86184
bunch      69656
Name: BUNCH/GAP, dtype: int64

In [17]:
headway_k = headway_j.sort_values(by='BUNCH/GAP', ascending=False)
headway_k.head(50)

# headway_i = headway_h.sort_values(by='SCHEDULED_TIME', ascending=True)

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,ADHERENCE,HDWY_DEV,DEV_PERCENT,BUNCH/GAP
1343707,2022-07-12,56,5602,1582,314471,FROM DOWNTOWN,13:33:00,10.0,16.933333,-6.050000,6.933333,69.333330,gap
650886,2022-03-09,55,5509,2441,305038,FROM DOWNTOWN,07:25:00,10.0,34.150000,-25.550000,24.150000,241.500000,gap
72558,2021-11-15,23,2301,306,298476,TO DOWNTOWN,06:09:00,12.0,19.050000,-7.633333,7.050000,58.750000,gap
72557,2021-11-15,23,2301,306,298476,TO DOWNTOWN,06:03:00,12.0,18.033333,-6.683333,6.033333,50.277775,gap
445601,2022-01-28,55,5506,2486,305003,TO DOWNTOWN,11:46:00,10.0,20.116666,-1.650000,10.116666,101.166660,gap
445599,2022-01-28,55,5506,2486,304996,FROM DOWNTOWN,11:20:00,10.0,19.633333,-0.966666,9.633333,96.333330,gap
1510335,2022-08-10,56,5609,2256,319483,FROM DOWNTOWN,15:15:00,10.0,15.050000,-8.350000,5.050000,50.500000,gap
445598,2022-01-28,55,5506,2486,304996,FROM DOWNTOWN,11:13:00,10.0,18.800000,-0.333333,8.800000,88.000000,gap
785445,2022-04-04,56,5610,1046,309970,TO DOWNTOWN,07:05:00,10.0,17.483333,-0.516666,7.483333,74.833330,gap
445597,2022-01-28,55,5506,2486,304996,FROM DOWNTOWN,11:07:00,10.0,20.383333,-0.516666,10.383333,103.833330,gap
785443,2022-04-04,56,5609,1866,309953,FROM DOWNTOWN,19:56:00,15.0,23.983333,-9.483333,8.983333,59.888887,gap
785442,2022-04-04,56,5609,1866,309953,FROM DOWNTOWN,19:52:00,15.0,23.083333,-8.133333,8.083333,53.888887,gap
1713696,2022-09-15,56,5606,1577,319436,TO DOWNTOWN,14:04:00,10.0,18.016666,-7.250000,8.016666,80.166660,gap
445596,2022-01-28,55,5506,2486,304996,FROM DOWNTOWN,10:55:00,10.0,18.966666,0.883333,8.966666,89.666660,gap
445595,2022-01-28,55,5506,2423,304996,FROM DOWNTOWN,10:45:00,10.0,15.283333,-0.733333,5.283333,52.833330,gap
1149962,2022-06-08,23,2312,2500,312156,FROM DOWNTOWN,18:02:00,23.0,50.000000,-2.833333,27.000000,117.391304,gap
1149964,2022-06-08,23,2312,2500,312171,TO DOWNTOWN,18:21:00,20.0,42.100000,-3.000000,22.100000,110.500000,gap
1149965,2022-06-08,23,2312,2500,312171,TO DOWNTOWN,18:32:00,20.0,37.500000,0.700000,17.500000,87.500000,gap
1149966,2022-06-08,23,2312,2500,312171,TO DOWNTOWN,18:38:00,20.0,38.266666,0.950000,18.266666,91.333330,gap
1149968,2022-06-08,23,2312,2500,312157,FROM DOWNTOWN,18:55:00,20.0,41.400000,-0.433333,21.400000,107.000000,gap
1149969,2022-06-08,23,2312,2500,312157,FROM DOWNTOWN,19:01:00,20.0,40.950000,0.350000,20.950000,104.750000,gap
1300586,2022-07-05,3,314,1815,312871,FROM DOWNTOWN,07:25:00,10.0,16.083333,-7.916666,6.083333,60.833330,gap
1149970,2022-06-08,23,2312,2500,312157,FROM DOWNTOWN,19:08:00,20.0,40.033333,0.716666,20.033333,100.166665,gap
445602,2022-01-28,55,5506,2486,305003,TO DOWNTOWN,11:53:00,10.0,21.350000,-1.916666,11.350000,113.500000,gap
1149951,2022-06-08,23,2312,2500,312155,FROM DOWNTOWN,16:27:00,24.0,51.700000,-3.350000,27.700000,115.416667,gap
1149950,2022-06-08,23,2312,2500,312155,FROM DOWNTOWN,16:17:00,24.0,47.966666,-0.500000,23.966666,99.861108,gap
445614,2022-01-28,55,5506,2486,305004,TO DOWNTOWN,13:52:00,10.0,18.766666,-2.050000,8.766666,87.666660,gap
1914368,2022-10-20,56,9975,1372,330011,TO DOWNTOWN,15:20:00,0.0,2.950000,-1.983333,2.950000,inf,gap
445619,2022-01-28,55,5506,2486,304998,FROM DOWNTOWN,14:45:00,10.0,32.500000,-3.300000,22.500000,225.000000,gap
445617,2022-01-28,55,5506,2486,305004,TO DOWNTOWN,14:20:00,10.0,19.433333,-0.366666,9.433333,94.333330,gap
445616,2022-01-28,55,5506,2486,305004,TO DOWNTOWN,14:08:00,10.0,17.133333,-0.183333,7.133333,71.333330,gap
445615,2022-01-28,55,5506,2486,305004,TO DOWNTOWN,14:00:00,10.0,16.616666,-0.816666,6.616666,66.166660,gap
72581,2021-11-15,23,2301,306,298479,TO DOWNTOWN,09:38:00,12.0,21.533333,-8.266666,9.533333,79.444442,gap
1149935,2022-06-08,23,2312,1147,312154,FROM DOWNTOWN,14:15:00,12.0,21.216666,14.550000,9.216666,76.805550,gap
1085665,2022-05-27,23,2310,785,312005,FROM DOWNTOWN,11:27:00,12.0,25.133333,-0.750000,13.133333,109.444442,gap
785455,2022-04-04,56,5610,1046,309961,FROM DOWNTOWN,08:35:00,10.0,17.633333,-8.516666,7.633333,76.333330,gap
445613,2022-01-28,55,5506,2486,305004,TO DOWNTOWN,13:45:00,10.0,19.583333,-2.183333,9.583333,95.833330,gap
1837275,2022-10-07,50,5004,2559,323040,FROM DOWNTOWN,21:15:00,30.0,61.166666,-1.966666,31.166666,103.888887,gap
1149939,2022-06-08,23,2312,2500,312154,FROM DOWNTOWN,14:41:00,24.0,36.950000,-4.083333,12.950000,53.958333,gap
1149940,2022-06-08,23,2312,2500,312154,FROM DOWNTOWN,14:50:00,24.0,58.150000,-10.550000,34.150000,142.291667,gap
967630,2022-05-06,50,5003,1601,308695,TO DOWNTOWN,15:00:00,15.0,32.700000,-3.183333,17.700000,118.000000,gap
506010,2022-02-09,55,5506,2109,305000,TO DOWNTOWN,05:46:00,8.0,17.200000,-1.216666,9.200000,115.000000,gap
1377033,2022-07-18,56,5601,1343,314417,FROM DOWNTOWN,09:31:00,10.0,15.150000,-5.183333,5.150000,51.500000,gap
288019,2021-12-28,22,2201,1598,302651,TO DOWNTOWN,07:00:00,60.0,104.666666,-0.266666,44.666666,74.444443,gap
445605,2022-01-28,55,5506,2486,305003,TO DOWNTOWN,12:20:00,10.0,22.533333,-3.683333,12.533333,125.333330,gap
445604,2022-01-28,55,5506,2486,305003,TO DOWNTOWN,12:09:00,10.0,19.100000,-0.250000,9.100000,91.000000,gap
445603,2022-01-28,55,5506,2486,305003,TO DOWNTOWN,12:01:00,10.0,19.083333,-0.066666,9.083333,90.833330,gap
1837243,2022-10-07,50,5004,2559,323047,FROM DOWNTOWN,17:01:00,15.0,30.616666,-14.516666,15.616666,104.111107,gap
1837242,2022-10-07,50,5004,2559,323047,FROM DOWNTOWN,16:52:00,15.0,26.250000,-11.233333,11.250000,75.000000,gap
1837241,2022-10-07,50,5004,2559,323047,FROM DOWNTOWN,16:47:00,15.0,25.700000,-9.683333,10.700000,71.333333,gap

In [18]:
headway_k.corr()

,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,SCHEDULED_HDWY,ACTUAL_HDWY,ADHERENCE,HDWY_DEV,DEV_PERCENT
ROUTE_ABBR,1.000000,0.991243,0.030044,0.021753,-0.267353,-0.239886,-0.057086,-0.022083,-0.011859
BLOCK_ABBR,0.991243,1.000000,0.031518,0.021414,-0.259788,-0.233439,-0.058171,-0.022060,-0.012042
OPERATOR,0.030044,0.031518,1.000000,0.072994,0.109168,0.101383,-0.068303,0.011439,0.011889
TRIP_ID,0.021753,0.021414,0.072994,1.000000,-0.080629,-0.073360,-0.025467,-0.007990,-0.007490
SCHEDULED_HDWY,-0.267353,-0.259788,0.109168,-0.080629,1.000000,0.879361,0.029726,0.024768,-0.003067
ACTUAL_HDWY,-0.239886,-0.233439,0.101383,-0.073360,0.879361,1.000000,-0.086441,0.497789,0.409670
ADHERENCE,-0.057086,-0.058171,-0.068303,-0.025467,0.029726,-0.086441,1.000000,-0.237548,-0.252127
HDWY_DEV,-0.022083,-0.022060,0.011439,-0.007990,0.024768,0.497789,-0.237548,1.000000,0.866175
DEV_PERCENT,-0.011859,-0.012042,0.011889,-0.007490,-0.003067,0.409670,-0.252127,0.866175,1.000000

In [19]:
headway_gap = headway_j.loc[headway_j['BUNCH/GAP'].isin(['gap'])]
headway_gap
# new_df8 =new_df4.loc[new_df4['Year'].isin([2004,2009,2014])]

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,ADHERENCE,HDWY_DEV,DEV_PERCENT,BUNCH/GAP
21,2021-11-01,22,2200,1352,298129,TO DOWNTOWN,06:54:00,15.0,25.066666,-12.483333,10.066666,67.111107,gap
144,2021-11-01,22,2201,1206,298239,TO DOWNTOWN,07:00:00,60.0,101.916666,-0.700000,41.916666,69.861110,gap
158,2021-11-01,22,2201,1206,298253,FROM DOWNTOWN,08:55:00,15.0,23.050000,-9.100000,8.050000,53.666667,gap
169,2021-11-01,22,2201,1206,298242,TO DOWNTOWN,10:34:00,10.0,17.600000,-7.500000,7.600000,76.000000,gap
262,2021-11-01,22,2202,1222,298319,TO DOWNTOWN,16:24:00,10.0,15.233333,-6.866666,5.233333,52.333330,gap
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981474,2022-11-01,7,701,2522,329291,TO DOWNTOWN,14:26:00,6.0,22.933333,-1.466666,16.933333,282.222217,gap
1981479,2022-11-01,7,701,2522,329292,TO DOWNTOWN,15:49:00,15.0,26.783333,-5.483333,11.783333,78.555553,gap
1981483,2022-11-01,7,701,2522,329281,FROM DOWNTOWN,16:47:00,15.0,23.816666,-3.816666,8.816666,58.777773,gap
1981558,2022-11-01,7,703,2435,329407,FROM DOWNTOWN,15:48:00,15.0,23.383333,-8.033333,8.383333,55.888887,gap
1981564,2022-11-01,7,703,2435,329408,FROM DOWNTOWN,17:17:00,15.0,24.833333,-8.116666,9.833333,65.555553,gap

In [20]:
headway_bunch = headway_j.loc[headway_j['BUNCH/GAP'].isin(['bunch'])]
headway_bunch

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,ADHERENCE,HDWY_DEV,DEV_PERCENT,BUNCH/GAP
57,2021-11-01,22,2200,1194,298159,FROM DOWNTOWN,12:52:00,10.0,4.216666,-0.083333,-5.783334,-57.833340,bunch
68,2021-11-01,22,2200,1194,298134,TO DOWNTOWN,14:44:00,10.0,2.466666,-0.800000,-7.533334,-75.333340,bunch
86,2021-11-01,22,2200,1652,298161,FROM DOWNTOWN,17:52:00,10.0,1.050000,0.566666,-8.950000,-89.500000,bunch
314,2021-11-01,22,2210,1762,298391,TO DOWNTOWN,07:09:00,15.0,2.550000,-0.033333,-12.450000,-83.000000,bunch
383,2021-11-01,22,2210,785,298416,FROM DOWNTOWN,17:18:00,15.0,6.750000,0.083333,-8.250000,-55.000000,bunch
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981357,2022-11-01,56,5611,2088,329076,FROM DOWNTOWN,16:45:00,11.0,4.400000,-5.933333,-6.600000,-60.000000,bunch
1981477,2022-11-01,7,701,2522,329280,FROM DOWNTOWN,15:13:00,21.0,9.483333,0.316666,-11.516667,-54.841271,bunch
1981480,2022-11-01,7,701,2522,329292,TO DOWNTOWN,15:59:00,15.0,5.566666,-4.883333,-9.433334,-62.888893,bunch
1981608,2022-11-01,7,704,2312,329437,TO DOWNTOWN,15:19:00,15.0,1.683333,-8.700000,-13.316667,-88.777780,bunch
1981693,2022-11-01,7,706,375,329458,FROM DOWNTOWN,16:32:00,15.0,1.266666,-20.083333,-13.733334,-91.555560,bunch

# Quesion 3: 


How closely does lateness (ADHERENCE) correlate to headway?
# Question 8: 
Does weather have any effect on headway or on-time performance? To help answer this question, the file bna_2022.csv contains historical weather data recorded at Nashville International Airport.

In [21]:
weather = pd.read_csv('../Data/bna_weather.csv')

###

In [22]:
weather.dtypes

Date                          object
key                           object
class                         object
expire_time_gmt                int64
obs_id                        object
obs_name                      object
valid_time_gmt                 int64
day_ind                       object
temp                           int64
wx_icon                        int64
icon_extd                      int64
wx_phrase                     object
pressure_tend                float64
pressure_desc                 object
dewPt                          int64
heat_index                     int64
rh                             int64
pressure                     float64
vis                          float64
wc                           float64
wdir                         float64
wdir_cardinal                 object
gust                         float64
wspd                         float64
max_temp                     float64
min_temp                     float64
precip_total                 float64
precip_hrly                  float64
snow_hrly                    float64
uv_desc                       object
feels_like                   float64
uv_index                     float64
qualifier                    float64
qualifier_svrty              float64
blunt_phrase                 float64
terse_phrase                 float64
clds                          object
water_temp                   float64
primary_wave_period          float64
primary_wave_height          float64
primary_swell_period         float64
primary_swell_height         float64
primary_swell_direction      float64
secondary_swell_period       float64
secondary_swell_height       float64
secondary_swell_direction    float64
dtype: object

In [23]:
weather.head()

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# weather['Date']= pd.to_datetime(weather.Date)

In [25]:
weather.head()

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
weather.dtypes

Date                          object
key                           object
class                         object
expire_time_gmt                int64
obs_id                        object
obs_name                      object
valid_time_gmt                 int64
day_ind                       object
temp                           int64
wx_icon                        int64
icon_extd                      int64
wx_phrase                     object
pressure_tend                float64
pressure_desc                 object
dewPt                          int64
heat_index                     int64
rh                             int64
pressure                     float64
vis                          float64
wc                           float64
wdir                         float64
wdir_cardinal                 object
gust                         float64
wspd                         float64
max_temp                     float64
min_temp                     float64
precip_total                 float64
precip_hrly                  float64
snow_hrly                    float64
uv_desc                       object
feels_like                   float64
uv_index                     float64
qualifier                    float64
qualifier_svrty              float64
blunt_phrase                 float64
terse_phrase                 float64
clds                          object
water_temp                   float64
primary_wave_period          float64
primary_wave_height          float64
primary_swell_period         float64
primary_swell_height         float64
primary_swell_direction      float64
secondary_swell_period       float64
secondary_swell_height       float64
secondary_swell_direction    float64
dtype: object

In [27]:
headway.dtypes

CALENDAR_ID                    int64
SERVICE_ABBR                   int64
ADHERENCE_ID                   int64
DATE                          object
ROUTE_ABBR                     int64
BLOCK_ABBR                     int64
OPERATOR                       int64
TRIP_ID                        int64
OVERLOAD_ID                    int64
ROUTE_DIRECTION_NAME          object
TIME_POINT_ABBR               object
ROUTE_STOP_SEQUENCE          float64
TRIP_EDGE                      int64
LATITUDE                     float64
LONGITUDE                    float64
SCHEDULED_TIME                object
ACTUAL_ARRIVAL_TIME           object
ACTUAL_DEPARTURE_TIME         object
ADHERENCE                    float64
SCHEDULED_HDWY               float64
ACTUAL_HDWY                  float64
HDWY_DEV                     float64
ADJUSTED_EARLY_COUNT           int64
ADJUSTED_LATE_COUNT            int64
ADJUSTED_ONTIME_COUNT          int64
STOP_CANCELLED                 int64
PREV_SCHED_STOP_CANCELLED    float64
IS_RELIEF                      int64
BLOCK_STOP_ORDER               int64
DWELL_IN_MINS                float64
dtype: object

KeyError: 'Date'

In [28]:
# changed the columns DATE and SCHEDULED_TIME from object to datetime

# headway['DATE']= pd.to_datetime(headway.DATE).dt.date

In [29]:
headway['DATE']=headway.DATE.str.slice(0,2).astype(str).head()

0          2021-11-01
1          2021-11-01
2          2021-11-01
3          2021-11-01
4          2021-11-01
              ...
1981710    2022-11-01
1981711    2022-11-01
1981712    2022-11-01
1981713    2022-11-01
1981714    2022-11-01
Name: DATE, Length: 1981715, dtype: object

In [30]:
headway.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000

In [31]:
headway['SCHEDULED_TIME'].head()

0    14:10:00
1    14:20:00
2    14:39:00
3    15:10:00
4    15:27:00
Name: SCHEDULED_TIME, dtype: object

In [32]:
headway['DATE']

0          2021-11-01
1          2021-11-01
2          2021-11-01
3          2021-11-01
4          2021-11-01
              ...
1981710    2022-11-01
1981711    2022-11-01
1981712    2022-11-01
1981713    2022-11-01
1981714    2022-11-01
Name: DATE, Length: 1981715, dtype: object

In [33]:
headway['TIME']=headway.SCHEDULED_TIME.str.slice(0,2).astype(str).head()

In [34]:
headway.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,TIME
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,1.983333,0,0,1,0,0.0,0,2,12.650000,14
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,3.333333,0,0,1,0,0.0,0,11,0.000000,14
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,0,1,0,0,NaN,0,23,22.416666,14
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,24,5.766666,15
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,25,0.000000,15

In [35]:
headway.dtypes

CALENDAR_ID                    int64
SERVICE_ABBR                   int64
ADHERENCE_ID                   int64
DATE                          object
ROUTE_ABBR                     int64
BLOCK_ABBR                     int64
OPERATOR                       int64
TRIP_ID                        int64
OVERLOAD_ID                    int64
ROUTE_DIRECTION_NAME          object
TIME_POINT_ABBR               object
ROUTE_STOP_SEQUENCE          float64
TRIP_EDGE                      int64
LATITUDE                     float64
LONGITUDE                    float64
SCHEDULED_TIME                object
ACTUAL_ARRIVAL_TIME           object
ACTUAL_DEPARTURE_TIME         object
ADHERENCE                    float64
SCHEDULED_HDWY               float64
ACTUAL_HDWY                  float64
HDWY_DEV                     float64
ADJUSTED_EARLY_COUNT           int64
ADJUSTED_LATE_COUNT            int64
ADJUSTED_ONTIME_COUNT          int64
STOP_CANCELLED                 int64
PREV_SCHED_STOP_CANCELLED    float64
IS_RELIEF                      int64
BLOCK_STOP_ORDER               int64
DWELL_IN_MINS                float64
TIME                          object
dtype: object

In [36]:
weather['TIME']=weather.Date.str.slice(11,13).astype(str).head()

In [37]:
weather['TIME'].head()

0    00
1    01
2    01
3    02
4    03
Name: TIME, dtype: object

In [38]:
weather['Date']

0       2021-11-01 00:53:00
1       2021-11-01 01:30:00
2       2021-11-01 01:53:00
3       2021-11-01 02:53:00
4       2021-11-01 03:53:00
               ...
9734    2022-10-31 19:53:00
9735    2022-10-31 20:53:00
9736    2022-10-31 21:53:00
9737    2022-10-31 22:53:00
9738    2022-10-31 23:53:00
Name: Date, Length: 9739, dtype: object

In [39]:
weather['DATE']=weather.Date.str.slice(0,10).astype(str).head()

In [40]:
weather['Date'].head()

0    2021-11-01 00:53:00
1    2021-11-01 01:30:00
2    2021-11-01 01:53:00
3    2021-11-01 02:53:00
4    2021-11-01 03:53:00
Name: Date, dtype: object

In [41]:
weather.head()

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction,TIME,DATE
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00,2021-11-01
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01,2021-11-01
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01,2021-11-01
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02,2021-11-01
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03,2021-11-01

In [42]:
weather.dtypes

Date                          object
key                           object
class                         object
expire_time_gmt                int64
obs_id                        object
obs_name                      object
valid_time_gmt                 int64
day_ind                       object
temp                           int64
wx_icon                        int64
icon_extd                      int64
wx_phrase                     object
pressure_tend                float64
pressure_desc                 object
dewPt                          int64
heat_index                     int64
rh                             int64
pressure                     float64
vis                          float64
wc                           float64
wdir                         float64
wdir_cardinal                 object
gust                         float64
wspd                         float64
max_temp                     float64
min_temp                     float64
precip_total                 float64
precip_hrly                  float64
snow_hrly                    float64
uv_desc                       object
feels_like                   float64
uv_index                     float64
qualifier                    float64
qualifier_svrty              float64
blunt_phrase                 float64
terse_phrase                 float64
clds                          object
water_temp                   float64
primary_wave_period          float64
primary_wave_height          float64
primary_swell_period         float64
primary_swell_height         float64
primary_swell_direction      float64
secondary_swell_period       float64
secondary_swell_height       float64
secondary_swell_direction    float64
TIME                          object
DATE                          object
dtype: object

In [43]:
weather['Date'].head()

0    2021-11-01 00:53:00
1    2021-11-01 01:30:00
2    2021-11-01 01:53:00
3    2021-11-01 02:53:00
4    2021-11-01 03:53:00
Name: Date, dtype: object

In [ ]:
# combined_df = headway_data.merge(bna_weather, on=["Date","Hour"],how="left")

# wegobusandweather = pd.merge(headway_data, bna_weather, how = 'left', on = 'Date')

In [45]:
merge_df = headway.merge(weather, on=['DATE','TIME'], how= "left")

In [46]:
merge_df

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
merge_df.isna().sum()

CALENDAR_ID                        0
SERVICE_ABBR                       0
ADHERENCE_ID                       0
DATE                               0
ROUTE_ABBR                         0
                              ...
primary_swell_height         1981715
primary_swell_direction      1981715
secondary_swell_period       1981715
secondary_swell_height       1981715
secondary_swell_direction    1981715
Length: 77, dtype: int64

In [53]:
merge_df.loc[:,'DATE':'TIME']

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,TIME
0,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,...,1.983333,0,0,1,0,0.0,0,2,12.650000,14
1,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,...,3.333333,0,0,1,0,0.0,0,11,0.000000,14
2,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,...,NaN,0,1,0,0,NaN,0,23,22.416666,14
3,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,...,NaN,0,0,1,0,0.0,0,24,5.766666,15
4,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,...,NaN,0,0,1,0,NaN,0,25,0.000000,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,MCC4_20,3.0,2,...,NaN,0,0,1,0,NaN,0,3,1.016666,NaN
1981711,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,MLKS,10.0,1,...,-2.366667,1,0,0,0,0.0,0,2,9.900000,NaN
1981712,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,MCC5_11,4.0,2,...,NaN,1,0,0,0,NaN,0,3,0.000000,NaN
1981713,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,MEIG,7.0,1,...,NaN,0,0,1,0,0.0,0,2,19.366666,NaN
1981714,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,MCC4_20,2.0,2,...,NaN,0,0,1,0,NaN,0,3,1.683333,NaN