In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
headway = pd.read_csv('../Data/Headway Data.csv')

In [28]:
headway_a = headway[['DATE','ROUTE_ABBR','BLOCK_ABBR','OPERATOR','TRIP_ID','ROUTE_DIRECTION_NAME','SCHEDULED_TIME', 'SCHEDULED_HDWY', 'ACTUAL_HDWY','HDWY_DEV']]

headway_a.head()

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:10:00,14.0,15.983333,1.983333
1,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:20:00,14.0,17.333333,3.333333
2,2021-11-01,7,1704,2088,297750,TO DOWNTOWN,14:39:00,NaN,NaN,NaN
3,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:10:00,NaN,NaN,NaN
4,2021-11-01,50,1704,2088,297749,TO DOWNTOWN,15:27:00,NaN,NaN,NaN

In [10]:

headway_b = headway_a[headway_a['ROUTE_ABBR']==55]
headway_b

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
3320,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:22:00,NaN,NaN,NaN
3321,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:29:00,NaN,NaN,NaN
3322,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:35:00,NaN,NaN,NaN
3323,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:42:00,NaN,NaN,NaN
3324,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:52:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1980230,2022-11-01,55,5594,2041,328691,TO DOWNTOWN,07:30:00,NaN,NaN,NaN
1981375,2022-11-01,55,6401,2029,329206,TO DOWNTOWN,15:12:00,NaN,0.35,NaN
1981376,2022-11-01,55,6401,2029,329206,TO DOWNTOWN,15:45:00,NaN,NaN,NaN
1981707,2022-11-01,55,8604,2374,329899,TO DOWNTOWN,15:12:00,0.0,NaN,NaN
1981708,2022-11-01,55,8604,2374,329899,TO DOWNTOWN,15:45:00,NaN,NaN,NaN

In [42]:


headway_b=headway_a[(headway_a['ROUTE_ABBR']==55) & 
        (headway_a['DATE']=='2021-11-01')]&

In [43]:
headway_b.head(50)

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
3320,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:22:00,NaN,NaN,NaN
3321,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:29:00,NaN,NaN,NaN
3322,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:35:00,NaN,NaN,NaN
3323,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:42:00,NaN,NaN,NaN
3324,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,04:52:00,NaN,NaN,NaN
3325,2021-11-01,55,5500,1716,300293,TO DOWNTOWN,05:05:00,NaN,NaN,NaN
3326,2021-11-01,55,5500,1716,300286,FROM DOWNTOWN,05:15:00,NaN,NaN,NaN
3327,2021-11-01,55,5500,1716,300286,FROM DOWNTOWN,05:24:00,NaN,NaN,NaN
3328,2021-11-01,55,5500,1716,300286,FROM DOWNTOWN,05:35:00,NaN,NaN,NaN
3329,2021-11-01,55,5500,1716,300286,FROM DOWNTOWN,05:41:00,NaN,NaN,NaN
3330,2021-11-01,55,5500,1716,300286,FROM DOWNTOWN,05:48:00,NaN,NaN,NaN
3331,2021-11-01,55,5500,1716,300286,FROM DOWNTOWN,05:57:00,NaN,NaN,NaN
3332,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:04:00,10.0,9.100000,-0.900000
3333,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:12:00,10.0,10.600000,0.600000
3334,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:20:00,10.0,13.183333,3.183333
3335,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:28:00,10.0,9.716666,-0.283334
3336,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:40:00,10.0,10.366666,0.366666
3337,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:55:00,NaN,NaN,NaN
3338,2021-11-01,55,5500,1716,300287,FROM DOWNTOWN,07:05:00,10.0,9.066666,-0.933334
3339,2021-11-01,55,5500,1716,300287,FROM DOWNTOWN,07:15:00,10.0,13.783333,3.783333
3340,2021-11-01,55,5500,1716,300287,FROM DOWNTOWN,07:27:00,10.0,12.333333,2.333333
3341,2021-11-01,55,5500,1716,300287,FROM DOWNTOWN,07:33:00,10.0,11.000000,1.000000
3342,2021-11-01,55,5500,1716,300287,FROM DOWNTOWN,07:40:00,10.0,10.966666,0.966666
3343,2021-11-01,55,5500,1716,300287,FROM DOWNTOWN,07:49:00,NaN,NaN,NaN
3344,2021-11-01,55,5500,1716,300295,TO DOWNTOWN,08:06:00,11.0,11.466666,0.466666
3345,2021-11-01,55,5500,1716,300295,TO DOWNTOWN,08:13:00,11.0,14.733333,3.733333
3346,2021-11-01,55,5500,1716,300295,TO DOWNTOWN,08:21:00,11.0,12.983333,1.983333
3347,2021-11-01,55,5500,1716,300295,TO DOWNTOWN,08:29:00,11.0,11.066666,0.066666
3348,2021-11-01,55,5500,1716,300295,TO DOWNTOWN,08:40:00,10.0,6.366666,-3.633334
3349,2021-11-01,55,5500,1716,300295,TO DOWNTOWN,08:55:00,NaN,NaN,NaN
3350,2021-11-01,55,5500,1716,300288,FROM DOWNTOWN,09:05:00,10.0,9.366666,-0.633334
3351,2021-11-01,55,5500,1716,300288,FROM DOWNTOWN,09:15:00,10.0,8.300000,-1.700000
3352,2021-11-01,55,5500,1716,300288,FROM DOWNTOWN,09:27:00,10.0,9.366666,-0.633334
3353,2021-11-01,55,5500,1716,300288,FROM DOWNTOWN,09:33:00,10.0,NaN,NaN
3354,2021-11-01,55,5500,1716,300288,FROM DOWNTOWN,09:40:00,10.0,8.300000,-1.700000
3355,2021-11-01,55,5500,1716,300288,FROM DOWNTOWN,09:49:00,NaN,NaN,NaN
3356,2021-11-01,55,5500,1716,300296,TO DOWNTOWN,10:06:00,10.0,9.983333,-0.016667
3357,2021-11-01,55,5500,1716,300296,TO DOWNTOWN,10:13:00,10.0,7.966666,-2.033334
3358,2021-11-01,55,5500,1716,300296,TO DOWNTOWN,10:21:00,10.0,8.616666,-1.383334
3359,2021-11-01,55,5500,1716,300296,TO DOWNTOWN,10:29:00,10.0,9.000000,-1.000000
3360,2021-11-01,55,5500,1716,300296,TO DOWNTOWN,10:40:00,10.0,10.100000,0.100000
3361,2021-11-01,55,5500,1716,300296,TO DOWNTOWN,10:55:00,NaN,NaN,NaN
3362,2021-11-01,55,5500,1716,300289,FROM DOWNTOWN,11:05:00,10.0,5.783333,-4.216667
3363,2021-11-01,55,5500,1716,300289,FROM DOWNTOWN,11:16:00,11.0,11.350000,0.350000
3364,2021-11-01,55,5500,1716,300289,FROM DOWNTOWN,11:28:00,11.0,10.783333,-0.216667
3365,2021-11-01,55,5500,1716,300289,FROM DOWNTOWN,11:34:00,11.0,10.600000,-0.400000
3366,2021-11-01,55,5500,1716,300289,FROM DOWNTOWN,11:41:00,11.0,9.716666,-1.283334
3367,2021-11-01,55,5500,1716,300289,FROM DOWNTOWN,11:50:00,NaN,NaN,NaN
3368,2021-11-01,55,5500,1716,300297,TO DOWNTOWN,12:06:00,10.0,9.350000,-0.650000
3369,2021-11-01,55,5500,1716,300297,TO DOWNTOWN,12:13:00,10.0,9.666666,-0.333334

In [46]:
headway_c= headway_b[headway_b['SCHEDULED_HDWY'].notnull()]
headway_c

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
3332,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:04:00,10.0,9.100000,-0.900000
3333,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:12:00,10.0,10.600000,0.600000
3334,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:20:00,10.0,13.183333,3.183333
3335,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:28:00,10.0,9.716666,-0.283334
3336,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:40:00,10.0,10.366666,0.366666
...,...,...,...,...,...,...,...,...,...,...
4447,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:57:00,10.0,19.333333,9.333333
4448,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:09:00,10.0,1.200000,-8.800000
4449,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:16:00,10.0,1.616666,-8.383334
4450,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:26:00,10.0,0.866666,-9.133334
5914,2021-11-01,55,8604,2059,301624,TO DOWNTOWN,15:12:00,0.0,0.150000,0.150000

In [49]:
# calculate headway percent by dividing actual headway by scheduled headway. Over 150% is too high and under 50% is too low. 

headway_c['PERCENT'] = headway_c.ACTUAL_HDWY/headway_c.SCHEDULED_HDWY * 100
headway_c

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_41688\645534722.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_c['PERCENT'] = headway_c.ACTUAL_HDWY/headway_c.SCHEDULED_HDWY * 100

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,PERCENT
3332,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:04:00,10.0,9.100000,-0.900000,91.00000
3333,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:12:00,10.0,10.600000,0.600000,106.00000
3334,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:20:00,10.0,13.183333,3.183333,131.83333
3335,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:28:00,10.0,9.716666,-0.283334,97.16666
3336,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:40:00,10.0,10.366666,0.366666,103.66666
...,...,...,...,...,...,...,...,...,...,...,...
4447,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:57:00,10.0,19.333333,9.333333,193.33333
4448,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:09:00,10.0,1.200000,-8.800000,12.00000
4449,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:16:00,10.0,1.616666,-8.383334,16.16666
4450,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:26:00,10.0,0.866666,-9.133334,8.66666
5914,2021-11-01,55,8604,2059,301624,TO DOWNTOWN,15:12:00,0.0,0.150000,0.150000,inf

In [50]:
headway_d= headway_b[
    (headway_b['SCHEDULED_HDWY'].notnull())&
    (headway_b['SCHEDULED_HDWY']!=0)
]
headway_d

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
3332,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:04:00,10.0,9.100000,-0.900000
3333,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:12:00,10.0,10.600000,0.600000
3334,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:20:00,10.0,13.183333,3.183333
3335,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:28:00,10.0,9.716666,-0.283334
3336,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:40:00,10.0,10.366666,0.366666
...,...,...,...,...,...,...,...,...,...,...
4446,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:45:00,10.0,16.483333,6.483333
4447,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:57:00,10.0,19.333333,9.333333
4448,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:09:00,10.0,1.200000,-8.800000
4449,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:16:00,10.0,1.616666,-8.383334
4450,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:26:00,10.0,0.866666,-9.133334

In [52]:

headway_d['PERCENT'] = headway_d.ACTUAL_HDWY/headway_d.SCHEDULED_HDWY * 100
headway_d

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_41688\663218806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_d['PERCENT'] = headway_d.ACTUAL_HDWY/headway_d.SCHEDULED_HDWY * 100

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,PERCENT
3332,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:04:00,10.0,9.100000,-0.900000,91.00000
3333,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:12:00,10.0,10.600000,0.600000,106.00000
3334,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:20:00,10.0,13.183333,3.183333,131.83333
3335,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:28:00,10.0,9.716666,-0.283334,97.16666
3336,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:40:00,10.0,10.366666,0.366666,103.66666
...,...,...,...,...,...,...,...,...,...,...,...
4446,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:45:00,10.0,16.483333,6.483333,164.83333
4447,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:57:00,10.0,19.333333,9.333333,193.33333
4448,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:09:00,10.0,1.200000,-8.800000,12.00000
4449,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:16:00,10.0,1.616666,-8.383334,16.16666
4450,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:26:00,10.0,0.866666,-9.133334,8.66666

In [55]:
too_high = headway_d[headway_d['PERCENT'] >=150]
too_high

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,PERCENT
3396,2021-11-01,55,5500,1603,300299,TO DOWNTOWN,16:50:00,10.0,19.433333,9.433333,194.333330
3429,2021-11-01,55,5501,557,300341,FROM DOWNTOWN,08:03:00,10.0,16.116666,6.116666,161.166660
3430,2021-11-01,55,5501,557,300341,FROM DOWNTOWN,08:10:00,10.0,16.733333,6.733333,167.333330
3488,2021-11-01,55,5501,1788,300346,FROM DOWNTOWN,18:19:00,10.0,19.033333,9.033333,190.333330
3489,2021-11-01,55,5501,1788,300346,FROM DOWNTOWN,18:26:00,10.0,18.650000,8.650000,186.500000
3490,2021-11-01,55,5501,1788,300346,FROM DOWNTOWN,18:36:00,10.0,17.050000,7.050000,170.500000
3657,2021-11-01,55,5503,1228,300443,TO DOWNTOWN,07:38:00,10.0,15.766666,5.766666,157.666660
3658,2021-11-01,55,5503,1228,300443,TO DOWNTOWN,07:50:00,10.0,24.533333,14.533333,245.333330
3660,2021-11-01,55,5503,1228,300437,FROM DOWNTOWN,08:15:00,10.0,16.516666,6.516666,165.166660
3837,2021-11-01,55,5505,1202,300547,TO DOWNTOWN,07:58:00,10.0,15.400000,5.400000,154.000000
3843,2021-11-01,55,5505,1202,300538,FROM DOWNTOWN,09:03:00,10.0,19.233333,9.233333,192.333330
3860,2021-11-01,55,5505,1202,300549,TO DOWNTOWN,11:51:00,10.0,15.150000,5.150000,151.500000
3932,2021-11-01,55,5506,2109,300586,TO DOWNTOWN,06:01:00,9.0,15.183333,6.183333,168.703700
3933,2021-11-01,55,5506,2109,300586,TO DOWNTOWN,06:09:00,9.0,13.833333,4.833333,153.703700
3957,2021-11-01,55,5506,2109,300588,TO DOWNTOWN,10:09:00,10.0,16.633333,6.633333,166.333330
3985,2021-11-01,55,5506,2217,300584,FROM DOWNTOWN,14:58:00,10.0,17.466666,7.466666,174.666660
3986,2021-11-01,55,5506,2217,300584,FROM DOWNTOWN,15:12:00,10.0,17.550000,7.550000,175.500000
3987,2021-11-01,55,5506,2217,300584,FROM DOWNTOWN,15:19:00,10.0,19.683333,9.683333,196.833330
3988,2021-11-01,55,5506,2217,300584,FROM DOWNTOWN,15:28:00,10.0,19.616666,9.616666,196.166660
4036,2021-11-01,55,5507,1743,300597,FROM DOWNTOWN,11:30:00,10.0,15.300000,5.300000,153.000000
4069,2021-11-01,55,5507,1814,300600,FROM DOWNTOWN,17:18:00,9.0,13.683333,4.683333,152.037033
4114,2021-11-01,55,5508,2055,300616,TO DOWNTOWN,06:50:00,10.0,16.400000,6.400000,164.000000
4131,2021-11-01,55,5508,2055,300611,FROM DOWNTOWN,09:43:00,10.0,22.916666,12.916666,229.166660
4135,2021-11-01,55,5508,2055,300618,TO DOWNTOWN,10:23:00,10.0,15.816666,5.816666,158.166660
4136,2021-11-01,55,5508,2055,300618,TO DOWNTOWN,10:31:00,10.0,15.000000,5.000000,150.000000
4138,2021-11-01,55,5508,2055,300618,TO DOWNTOWN,10:50:00,10.0,16.900000,6.900000,169.000000
4237,2021-11-01,55,5509,2306,300628,FROM DOWNTOWN,15:39:00,10.0,15.466666,5.466666,154.666660
4239,2021-11-01,55,5509,2306,300628,FROM DOWNTOWN,16:00:00,10.0,16.616666,6.616666,166.166660
4240,2021-11-01,55,5509,2306,300628,FROM DOWNTOWN,16:09:00,10.0,17.316666,7.316666,173.166660
4242,2021-11-01,55,5509,2306,300637,TO DOWNTOWN,16:33:00,10.0,16.233333,6.233333,162.333330
4243,2021-11-01,55,5509,2306,300637,TO DOWNTOWN,16:41:00,10.0,16.450000,6.450000,164.500000
4244,2021-11-01,55,5509,2306,300637,TO DOWNTOWN,16:49:00,10.0,16.950000,6.950000,169.500000
4304,2021-11-01,55,5510,1379,300646,TO DOWNTOWN,11:01:00,10.0,15.900000,5.900000,159.000000
4305,2021-11-01,55,5510,1379,300646,TO DOWNTOWN,11:09:00,10.0,16.116666,6.116666,161.166660
4309,2021-11-01,55,5510,1379,300640,FROM DOWNTOWN,11:56:00,10.0,15.983333,5.983333,159.833330
4310,2021-11-01,55,5510,1379,300640,FROM DOWNTOWN,12:08:00,10.0,16.233333,6.233333,162.333330
4311,2021-11-01,55,5510,1379,300640,FROM DOWNTOWN,12:14:00,10.0,18.700000,8.700000,187.000000
4312,2021-11-01,55,5510,1379,300640,FROM DOWNTOWN,12:21:00,10.0,20.033333,10.033333,200.333330
4342,2021-11-01,55,5510,1379,300649,TO DOWNTOWN,17:41:00,11.0,17.150000,6.150000,155.909091
4350,2021-11-01,55,5511,2098,300657,TO DOWNTOWN,07:03:00,10.0,17.483333,7.483333,174.833330
4351,2021-11-01,55,5511,2098,300657,TO DOWNTOWN,07:11:00,10.0,16.900000,6.900000,169.000000
4352,2021-11-01,55,5511,2098,300657,TO DOWNTOWN,07:19:00,10.0,18.733333,8.733333,187.333330
4425,2021-11-01,55,5511,1419,300651,FROM DOWNTOWN,08:33:00,10.0,23.183333,13.183333,231.833330
4446,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:45:00,10.0,16.483333,6.483333,164.833330
4447,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:57:00,10.0,19.333333,9.333333,193.333330

In [56]:
too_low =  headway_d[headway_d['PERCENT'] <=50]
too_low

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,PERCENT
3394,2021-11-01,55,5500,1603,300299,TO DOWNTOWN,16:29:00,10.0,3.566666,-6.433334,35.666660
3395,2021-11-01,55,5500,1603,300299,TO DOWNTOWN,16:38:00,10.0,3.600000,-6.400000,36.000000
3484,2021-11-01,55,5501,1788,300355,TO DOWNTOWN,17:30:00,10.0,4.433333,-5.566667,44.333330
3486,2021-11-01,55,5501,1788,300346,FROM DOWNTOWN,17:55:00,10.0,1.683333,-8.316667,16.833330
3487,2021-11-01,55,5501,1788,300346,FROM DOWNTOWN,18:07:00,10.0,1.700000,-8.300000,17.000000
3559,2021-11-01,55,5502,329,300404,TO DOWNTOWN,11:30:00,10.0,4.650000,-5.350000,46.500000
3564,2021-11-01,55,5502,329,300394,FROM DOWNTOWN,12:24:00,10.0,2.516666,-7.483334,25.166660
3565,2021-11-01,55,5502,329,300394,FROM DOWNTOWN,12:31:00,10.0,2.766666,-7.233334,27.666660
3595,2021-11-01,55,5502,1815,300399,TO DOWNTOWN,17:51:00,10.0,4.166666,-5.833334,41.666660
3640,2021-11-01,55,5502,1419,300402,TO DOWNTOWN,07:30:00,10.0,0.200000,-9.800000,2.000000
3654,2021-11-01,55,5503,1228,300443,TO DOWNTOWN,07:14:00,11.0,5.016666,-5.983334,45.606055
3655,2021-11-01,55,5503,1228,300443,TO DOWNTOWN,07:21:00,10.0,4.300000,-5.700000,43.000000
3656,2021-11-01,55,5503,1228,300443,TO DOWNTOWN,07:29:00,10.0,1.433333,-8.566667,14.333330
3661,2021-11-01,55,5503,1228,300437,FROM DOWNTOWN,08:25:00,10.0,1.683333,-8.316667,16.833330
3662,2021-11-01,55,5503,1228,300437,FROM DOWNTOWN,08:37:00,10.0,3.600000,-6.400000,36.000000
3664,2021-11-01,55,5503,1228,300437,FROM DOWNTOWN,08:50:00,10.0,0.583333,-9.416667,5.833330
3675,2021-11-01,55,5503,1228,300438,FROM DOWNTOWN,10:43:00,10.0,4.200000,-5.800000,42.000000
3945,2021-11-01,55,5506,2109,300587,TO DOWNTOWN,08:08:00,10.0,4.516666,-5.483334,45.166660
3946,2021-11-01,55,5506,2109,300587,TO DOWNTOWN,08:20:00,10.0,0.583333,-9.416667,5.833330
4004,2021-11-01,55,5507,1743,300604,TO DOWNTOWN,06:10:00,9.0,2.850000,-6.150000,31.666667
4005,2021-11-01,55,5507,1743,300604,TO DOWNTOWN,06:18:00,9.0,4.083333,-4.916667,45.370367
4006,2021-11-01,55,5507,1743,300604,TO DOWNTOWN,06:30:00,10.0,4.466666,-5.533334,44.666660
4029,2021-11-01,55,5507,1743,300606,TO DOWNTOWN,10:19:00,10.0,3.583333,-6.416667,35.833330
4030,2021-11-01,55,5507,1743,300606,TO DOWNTOWN,10:30:00,10.0,2.166666,-7.833334,21.666660
4057,2021-11-01,55,5507,1814,300599,FROM DOWNTOWN,15:08:00,10.0,2.233333,-7.766667,22.333330
4058,2021-11-01,55,5507,1814,300599,FROM DOWNTOWN,15:22:00,10.0,0.816666,-9.183334,8.166660
4059,2021-11-01,55,5507,1814,300599,FROM DOWNTOWN,15:29:00,10.0,0.766666,-9.233334,7.666660
4060,2021-11-01,55,5507,1814,300599,FROM DOWNTOWN,15:38:00,10.0,2.800000,-7.200000,28.000000
4066,2021-11-01,55,5507,1814,300609,TO DOWNTOWN,16:40:00,10.0,1.583333,-8.416667,15.833330
4177,2021-11-01,55,5508,2035,300615,FROM DOWNTOWN,17:37:00,9.0,2.750000,-6.250000,30.555556
4178,2021-11-01,55,5508,2035,300615,FROM DOWNTOWN,17:50:00,8.0,2.166666,-5.833334,27.083325
4180,2021-11-01,55,5508,2035,300615,FROM DOWNTOWN,18:08:00,6.0,1.566666,-4.433334,26.111100
4186,2021-11-01,55,5509,2035,300632,TO DOWNTOWN,07:00:00,10.0,4.666666,-5.333334,46.666660
4198,2021-11-01,55,5509,2035,300633,TO DOWNTOWN,09:00:00,10.0,4.666666,-5.333334,46.666660
4207,2021-11-01,55,5509,2035,300634,TO DOWNTOWN,10:33:00,10.0,4.400000,-5.600000,44.000000
4210,2021-11-01,55,5509,2035,300634,TO DOWNTOWN,11:00:00,10.0,2.666666,-7.333334,26.666660
4250,2021-11-01,55,5509,2306,300629,FROM DOWNTOWN,17:59:00,9.0,0.266666,-8.733334,2.962956
4251,2021-11-01,55,5509,2306,300629,FROM DOWNTOWN,18:06:00,9.0,0.750000,-8.250000,8.333333
4252,2021-11-01,55,5509,2306,300629,FROM DOWNTOWN,18:16:00,8.0,2.000000,-6.000000,25.000000
4281,2021-11-01,55,5510,1194,300644,TO DOWNTOWN,07:08:00,10.0,1.133333,-8.866667,11.333330
4353,2021-11-01,55,5511,2098,300657,TO DOWNTOWN,07:28:00,10.0,2.150000,-7.850000,21.500000
4354,2021-11-01,55,5511,2098,300657,TO DOWNTOWN,07:40:00,10.0,1.666666,-8.333334,16.666660
4448,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:09:00,10.0,1.200000,-8.800000,12.000000
4449,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:16:00,10.0,1.616666,-8.383334,16.166660
4450,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:26:00,10.0,0.866666,-9.133334,8.666660

In [ ]:
df['new column name'] = df['column name'].apply
(lambda x: 'value if condition is met' 
 if x condition 
 else 'value if condition is not met')

In [70]:
headway_c['LOW_HIGH'] = headway_c['PERCENT'].apply
(lambda x: 'high'
if x >=150
else 'low')

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_41688\3065742439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_c['LOW_HIGH'] = headway_c['PERCENT'].apply

In [67]:
headway_c.head()

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,PERCENT,LOW/HIGH,LOW_HIGH
3332,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:04:00,10.0,9.100000,-0.900000,91.00000,NaN,<bound method Series.apply of 3332 91.0000...
3333,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:12:00,10.0,10.600000,0.600000,106.00000,NaN,<bound method Series.apply of 3332 91.0000...
3334,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:20:00,10.0,13.183333,3.183333,131.83333,NaN,<bound method Series.apply of 3332 91.0000...
3335,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:28:00,10.0,9.716666,-0.283334,97.16666,NaN,<bound method Series.apply of 3332 91.0000...
3336,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:40:00,10.0,10.366666,0.366666,103.66666,NaN,<bound method Series.apply of 3332 91.0000...

In [ ]:
headway_d

In [71]:
headway_c['LOW/HIGH']=''

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_41688\2302375940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_c['LOW/HIGH']=''

In [75]:
# headway_c=del(headway_c['LOW/HIGH'])

# gdp_df.drop(gdp_df.columns[[3]], axis=1, inplace=True)

headway_c.drop(headway_c.columns[[11]],[[12]], axis=1, inplace=True)

IndexError: index 11 is out of bounds for axis 0 with size 11

In [77]:
headway_d['LOW/HIGH']=''

headway_d.loc[headway_d['PERCENT'] >=150, 'LOW/HIGH']= 'high'
headway_d.loc[headway_d['PERCENT'] <=50, 'LOW/HIGH']= 'low'

headway_d

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_41688\3115006755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_d['LOW/HIGH']=''

,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,PERCENT,LOW/HIGH
3332,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:04:00,10.0,9.100000,-0.900000,91.00000,
3333,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:12:00,10.0,10.600000,0.600000,106.00000,
3334,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:20:00,10.0,13.183333,3.183333,131.83333,
3335,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:28:00,10.0,9.716666,-0.283334,97.16666,
3336,2021-11-01,55,5500,1716,300294,TO DOWNTOWN,06:40:00,10.0,10.366666,0.366666,103.66666,
...,...,...,...,...,...,...,...,...,...,...,...,...
4446,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:45:00,10.0,16.483333,6.483333,164.83333,high
4447,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,17:57:00,10.0,19.333333,9.333333,193.33333,high
4448,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:09:00,10.0,1.200000,-8.800000,12.00000,low
4449,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:16:00,10.0,1.616666,-8.383334,16.16666,low
4450,2021-11-01,55,5512,1749,300663,FROM DOWNTOWN,18:26:00,10.0,0.866666,-9.133334,8.66666,low

In [65]:
# df.loc[df['column name'] condition, 'new column name'] = 'value if condition is met'

headway_c.loc[headway_c['PERCENT'] >=150, 'LOW/HIGH']= 'high'
headway_c.loc[headway_c['PERCENT'] <=50, 'LOW/HIGH']= 'low'

C:\Users\Rebecca Wolfe\AppData\Local\Temp\ipykernel_41688\1566333776.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  headway_c.loc[headway_c['PERCENT'] >=150, 'LOW/HIGH']= 'high'

In [68]:

headway_c.loc[headway_c[:,'PERCENT'] >=150, 'LOW/HIGH']= 'high'
headway_c.loc[headway_c[:,'PERCENT'] <=50, 'LOW/HIGH']= 'low'

InvalidIndexError: (slice(None, None, None), 'PERCENT')