In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
bna_weather = pd.read_csv('../data/bna_weather.csv')
headway_data = pd.read_csv('../data/Headway Data.csv')

In [3]:
bna_weather.head()

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bna_weather.shape

(9739, 46)

In [5]:
headway_data.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000

In [6]:
# headway_data.info()

In [7]:
bna_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9739 entries, 0 to 9738
Data columns (total 46 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       9739 non-null   object
 1   key                        9739 non-null   object
 2   class                      9739 non-null   object
 3   expire_time_gmt            9739 non-null   int64
 4   obs_id                     9739 non-null   object
 5   obs_name                   9739 non-null   object
 6   valid_time_gmt             9739 non-null   int64
 7   day_ind                    9739 non-null   object
 8   temp                       9739 non-null   int64
 9   wx_icon                    9739 non-null   int64
 10  icon_extd                  9739 non-null   int64
 11  wx_phrase                  9739 non-null   object
 12  pressure_tend              2885 non-null   float64
 13  pressure_desc              2885 non-null   object
 14  dewPt                      9739 non-null   int64
 15  heat_index                 9739 non-null   int64
 16  rh                         9739 non-null   int64
 17  pressure                   9739 non-null   float64
 18  vis                        9735 non-null   float64
 19  wc                         9731 non-null   float64
 20  wdir                       8217 non-null   float64
 21  wdir_cardinal              9731 non-null   object
 22  gust                       1460 non-null   float64
 23  wspd                       9731 non-null   float64
 24  max_temp                   361 non-null    float64
 25  min_temp                   361 non-null    float64
 26  precip_total               103 non-null    float64
 27  precip_hrly                9739 non-null   float64
 28  snow_hrly                  9 non-null      float64
 29  uv_desc                    9725 non-null   object
 30  feels_like                 9738 non-null   float64
 31  uv_index                   9725 non-null   float64
 32  qualifier                  0 non-null      float64
 33  qualifier_svrty            0 non-null      float64
 34  blunt_phrase               0 non-null      float64
 35  terse_phrase               0 non-null      float64
 36  clds                       9739 non-null   object
 37  water_temp                 0 non-null      float64
 38  primary_wave_period        0 non-null      float64
 39  primary_wave_height        0 non-null      float64
 40  primary_swell_period       0 non-null      float64
 41  primary_swell_height       0 non-null      float64
 42  primary_swell_direction    0 non-null      float64
 43  secondary_swell_period     0 non-null      float64
 44  secondary_swell_height     0 non-null      float64
 45  secondary_swell_direction  0 non-null      float64
dtypes: float64(27), int64(8), object(11)
memory usage: 3.4+ MB

In [8]:
headway_data.tail()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [9]:
headway_data.isna().sum()

CALENDAR_ID                       0
SERVICE_ABBR                      0
ADHERENCE_ID                      0
DATE                              0
ROUTE_ABBR                        0
BLOCK_ABBR                        0
OPERATOR                          0
TRIP_ID                           0
OVERLOAD_ID                       0
ROUTE_DIRECTION_NAME              0
TIME_POINT_ABBR                   0
ROUTE_STOP_SEQUENCE              41
TRIP_EDGE                         0
LATITUDE                          0
LONGITUDE                         0
SCHEDULED_TIME                    0
ACTUAL_ARRIVAL_TIME           54383
ACTUAL_DEPARTURE_TIME         54430
ADHERENCE                     54430
SCHEDULED_HDWY               432294
ACTUAL_HDWY                  473824
HDWY_DEV                     474368
ADJUSTED_EARLY_COUNT              0
ADJUSTED_LATE_COUNT               0
ADJUSTED_ONTIME_COUNT             0
STOP_CANCELLED                    0
PREV_SCHED_STOP_CANCELLED    402647
IS_RELIEF                         0
BLOCK_STOP_ORDER                  0
DWELL_IN_MINS                 54456
dtype: int64

In [10]:
bna_weather.isna().sum()

Date                            0
key                             0
class                           0
expire_time_gmt                 0
obs_id                          0
obs_name                        0
valid_time_gmt                  0
day_ind                         0
temp                            0
wx_icon                         0
icon_extd                       0
wx_phrase                       0
pressure_tend                6854
pressure_desc                6854
dewPt                           0
heat_index                      0
rh                              0
pressure                        0
vis                             4
wc                              8
wdir                         1522
wdir_cardinal                   8
gust                         8279
wspd                            8
max_temp                     9378
min_temp                     9378
precip_total                 9636
precip_hrly                     0
snow_hrly                    9730
uv_desc                        14
feels_like                      1
uv_index                       14
qualifier                    9739
qualifier_svrty              9739
blunt_phrase                 9739
terse_phrase                 9739
clds                            0
water_temp                   9739
primary_wave_period          9739
primary_wave_height          9739
primary_swell_period         9739
primary_swell_height         9739
primary_swell_direction      9739
secondary_swell_period       9739
secondary_swell_height       9739
secondary_swell_direction    9739
dtype: int64

In [11]:
bna_weather = bna_weather.drop(['icon_extd','clds','wdir_cardinal','uv_index','uv_desc','key','class','expire_time_gmt','obs_name','valid_time_gmt','day_ind','obs_id','max_temp','min_temp','qualifier','qualifier_svrty', 'blunt_phrase','terse_phrase', 'water_temp', 'primary_wave_period','primary_wave_height','primary_swell_period', 'primary_swell_height', 'primary_swell_direction', 'secondary_swell_period', 'secondary_swell_height', 'secondary_swell_direction'], axis=1)

In [12]:
bna_weather['Date'] = pd.to_datetime(bna_weather['Date']).dt.date

In [13]:
bna_weather.head()

,Date,temp,wx_icon,wx_phrase,pressure_tend,pressure_desc,dewPt,heat_index,rh,pressure,vis,wc,wdir,gust,wspd,precip_total,precip_hrly,snow_hrly,feels_like
0,2021-11-01,51,26,Cloudy,1.0,Rising,43,51,74,29.59,10.0,51.0,360.0,NaN,9.0,NaN,0.0,NaN,51.0
1,2021-11-01,50,29,Partly Cloudy,NaN,NaN,42,50,74,29.59,10.0,50.0,350.0,NaN,8.0,NaN,0.0,NaN,50.0
2,2021-11-01,49,33,Fair,NaN,NaN,42,49,77,29.59,10.0,47.0,350.0,NaN,6.0,NaN,0.0,NaN,47.0
3,2021-11-01,48,33,Fair,NaN,NaN,41,48,77,29.60,10.0,48.0,360.0,NaN,3.0,NaN,0.0,NaN,48.0
4,2021-11-01,47,33,Fair,1.0,Rising Rapidly,41,47,80,29.61,10.0,47.0,NaN,NaN,0.0,NaN,0.0,NaN,47.0

In [18]:
bna_weather = bna_weather.groupby('Date', as_index=False).max()

C:\Users\kalmc\AppData\Local\Temp\ipykernel_41508\2133845830.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  bna_weather = bna_weather.groupby('Date', as_index=False).max()

In [19]:
bna_weather

,Date,temp,wx_icon,wx_phrase,pressure_tend,dewPt,heat_index,rh,pressure,vis,wc,wdir,gust,wspd,precip_total,precip_hrly,snow_hrly,feels_like
0,2021-11-01,62,34,Partly Cloudy,2.0,43,62,83,29.69,10.0,62.0,360.0,NaN,9.0,NaN,0.00,NaN,62.0
1,2021-11-02,54,33,Partly Cloudy,2.0,37,54,74,29.77,10.0,54.0,360.0,NaN,15.0,NaN,0.00,NaN,54.0
2,2021-11-03,49,33,Mostly Cloudy,2.0,29,49,65,29.76,10.0,45.0,360.0,NaN,12.0,NaN,0.00,NaN,45.0
3,2021-11-04,56,34,Partly Cloudy,2.0,32,56,85,29.68,10.0,56.0,360.0,17.0,12.0,NaN,0.00,NaN,56.0
4,2021-11-05,59,34,Partly Cloudy,2.0,35,59,82,29.70,10.0,59.0,350.0,NaN,7.0,NaN,0.00,NaN,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2022-10-27,67,34,Patches of Fog,2.0,39,67,82,29.58,10.0,67.0,360.0,18.0,13.0,NaN,0.00,NaN,67.0
361,2022-10-28,74,34,Partly Cloudy,2.0,46,74,79,29.67,10.0,74.0,180.0,NaN,9.0,NaN,0.00,NaN,74.0
362,2022-10-29,76,34,Mostly Cloudy,2.0,48,76,83,29.67,10.0,76.0,190.0,17.0,12.0,NaN,0.00,NaN,76.0
363,2022-10-30,66,40,Rain,2.0,59,66,87,29.44,10.0,66.0,200.0,NaN,14.0,0.28,0.12,NaN,66.0
364,2022-10-31,66,28,Mostly Cloudy,2.0,56,66,87,29.43,10.0,66.0,300.0,18.0,10.0,0.16,0.03,NaN,66.0

In [20]:
headway_data.rename(columns = {'DATE':'Date'}, inplace = True)
headway_data.shape

(1981715, 30)

In [21]:
combined_df = headway_data.merge(bna_weather, on=["Date"],how="outer")

In [22]:
combined_df

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,Date,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,pressure,vis,wc,wdir,gust,wspd,precip_total,precip_hrly,snow_hrly,feels_like
0,120211101.0,1.0,76447164.0,2021-11-01,7.0,1704.0,2088.0,297750.0,0.0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120211101.0,1.0,76447165.0,2021-11-01,7.0,1704.0,2088.0,297750.0,0.0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,120211101.0,1.0,76447166.0,2021-11-01,7.0,1704.0,2088.0,297750.0,0.0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,120211101.0,1.0,76447167.0,2021-11-01,50.0,1704.0,2088.0,297749.0,0.0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,120211101.0,1.0,76447168.0,2021-11-01,50.0,1704.0,2088.0,297749.0,0.0,TO DOWNTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982075,NaN,NaN,NaN,2022-10-27,NaN,NaN,NaN,NaN,NaN,NaN,...,29.58,10.0,67.0,360.0,18.0,13.0,NaN,0.00,NaN,67.0
1982076,NaN,NaN,NaN,2022-10-28,NaN,NaN,NaN,NaN,NaN,NaN,...,29.67,10.0,74.0,180.0,NaN,9.0,NaN,0.00,NaN,74.0
1982077,NaN,NaN,NaN,2022-10-29,NaN,NaN,NaN,NaN,NaN,NaN,...,29.67,10.0,76.0,190.0,17.0,12.0,NaN,0.00,NaN,76.0
1982078,NaN,NaN,NaN,2022-10-30,NaN,NaN,NaN,NaN,NaN,NaN,...,29.44,10.0,66.0,200.0,NaN,14.0,0.28,0.12,NaN,66.0
1982079,NaN,NaN,NaN,2022-10-31,NaN,NaN,NaN,NaN,NaN,NaN,...,29.43,10.0,66.0,300.0,18.0,10.0,0.16,0.03,NaN,66.0

In [17]:
combined_df.isna().sum()

CALENDAR_ID                     9739
SERVICE_ABBR                    9739
ADHERENCE_ID                    9739
Date                               0
ROUTE_ABBR                      9739
BLOCK_ABBR                      9739
OPERATOR                        9739
TRIP_ID                         9739
OVERLOAD_ID                     9739
ROUTE_DIRECTION_NAME            9739
TIME_POINT_ABBR                 9739
ROUTE_STOP_SEQUENCE             9780
TRIP_EDGE                       9739
LATITUDE                        9739
LONGITUDE                       9739
SCHEDULED_TIME                  9739
ACTUAL_ARRIVAL_TIME            64122
ACTUAL_DEPARTURE_TIME          64169
ADHERENCE                      64169
SCHEDULED_HDWY                442033
ACTUAL_HDWY                   483563
HDWY_DEV                      484107
ADJUSTED_EARLY_COUNT            9739
ADJUSTED_LATE_COUNT             9739
ADJUSTED_ONTIME_COUNT           9739
STOP_CANCELLED                  9739
PREV_SCHED_STOP_CANCELLED     412386
IS_RELIEF                       9739
BLOCK_STOP_ORDER                9739
DWELL_IN_MINS                  64195
temp                         1981715
wx_icon                      1981715
wx_phrase                    1981715
pressure_tend                1988569
pressure_desc                1988569
dewPt                        1981715
heat_index                   1981715
rh                           1981715
pressure                     1981715
vis                          1981719
wc                           1981723
wdir                         1983237
gust                         1989994
wspd                         1981723
precip_total                 1991351
precip_hrly                  1981715
snow_hrly                    1991445
feels_like                   1981716
dtype: int64