In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import numpy as np

In [2]:
bna_weather = pd.read_csv('../data/bna_weather.csv')
headway_data = pd.read_csv('../data/Headway Data.csv')

In [3]:
bna_weather.head()

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bna_weather.shape

(9739, 46)

In [5]:
headway_data.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000

In [6]:
# headway_data.info()

In [7]:
bna_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9739 entries, 0 to 9738
Data columns (total 46 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       9739 non-null   object
 1   key                        9739 non-null   object
 2   class                      9739 non-null   object
 3   expire_time_gmt            9739 non-null   int64
 4   obs_id                     9739 non-null   object
 5   obs_name                   9739 non-null   object
 6   valid_time_gmt             9739 non-null   int64
 7   day_ind                    9739 non-null   object
 8   temp                       9739 non-null   int64
 9   wx_icon                    9739 non-null   int64
 10  icon_extd                  9739 non-null   int64
 11  wx_phrase                  9739 non-null   object
 12  pressure_tend              2885 non-null   float64
 13  pressure_desc              2885 non-null   object
 14  dewPt                      9739 non-null   int64
 15  heat_index                 9739 non-null   int64
 16  rh                         9739 non-null   int64
 17  pressure                   9739 non-null   float64
 18  vis                        9735 non-null   float64
 19  wc                         9731 non-null   float64
 20  wdir                       8217 non-null   float64
 21  wdir_cardinal              9731 non-null   object
 22  gust                       1460 non-null   float64
 23  wspd                       9731 non-null   float64
 24  max_temp                   361 non-null    float64
 25  min_temp                   361 non-null    float64
 26  precip_total               103 non-null    float64
 27  precip_hrly                9739 non-null   float64
 28  snow_hrly                  9 non-null      float64
 29  uv_desc                    9725 non-null   object
 30  feels_like                 9738 non-null   float64
 31  uv_index                   9725 non-null   float64
 32  qualifier                  0 non-null      float64
 33  qualifier_svrty            0 non-null      float64
 34  blunt_phrase               0 non-null      float64
 35  terse_phrase               0 non-null      float64
 36  clds                       9739 non-null   object
 37  water_temp                 0 non-null      float64
 38  primary_wave_period        0 non-null      float64
 39  primary_wave_height        0 non-null      float64
 40  primary_swell_period       0 non-null      float64
 41  primary_swell_height       0 non-null      float64
 42  primary_swell_direction    0 non-null      float64
 43  secondary_swell_period     0 non-null      float64
 44  secondary_swell_height     0 non-null      float64
 45  secondary_swell_direction  0 non-null      float64
dtypes: float64(27), int64(8), object(11)
memory usage: 3.4+ MB

In [8]:
headway_data.tail()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [9]:
# headway_data.isna().sum()

In [33]:
bna_weather.isna().sum()

Date                0
temp                0
wx_icon             0
wx_phrase           0
pressure_tend    6854
pressure_desc    6854
dewPt               0
heat_index          0
rh                  0
pressure            0
vis                 4
wspd                8
max_temp         9378
precip_total     9636
precip_hrly         0
snow_hrly        9730
feels_like          1
Time                0
Hour                0
dtype: int64

In [11]:
bna_weather = bna_weather.drop(['icon_extd','clds','wdir_cardinal','uv_index','uv_desc','key','class','expire_time_gmt','obs_name','valid_time_gmt','day_ind','obs_id','min_temp','qualifier','qualifier_svrty', 'blunt_phrase','terse_phrase', 'water_temp', 'primary_wave_period','primary_wave_height','primary_swell_period', 'primary_swell_height', 'primary_swell_direction', 'secondary_swell_period', 'secondary_swell_height', 'secondary_swell_direction','gust','wdir','wc'], axis=1)

In [12]:
#converting date column in bna_weather to just date
bna_weather['Time'] = pd.to_datetime(bna_weather['Date']).dt.time
bna_weather.head()

,Date,temp,wx_icon,wx_phrase,pressure_tend,pressure_desc,dewPt,heat_index,rh,pressure,vis,wspd,max_temp,precip_total,precip_hrly,snow_hrly,feels_like,Time
0,2021-11-01 00:53:00,51,26,Cloudy,1.0,Rising,43,51,74,29.59,10.0,9.0,68.0,NaN,0.0,NaN,51.0,00:53:00
1,2021-11-01 01:30:00,50,29,Partly Cloudy,NaN,NaN,42,50,74,29.59,10.0,8.0,NaN,NaN,0.0,NaN,50.0,01:30:00
2,2021-11-01 01:53:00,49,33,Fair,NaN,NaN,42,49,77,29.59,10.0,6.0,NaN,NaN,0.0,NaN,47.0,01:53:00
3,2021-11-01 02:53:00,48,33,Fair,NaN,NaN,41,48,77,29.60,10.0,3.0,NaN,NaN,0.0,NaN,48.0,02:53:00
4,2021-11-01 03:53:00,47,33,Fair,1.0,Rising Rapidly,41,47,80,29.61,10.0,0.0,NaN,NaN,0.0,NaN,47.0,03:53:00

In [13]:
bna_weather['Date'] = pd.to_datetime(bna_weather['Date']).dt.date
bna_weather.head()

,Date,temp,wx_icon,wx_phrase,pressure_tend,pressure_desc,dewPt,heat_index,rh,pressure,vis,wspd,max_temp,precip_total,precip_hrly,snow_hrly,feels_like,Time
0,2021-11-01,51,26,Cloudy,1.0,Rising,43,51,74,29.59,10.0,9.0,68.0,NaN,0.0,NaN,51.0,00:53:00
1,2021-11-01,50,29,Partly Cloudy,NaN,NaN,42,50,74,29.59,10.0,8.0,NaN,NaN,0.0,NaN,50.0,01:30:00
2,2021-11-01,49,33,Fair,NaN,NaN,42,49,77,29.59,10.0,6.0,NaN,NaN,0.0,NaN,47.0,01:53:00
3,2021-11-01,48,33,Fair,NaN,NaN,41,48,77,29.60,10.0,3.0,NaN,NaN,0.0,NaN,48.0,02:53:00
4,2021-11-01,47,33,Fair,1.0,Rising Rapidly,41,47,80,29.61,10.0,0.0,NaN,NaN,0.0,NaN,47.0,03:53:00

In [14]:
#trying to find simplified hour in order to join tables
bna_weather['Time'] = bna_weather['Time'].astype(str)

In [15]:
bna_weather["Hour"] = bna_weather['Time'].str[:2]
bna_weather.head(50)

,Date,temp,wx_icon,wx_phrase,pressure_tend,pressure_desc,dewPt,heat_index,rh,pressure,vis,wspd,max_temp,precip_total,precip_hrly,snow_hrly,feels_like,Time,Hour
0,2021-11-01,51,26,Cloudy,1.0,Rising,43,51,74,29.59,10.0,9.0,68.0,NaN,0.0,NaN,51.0,00:53:00,00
1,2021-11-01,50,29,Partly Cloudy,NaN,NaN,42,50,74,29.59,10.0,8.0,NaN,NaN,0.0,NaN,50.0,01:30:00,01
2,2021-11-01,49,33,Fair,NaN,NaN,42,49,77,29.59,10.0,6.0,NaN,NaN,0.0,NaN,47.0,01:53:00,01
3,2021-11-01,48,33,Fair,NaN,NaN,41,48,77,29.60,10.0,3.0,NaN,NaN,0.0,NaN,48.0,02:53:00,02
4,2021-11-01,47,33,Fair,1.0,Rising Rapidly,41,47,80,29.61,10.0,0.0,NaN,NaN,0.0,NaN,47.0,03:53:00,03
5,2021-11-01,45,33,Fair,NaN,NaN,40,45,82,29.63,8.0,3.0,NaN,NaN,0.0,NaN,45.0,04:53:00,04
6,2021-11-01,46,33,Fair,NaN,NaN,41,46,83,29.63,10.0,6.0,NaN,NaN,0.0,NaN,43.0,05:53:00,05
7,2021-11-01,45,34,Fair,1.0,Rising,40,45,82,29.65,9.0,7.0,NaN,NaN,0.0,NaN,41.0,06:53:00,06
8,2021-11-01,47,34,Fair,NaN,NaN,41,47,80,29.66,9.0,7.0,NaN,NaN,0.0,NaN,44.0,07:53:00,07
9,2021-11-01,50,34,Fair,NaN,NaN,42,50,74,29.69,10.0,6.0,NaN,NaN,0.0,NaN,50.0,08:53:00,08
10,2021-11-01,53,34,Fair,1.0,Rising,42,53,66,29.69,10.0,6.0,NaN,NaN,0.0,NaN,53.0,09:53:00,09
11,2021-11-01,56,34,Fair,NaN,NaN,40,56,55,29.69,10.0,7.0,NaN,NaN,0.0,NaN,56.0,10:53:00,10
12,2021-11-01,59,34,Fair,NaN,NaN,39,59,48,29.68,10.0,6.0,NaN,NaN,0.0,NaN,59.0,11:53:00,11
13,2021-11-01,61,30,Partly Cloudy,2.0,Falling Rapidly,38,61,42,29.66,10.0,7.0,NaN,NaN,0.0,NaN,61.0,12:53:00,12
14,2021-11-01,62,28,Mostly Cloudy,NaN,NaN,36,62,38,29.65,10.0,3.0,NaN,NaN,0.0,NaN,62.0,13:53:00,13
15,2021-11-01,62,28,Mostly Cloudy,NaN,NaN,36,62,38,29.63,10.0,5.0,NaN,NaN,0.0,NaN,62.0,14:53:00,14
16,2021-11-01,62,30,Partly Cloudy,2.0,Falling Rapidly,33,62,34,29.61,10.0,3.0,NaN,NaN,0.0,NaN,62.0,15:53:00,15
17,2021-11-01,61,30,Partly Cloudy,NaN,NaN,34,61,36,29.61,10.0,9.0,NaN,NaN,0.0,NaN,61.0,16:53:00,16
18,2021-11-01,56,33,Fair,NaN,NaN,34,56,44,29.63,10.0,6.0,NaN,NaN,0.0,NaN,56.0,17:53:00,17
19,2021-11-01,54,29,Partly Cloudy,1.0,Rising Rapidly,35,54,49,29.63,10.0,7.0,NaN,NaN,0.0,NaN,54.0,18:53:00,18
20,2021-11-01,54,33,Fair,NaN,NaN,35,54,49,29.64,10.0,7.0,NaN,NaN,0.0,NaN,54.0,19:53:00,19
21,2021-11-01,53,29,Partly Cloudy,NaN,NaN,35,53,50,29.65,10.0,8.0,NaN,NaN,0.0,NaN,53.0,20:53:00,20
22,2021-11-01,52,27,Mostly Cloudy,1.0,Rising,35,52,53,29.66,10.0,8.0,NaN,NaN,0.0,NaN,52.0,21:53:00,21
23,2021-11-01,50,11,Light Rain,NaN,NaN,36,50,59,29.66,10.0,6.0,NaN,NaN,0.0,NaN,50.0,22:53:00,22
24,2021-11-01,50,26,Cloudy,NaN,NaN,36,50,59,29.65,10.0,8.0,NaN,NaN,0.0,NaN,50.0,23:53:00,23
25,2021-11-02,50,26,Cloudy,2.0,Falling,36,50,59,29.65,10.0,6.0,64.0,NaN,0.0,NaN,50.0,00:53:00,00
26,2021-11-02,49,26,Cloudy,NaN,NaN,36,49,61,29.67,10.0,8.0,NaN,NaN,0.0,NaN,45.0,01:53:00,01
27,2021-11-02,48,26,Cloudy,NaN,NaN,37,48,66,29.67,10.0,9.0,NaN,NaN,0.0,NaN,44.0,02:53:00,02
28,2021-11-02,48,26,Cloudy,1.0,Rising,36,48,63,29.68,10.0,12.0,NaN,NaN,0.0,NaN,43.0,03:53:00,03
29,2021-11-02,46,26,Cloudy,NaN,NaN,37,46,71,29.69,10.0,10.0,NaN,NaN,0.0,NaN,41.0,04:53:00,04
30,2021-11-02,46,26,Cloudy,NaN,NaN,35,46,66,29.70,10.0,15.0,NaN,NaN,0.0,NaN,40.0,05:27:00,05
31,2021-11-02,46,26,Cloudy,NaN,NaN,35,46,66,29.71,10.0,9.0,NaN,NaN,0.0,NaN,41.0,05:53:00,05
32,2021-11-02,45,26,Cloudy,NaN,NaN,36,45,71,29.71,10.0,9.0,NaN,NaN,0.0,NaN,40.0,06:13:00,06
33,2021-11-02,45,26,Cloudy,1.0,Rising,36,45,71,29.72,10.0,12.0,NaN,NaN,0.0,NaN,39.0,06:53:00,06
34,2021-11-02,45,26,Cloudy,NaN,NaN,36,45,71,29.72,10.0,9.0,NaN,NaN,0.0,NaN,40.0,07:39:00,07
35,2021-11-02,45,26,Cloudy,NaN,NaN,37,45,74,29.74,10.0,9.0,NaN,NaN,0.0,NaN,40.0,07:53:00,07
36,2021-11-02,45,26,Cloudy,NaN,NaN,37,45,74,29.75,10.0,7.0,NaN,NaN,0.0,NaN,41.0,08:30:00,08
37,2021-11-02,45,26,Cloudy,NaN,NaN,36,45,71,29.75,10.0,9.0,NaN,NaN,0.0,NaN,40.0,08:53:00,08
38,2021-11-02,46,26,Cloudy,1.0,Rising,36,46,68,29.76,10.0,7.0,NaN,NaN,0.0,NaN,42.0,09:53:00,09
39,2021-11-02,46,26,Cloudy,NaN,NaN,35,46,66,29.77,10.0,8.0,NaN,NaN,0.0,NaN,42.0,10:28:00,10
40,2021-11-02,47,26,Cloudy,NaN,NaN,35,47,63,29.77,10.0,9.0,NaN,NaN,0.0,NaN,43.0,10:53:00,10
41,2021-11-02,47,26,Cloudy,NaN,NaN,35,47,63,29.77,10.0,10.0,NaN,NaN,0.0,NaN,42.0,11:53:00,11
42,2021-11-02,49,26,Cloudy,2.0,Falling Rapidly,35,49,59,29.74,10.0,12.0,NaN,NaN,0.0,NaN,44.0,12:53:00,12
43,2021-11-02,51,28,Mostly Cloudy,NaN,NaN,35,51,54,29.72,10.0,7.0,NaN,NaN,0.0,NaN,51.0,13:42:00,13
44,2021-11-02,52,28,Mostly Cloudy,NaN,NaN,36,52,54,29.72,10.0,7.0,NaN,NaN,0.0,NaN,52.0,13:53:00,13
45,2021-11-02,53,30,Partly Cloudy,NaN,NaN,33,53,47,29.71,10.0,5.0,NaN,NaN,0.0,NaN,53.0,14:53:00,14
46,2021-11-02,54,30,Partly Cloudy,2.0,Falling,32,54,43,29.70,10.0,8.0,NaN,NaN,0.0,NaN,54.0,15:53:00,15
47,2021-11-02,52,30,Partly Cloudy,NaN,NaN,31,52,45,29.68,10.0,9.0,NaN,NaN,0.0,NaN,52.0,16:53:00,16
48,2021-11-02,49,29,Partly Cloudy,NaN,NaN,31,49,50,29.68,10.0,6.0,NaN,NaN,0.0,NaN,47.0,17:53:00,17
49,2021-11-02,48,27,Mostly Cloudy,0.0,Steady,32,48,54,29.69,10.0,6.0,NaN,NaN,0.0,NaN,45.0,18:53:00,18

In [16]:
#converting date column in bna_weather to just date
bna_weather['Date'] = pd.to_datetime(bna_weather['Date']).dt.date

In [17]:
#converting time column to hour
headway_data["SCHEDULED_TIME"] = headway_data['SCHEDULED_TIME'].astype(str)

In [18]:
headway_data["Hour"] = headway_data['SCHEDULED_TIME'].str[:2]

In [19]:
MERGETEST1 = headway_data[headway_data["TRIP_ID"].isin([298143.0])]
MERGETEST1

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,Hour
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,12.333333,04
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,0.000000,04
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
5925,120211102,1,76490148,2021-11-02,22,2200,1391,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,0.000000,04
5926,120211102,1,76490149,2021-11-02,22,2200,1391,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
5927,120211102,1,76490150,2021-11-02,22,2200,1391,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,0.000000,04
5928,120211102,1,76490151,2021-11-02,22,2200,1391,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
11818,120211103,1,76532354,2021-11-03,22,2200,1593,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,0.000000,04
11819,120211103,1,76532355,2021-11-03,22,2200,1593,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
11820,120211103,1,76532356,2021-11-03,22,2200,1593,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,0.000000,04
11821,120211103,1,76532357,2021-11-03,22,2200,1593,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
17724,120211104,1,76574570,2021-11-04,22,2200,1611,298143,0,TO DOWNTOWN,...,NaN,1,0,0,0,0.0,0,2,0.000000,04
17725,120211104,1,76574571,2021-11-04,22,2200,1611,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
17726,120211104,1,76574572,2021-11-04,22,2200,1611,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,2.200000,04
17727,120211104,1,76574573,2021-11-04,22,2200,1611,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
23653,120211105,1,76625787,2021-11-05,22,2200,2309,298143,0,TO DOWNTOWN,...,NaN,0,0,0,0,0.0,0,2,NaN,04
23654,120211105,1,76625788,2021-11-05,22,2200,2309,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
23655,120211105,1,76625789,2021-11-05,22,2200,2309,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,2.100000,04
23656,120211105,1,76625790,2021-11-05,22,2200,2309,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
35998,120211108,1,76757207,2021-11-08,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,4.266666,04
35999,120211108,1,76757208,2021-11-08,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
36000,120211108,1,76757209,2021-11-08,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,0.000000,04
36001,120211108,1,76757210,2021-11-08,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
41909,120211109,1,76799251,2021-11-09,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,5.033333,04
41910,120211109,1,76799252,2021-11-09,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,0,0,0.0,0,9,NaN,04
41911,120211109,1,76799253,2021-11-09,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,0.000000,04
41912,120211109,1,76799254,2021-11-09,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
47873,120211110,1,76841243,2021-11-10,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,0.000000,04
47874,120211110,1,76841244,2021-11-10,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,1,0,0,0.0,0,9,0.000000,04
47875,120211110,1,76841245,2021-11-10,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,0.000000,04
47876,120211110,1,76841246,2021-11-10,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
53790,120211111,1,76887104,2021-11-11,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,2.133333,04
53791,120211111,1,76887105,2021-11-11,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
53792,120211111,1,76887106,2021-11-11,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,0.000000,04
53793,120211111,1,76887107,2021-11-11,22,2200,1796,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
59656,120211112,1,76937852,2021-11-12,22,2200,2309,298143,0,TO DOWNTOWN,...,NaN,1,0,0,0,0.0,0,2,0.000000,04
59657,120211112,1,76937853,2021-11-12,22,2200,2309,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
59658,120211112,1,76937854,2021-11-12,22,2200,2309,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,2.666666,04
59659,120211112,1,76937855,2021-11-12,22,2200,2309,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
71992,120211115,1,77053705,2021-11-15,22,2200,778,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,14.233333,04
71993,120211115,1,77053706,2021-11-15,22,2200,778,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,9,0.000000,04
71994,120211115,1,77053707,2021-11-15,22,2200,778,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,1.850000,04
71995,120211115,1,77053708,2021-11-15,22,2200,778,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
77925,120211116,1,77090677,2021-11-16,22,2200,1237,298143,0,TO DOWNTOWN,...,NaN,0,0,0,0,0.0,0,2,NaN,04
77926,120211116,1,77090678,2021-11-16,22,2200,1237,298143,0,TO DOWNTOWN,...,NaN,0,0,0,0,0.0,0,9,NaN,04
77927,120211116,1,77090679,2021-11-16,22,2200,1237,298143,0,TO DOWNTOWN,...,NaN,0,0,0,0,0.0,0,19,NaN,04
77928,120211116,1,77090680,2021-11-16,22,2200,1237,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05
83811,120211117,1,77132554,2021-11-17,22,2200,1419,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,2,13.683333,04
83812,120211117,1,77132555,2021-11-17,22,2200,1419,298143,0,TO DOWNTOWN,...,NaN,1,0,0,0,0.0,0,9,0.000000,04
83813,120211117,1,77132556,2021-11-17,22,2200,1419,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,19,2.683333,04
83814,120211117,1,77132557,2021-11-17,22,2200,1419,298143,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,35,0.000000,05

In [20]:
bna_weather.shape

(9739, 19)

In [21]:
# bna_weather = bna_weather.groupby('Date', as_index=False).max()

In [22]:
bna_weather.head()

,Date,temp,wx_icon,wx_phrase,pressure_tend,pressure_desc,dewPt,heat_index,rh,pressure,vis,wspd,max_temp,precip_total,precip_hrly,snow_hrly,feels_like,Time,Hour
0,2021-11-01,51,26,Cloudy,1.0,Rising,43,51,74,29.59,10.0,9.0,68.0,NaN,0.0,NaN,51.0,00:53:00,00
1,2021-11-01,50,29,Partly Cloudy,NaN,NaN,42,50,74,29.59,10.0,8.0,NaN,NaN,0.0,NaN,50.0,01:30:00,01
2,2021-11-01,49,33,Fair,NaN,NaN,42,49,77,29.59,10.0,6.0,NaN,NaN,0.0,NaN,47.0,01:53:00,01
3,2021-11-01,48,33,Fair,NaN,NaN,41,48,77,29.60,10.0,3.0,NaN,NaN,0.0,NaN,48.0,02:53:00,02
4,2021-11-01,47,33,Fair,1.0,Rising Rapidly,41,47,80,29.61,10.0,0.0,NaN,NaN,0.0,NaN,47.0,03:53:00,03

In [34]:
bna_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9739 entries, 0 to 9738
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9739 non-null   object
 1   temp           9739 non-null   int64
 2   wx_icon        9739 non-null   int64
 3   wx_phrase      9739 non-null   object
 4   pressure_tend  2885 non-null   float64
 5   pressure_desc  2885 non-null   object
 6   dewPt          9739 non-null   int64
 7   heat_index     9739 non-null   int64
 8   rh             9739 non-null   int64
 9   pressure       9739 non-null   float64
 10  vis            9735 non-null   float64
 11  wspd           9731 non-null   float64
 12  max_temp       361 non-null    float64
 13  precip_total   103 non-null    float64
 14  precip_hrly    9739 non-null   float64
 15  snow_hrly      9 non-null      float64
 16  feels_like     9738 non-null   float64
 17  Time           9739 non-null   object
 18  Hour           9739 non-null   object
dtypes: float64(9), int64(5), object(5)
memory usage: 1.4+ MB

In [28]:
headway_data.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,Hour
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,1.983333,0,0,1,0,0.0,0,2,12.650000,14
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,3.333333,0,0,1,0,0.0,0,11,0.000000,14
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,0,1,0,0,NaN,0,23,22.416666,14
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,24,5.766666,15
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,25,0.000000,15

In [29]:
headway_data.rename(columns = {'DATE':'Date'}, inplace = True)
headway_data.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,Date,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,Hour
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,1.983333,0,0,1,0,0.0,0,2,12.650000,14
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,3.333333,0,0,1,0,0.0,0,11,0.000000,14
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,0,1,0,0,NaN,0,23,22.416666,14
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,0,0,1,0,0.0,0,24,5.766666,15
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,0,0,1,0,NaN,0,25,0.000000,15

In [ ]:
#converting date fields into string bc merge is showing all nulls for temp data

In [27]:
# bna_weather.info()

In [26]:
# headway_data.info()

In [43]:
# combined_df = headway_data.merge(bna_weather, on=["Date","Hour"],how="left")

In [48]:
combined_df = bna_weather.merge(headway_data, on=["Date"],how="right")

In [49]:
combined_df.shape

(1981715, 49)

In [ ]:
# combined_df = combined_df.drop(['OVERLOAD_ID','CALENDAR_ID','BLOCK_STOP_ORDER','feels_like','STOP_CANCELLED','PREV_SCHED_STOP_CANCELLED','DWELL_IN_MINS','SERVICE_ABBR','BLOCK_ABBR','ADJUSTED_EARLY_COUNT','ADJUSTED_LATE_COUNT','ADJUSTED_ONTIME_COUNT','IS_RELIEF','wx_icon','pressure_tend'], axis=1)

In [50]:
combined_df.isna().sum()

Date                               0
temp                         1981715
wx_icon                      1981715
wx_phrase                    1981715
pressure_tend                1981715
pressure_desc                1981715
dewPt                        1981715
heat_index                   1981715
rh                           1981715
pressure                     1981715
vis                          1981715
wspd                         1981715
max_temp                     1981715
precip_total                 1981715
precip_hrly                  1981715
snow_hrly                    1981715
feels_like                   1981715
Time                         1981715
Hour_x                       1981715
CALENDAR_ID                        0
SERVICE_ABBR                       0
ADHERENCE_ID                       0
ROUTE_ABBR                         0
BLOCK_ABBR                         0
OPERATOR                           0
TRIP_ID                            0
OVERLOAD_ID                        0
ROUTE_DIRECTION_NAME               0
TIME_POINT_ABBR                    0
ROUTE_STOP_SEQUENCE               41
TRIP_EDGE                          0
LATITUDE                           0
LONGITUDE                          0
SCHEDULED_TIME                     0
ACTUAL_ARRIVAL_TIME            54383
ACTUAL_DEPARTURE_TIME          54430
ADHERENCE                      54430
SCHEDULED_HDWY                432294
ACTUAL_HDWY                   473824
HDWY_DEV                      474368
ADJUSTED_EARLY_COUNT               0
ADJUSTED_LATE_COUNT                0
ADJUSTED_ONTIME_COUNT              0
STOP_CANCELLED                     0
PREV_SCHED_STOP_CANCELLED     402647
IS_RELIEF                          0
BLOCK_STOP_ORDER                   0
DWELL_IN_MINS                  54456
Hour_y                             0
dtype: int64

In [47]:
combined_df.head(50)

,Date,temp,wx_icon,wx_phrase,pressure_tend,pressure_desc,dewPt,heat_index,rh,pressure,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
5,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,0.0,0,2,12.333333
6,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,0.0,0,9,0.000000
7,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,0.0,0,19,0.000000
8,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,35,0.000000
9,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,0.0,0,36,11.383333
10,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,0.0,0,52,0.000000
11,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,63,0.000000
12,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.633333,-0.366667,0,0,1,0,0.0,0,64,9.400000
13,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.866666,0.866666,0,0,1,0,0.0,0,71,0.000000
14,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.983333,-1.016667,0,0,1,0,0.0,0,81,0.000000
15,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,97,0.000000
16,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.116666,1.116666,0,0,1,0,0.0,0,98,11.366666
17,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.400000,0.400000,0,0,1,0,0.0,0,114,0.000000
18,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,125,0.000000
19,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.233333,0.233333,0,0,1,0,0.0,0,126,8.816666
20,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.416666,5.416666,0,1,0,0,0.0,0,133,0.000000
21,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.066666,10.066666,0,1,0,0,0.0,0,143,0.000000
22,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,1,0,0,NaN,0,159,0.000000
23,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.366666,3.366666,0,0,1,0,0.0,0,160,3.883333
24,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.333333,-3.666667,0,0,1,0,0.0,0,176,0.000000
25,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,0.0,0,183,0.000000
26,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,190,0.000000
27,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.533333,-1.466667,0,0,1,0,0.0,0,191,4.350000
28,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.883333,2.883333,0,0,1,0,0.0,0,207,0.000000
29,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,223,0.000000
30,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.183333,1.183333,0,0,1,0,0.0,0,224,9.333333
31,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.800000,4.800000,0,1,0,0,0.0,0,240,0.000000
32,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,1,0,0,NaN,0,251,0.000000
33,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.400000,0.400000,0,0,1,0,0.0,0,252,3.616666
34,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.916666,-0.083334,0,0,1,0,0.0,0,268,0.000000
35,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,284,0.000000
36,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.683333,-2.316667,0,0,1,0,0.0,0,285,12.883333
37,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.433333,2.433333,0,0,1,0,0.0,0,301,0.000000
38,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,312,0.000000
39,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.866666,-0.133334,0,0,1,0,0.0,0,313,2.183333
40,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.083333,0.083333,0,0,1,0,0.0,0,329,0.000000
41,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,345,0.000000
42,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.000000,-1.000000,0,0,1,0,0.0,1,346,9.833333
43,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.400000,1.400000,0,0,1,0,0.0,0,362,0.000000
44,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,368,0.000000
45,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.650000,-4.350000,0,0,1,0,0.0,0,369,8.183333
46,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.016666,-1.983334,0,0,1,0,0.0,0,385,0.000000
47,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.200000,1.200000,0,0,1,0,0.0,0,393,0.000000
48,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.566666,-2.433334,0,0,1,0,0.0,0,405,0.000000
49,2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,1,0,NaN,0,421,0.000000